p{
    text-align: justify;
}
li{
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

a{
  color: #1075bc;
}


.p1{
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding-top: 20px;
  }
  .aboutUsText{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 61px;
  }
  
  .secondParaText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }
  .heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  
  #headrer_dvi{
    background-color:black;
    }
    
    .cartHead{
        width: 100%;
        height: 234px !important    ;
        background: linear-gradient(89.75deg, #6bb3e8 0.42%, #0368b4 52.47%), #0368b4;
        // background: linear-gradient(180deg, #AF71FE 0%, rgba(224, 79, 248, 0.6875) 31.25%, rgba(234, 104, 255, 0.375) 62.5%, rgba(255, 255, 255, 0) 100%), #44059D;
      }
      .orderSummeryDiv{
        justify-content: left;
        display: flex;
        align-items: center;
      }
    
      .mobileVisible{
        display:none;
      }
      .desktopVisible{
        display:block;
      }
    
      .summaryImg{
        width: 300px;
        height: 235.98px;
        float: right;
        padding-top: 20px;
        // margin-right: 70px;
      }
    
      .marginRight{
        margin-right: 70px;
      }
      .marginLeft{
        margin-left: 70px;;
      }
      .orderSummery{
        height: 34px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
      
      }
    
    @media screen
    and (max-device-width : 480px) {
    
        li{
            text-align: justify;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
        }
        
        .p1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            padding-top: 20px;
          }

      .orderSummery{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
    
    
        color: #FFFFFF;
    
      }

      .aboutUsText{
        padding-left: 20px;
        padding-right: 20px;
    }
        
        .marginRight{
            margin-right: 20px;;
          }
          .marginLeft{
            margin-left: 20px;;
          }
    
        .mobileVisible{
            display:flex;
          }
          .desktopVisible{
            display:none;
          }
    
          .summaryImg{
            width: 192px;
            height: 109px;
            margin-top: 25px;      
            padding-top: 0px;
        
          }
    
        .cartHead{
            width: 100% !important;
            height: 138px !important;
            // left: 0px;
            // top: 45px;
            // background: linear-gradient(180deg, #AF71FE 0%, rgba(224, 79, 248, 0.6875) 31.25%, rgba(234, 104, 255, 0.375) 62.5%, rgba(255, 255, 255, 0) 100%), #44059D;
          }
    
        .lablePadding{
            padding-right: 10px !important;
            padding-top: 10px !important;
            padding-left: 10px !important;
        }
    }