<section style="    margin-top: 50px;">

  <div fxLayout="row wrap" class="cartHead" fxFlexFill>
    <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
      <span class="orderSummery marginLeft">Terms of Service</span>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%"
      style="padding: 0px;    padding-bottom: 10px; ">
      <img src="./assets/images/terms.svg" alt="Card image cap" class=" desktopVisible summaryImg marginRight">
      <img src="./assets/images/terms.svg" alt="Card image cap" class="mobileVisible summaryImg ">
    </div>
  </div>

  <div class="aboutUsText">
    <p class="initText">Welcome to CoursEdge. Please read these Terms of Service ("TOS") prior to registering for an
      account
      on CoursEdge.org or using any portion of the CoursEdge website or mobile applications (collectively, the
      "CoursEdge Site," which consists of all content and pages located within the CoursEdge.org web domain and all
      CoursEdge mobile applications). The TOS between you and CoursEdge. By using the CoursEdge Site, you accept and
      agree to be legally bound by the Agreements, whether or not you are a registered user. Please also read the
      <a  [routerLink]="['/policies']" target="_blank" rel="noopener noreferrer" >Privacy Policy</a> for the CoursEdge Site before you use any portion of the CoursEdge Site. 
      The Privacy Policy describes how your personal data is collected and processed when you use the CoursEdge Site. If you do not
      understand or do not wish to be bound by the terms of the Agreements or <a [routerLink]="['/policies']" target="_blank" rel="noopener noreferrer" >Privacy Policy</a>, you should not use the
      CoursEdge Site.</p>

    <p class="initText">

      CoursEdge reserves the right to modify these TOS at any time without advance notice. Any changes to these TOS will
      be effective immediately upon posting on this page, with an updated effective date. By accessing the CoursEdge
      Site after any changes have been made, you signify your agreement on a prospective basis to the modified TOS and
      all of the changes. Be sure to return to this page periodically to ensure familiarity with the most current
      version of these TOS.
    </p>

    <p class="p1">These TOS are organized as follows:</p>
    <ul>
      <li> User accounts</li>
      <li> Certificates and other Products & Services</li>
      <li> Trademarks</li>
      <li> Digital Millennium Copyright Act</li>
      <li> Disclaimers of Warranty / Limitations of Liabilities</li>
      <li> Indemnification</li>
      <li> Additional Terms</li>
    </ul>

    <p class="p1">USER ACCOUNTS</p>

    <p class="initText">

      In order to create a user account, you must provide your full name, an email address, and a user password. You
      agree that you will never divulge or share access or access information for your user account with any third party
      for any reason. In setting up your user account, you may be prompted to enter additional optional information
      (e.g., your year of birth). You represent that all information provided by you is accurate and current. You agree
      to maintain and update your information to keep it accurate and current.
      <br />
      We care about the confidentiality and security of your personal information. 
      Please see the <a [routerLink]="['/policies']" target="_blank" rel="noopener noreferrer" >Privacy Policy</a> for
      more information about the collection and use of data on the CoursEdge Site.

      <br /> <br />
      <strong>Use for Personalization</strong><br /><br />

      Our goal is to provide current and future visitors to the CoursEdge Site with the best possible
      experience. To further this goal, we sometimes personalize the experience to the individual site visitor.

    </p>

    <p class="p1">CERTIFICATES AND OTHER PRODUCTS & SERVICES</p>
    <p class="initText">
    <strong>Generally </strong><br /><br />
      From time to time, CoursEdge and the colleges, universities, and other institutions providing courses and programs
      on the CoursEdge Site (collectively, the "Member Institutions") may offer services and products for a fee (for
      example, course and program certificates). For anything that you choose to purchase on the CoursEdge Site, you
      agree to pay all applicable fees when due. As described in the
       <a [routerLink]="['/policies']" target="_blank" rel="noopener noreferrer" >Privacy Policy</a>, the processing of your payment
      information is done by a third-party payment vendor, and you will be routed to a secure payment flow controlled by
      that vendor to complete the payment transaction. Once your payment transaction is completed, an CoursEdge
      confirmation page will be displayed, and you will receive a confirmation email with your name, order number, and
      the payment amount. Please retain this email for your records as this information will be required if you seek a
      refund from the Member Institution, as described below.

      <br /> <br/> <strong>Certificates</strong><br /><br />
      CoursEdge in collaboration with the Member Institutions may offer certificates for learners who, in the Members’
      judgment, have satisfactorily demonstrated mastery of the course or program material. Certificates will be issued
      by CoursEdge under the name of the underlying Member Institution(s) from where the course or program originated.
      The decision whether a certificate will be awarded to a given learner will be solely within the discretion of the
      awarding Member Institution. Subject to the foregoing, you will be required to pay a fee for a course or program
      certificate.

      <br /><br/>  <strong>Refunds</strong><br /><br />
      Course fees and other purchases on the CoursEdge Site may be eligible for a refund for a period of time (in each
      case, the “Refund Period”). The applicable Refund Period for some products and services are described below. To
      receive a refund during the Refund Period, simply email the Member Institution (contact information is on the
      Member Institution’s site) and the refund will be processed. Refunds will be credited to the payment account used
      for the purchase and may take up to two billing cycles to process. If the applicable Refund Period for a purchase
      has passed, but you believe a refund is warranted, please submit a request to the Member Institution (contact
      information is on the Member Institution’s site). The Member Institution’s refund policies apply. <br />
      <br/> 
      Coupon codes and other course entitlements are subject to expiration and any other conditions stated at the time
      of purchase.
    </p>

    <p class="p1">TRADEMARKS</p>
    <p class="initText">


      The "CoursEdge" name and logo are the property of CoursEdge and you may not use any of these Trademarks, or any
      variations thereof, without the owner's prior written consent. You may not use any of these Trademarks, or any
      variations thereof, for promotional purposes, or in any way that deliberately or inadvertently claims, suggests
      or, in the owner’s sole judgment, gives the appearance or impression of a relationship with or endorsement by the
      owner.
      <br />
      <br/> 
      All Trademarks not owned by CoursEdge that appear on the CoursEdge Site or on or through the services made
      available on or through the CoursEdge Site, if any, are the property of their respective owners.<br />
      Nothing contained on the CoursEdge Site should be construed as granting, by implication, estoppel, or otherwise,
      any license or right to use any Trademark displayed on the CoursEdge Site without the written permission of the
      owner of the applicable Trademark.


    </p>

    <p class="p1">DIGITAL MILLENNIUM COPYRIGHT ACT</p>
    <p class="initText"> CoursEdge's designated copyright agent at 
      <a href="mailto: support@coursedge.org"><strong>support@coursedge.org</strong></a> or at CoursEdge, ADDRESS
      Attention: CoursEdge
      DMCA Agent </p>


    <p class="p1">DISCLAIMERS OF WARRANTY / LIMITATIONS OF LIABILITIES <br /><br />


      THE COURSEDGE SITE AND ANY INFORMATION, CONTENT OR SERVICES MADE AVAILABLE ON OR THROUGH THE COURSEDGE SITE ARE
      PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND (EXPRESS, IMPLIED OR OTHERWISE), INCLUDING,
      WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
      NON-INFRINGEMENT, EXCEPT INSOFAR AS ANY SUCH IMPLIED WARRANTIES MAY NOT BE DISCLAIMED UNDER APPLICABLE LAW.<br />

      <br/> 
      COURSEDGE AND THE COURSEDGE MEMBER INSTITUTIONS DO NOT WARRANT THAT THE COURSEDGE SITE WILL OPERATE IN AN
      UNINTERRUPTED OR ERROR-FREE MANNER, THAT THE COURSEDGE SITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
      COURSEDGE AND THE COURSEDGE PARTICIPANTS ALSO MAKE NO WARRANTY ABOUT THE ACCURACY, COMPLETENESS, TIMELINESS, OR
      QUALITY OF THE COURSEDGE SITE, OR THAT ANY PARTICULAR COURSES WILL CONTINUE TO BE MADE AVAILABLE.<br />
      <br/> 
      USE OF THE COURSEDGE SITE, AND THE CONTENT AND SERVICES OBTAINED FROM OR THROUGH THE COURSEDGE SITE, IS AT YOUR
      OWN RISK. YOUR ACCESS TO OR DOWNLOAD OF INFORMATION THROUGH THE COURSEDGE SITE IS AT YOUR OWN DISCRETION AND RISK,
      AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY (INCLUDING YOUR COMPUTER SYSTEM) OR LOSS OF
      DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF SUCH MATERIAL OR DATA, UNLESS OTHERWISE EXPRESSLY PROVIDED FOR IN
      THE PRIVACY POLICY.



    </p>

    <p class="p1">INDEMNIFICATION</p>
    <p class="initText">
      You agree to defend, hold harmless, and indemnify CoursEdge and the CoursEdge Member Institutions, Partners, and
      their respective subsidiaries, affiliates, officers, governing board members, agents and employees from and
      against any third-party claims, actions, or demands arising out of, resulting from or in any way related to your
      use of the CoursEdge Site, including any liability or expense arising from any and all claims, losses, damages
      (actual and consequential), suits, judgments, litigation costs, and attorneys' fees, of every kind and nature. In
      such a case, CoursEdge or the applicable CoursEdge Participant will provide you with written notice of such claim,
      suit, or action.

    </p>

    <p class="p1">ADDITIONAL TERMS</p>

    <p class="initText">
     <strong>Termination Rights; Discontinuation of Courses</strong><br /><br />
      You agree that CoursEdge, in its sole discretion, may terminate your use of the CoursEdge Site or your
      participation
      in it, for any reason or no reason, upon notice to you. CoursEdge and the CoursEdge Member Institutions reserve
      the
      right at any time in their sole discretion to cancel, delay, reschedule or alter the format of any course offered
      through CoursEdge, or to cease providing any part or all of the CoursEdge Site content or related services, and
      you
      agree that neither CoursEdge nor any of the CoursEdge Participants will have any liability to you for such an
      action. If you no longer desire to participate in the CoursEdge Site, you may terminate your participation at any
      time. The rights granted to you hereunder will terminate upon any termination of your right to use the CoursEdge
      Site, but the other provisions of the Agreements will survive any such termination.

      <br /><br/>  <strong>Entire Agreement</strong><br /><br />
      The Agreement constitute the entire between you and CoursEdge with respect to your use of the CoursEdge Site,
      superseding any prior agreements between you and CoursEdge regarding your use of the CoursEdge Site.

      <br /><br/>  <strong> Waiver and Severability</strong><br /><br />
      The failure of CoursEdge to exercise or enforce any right or provision of the Agreements shall not constitute a
      waiver of such right or provision. If any provision of the Agreements is found by a court of competent
      jurisdiction
      to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties'
      intentions as reflected in the provision and the other provisions of the Agreements shall remain in full force and
      effect.
      <br /> <br/> <strong>Choice of Law/Forum Selection</strong><br /><br />
      You agree that the Agreements and any claim or dispute arising out of or relating to the Agreements or any content
      or service obtained from or through the CoursEdge Site will be governed by the laws of STATE, excluding its
      conflicts of law provisions. You agree that all such claims and disputes will be heard and resolved exclusively in
      the federal or state courts located in and serving CITY/STATE, U.S.A. You consent to the personal jurisdiction of
      those courts over you for this purpose, and you waive and agree not to assert any objection to such proceedings in
      those courts (including any defense or objection of lack of proper jurisdiction or venue or inconvenience of
      forum).

      <br /><br/>  <strong>Effective Date:</strong><br />
      January 22, 2021.
    </p>


  </div>
</section>
<section>
  <app-footer ></app-footer> 

</section>