/* You can add global styles to this file, and also import other style files */
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css");

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// * {
//   box-sizing: border-box;
//   font-size: 44px;
//   font-family: 'Montserrat';
// }
.ng-placeholder{
  z-index: 0 !important;
}
.ng-sidebar{
  width:80% !important;
  background: transparent;
  z-index: 2 !important;
  top: 60px !important;
  // background: grey !important;
}
.spinnerText{
  color: white !important;
  padding-top:20px;
  z-index: 99999 !important;
}
.alerttRadius{
  padding: .3rem !important;
}

:focus {outline:0 !important;}
::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 7px !important;
  cursor: pointer !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgba(0, 0, 0, .5) !important;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
  cursor: pointer !important;
}

body, html {
  height: 100%;
}

.fa{
  color: white !important;
}

.startColor{
  color:#FFC107 !important
}
.courseMenuRating{
  color:white !important;
}
.startRating{
  width: 20px;
  height: 15px;
  font-family: Montserrat-bold !important;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #000000;
}

.globalThemeBG{
  
    background: #5396d2 !important ;
  // background: #ff8f5c !important;
  //background:#ff4646 !important;
}
.globalThemeColor{
  color: #5396d2 !important;
  //color:#ff4646 !important;
}
.bgText{
  color:white !important;
}
.globalThemeFT{
  color: #5396d2 !important;
  //color:#ff4646 !important;
}
.owl-item {
  width: max-content !important;
}
body {
  font-family: 'Helvetica', sans-serif;
  background-color:white;
  position: relative;
  font-weight:400;
  margin-left: auto;
  margin-right: auto;
  // color: #696763;
  margin-top: 0%;
}
.formatDiv{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 100%;
}

.alertLabel{
  height: 100% !important;
  padding: 0px !important;
  }

input[type="search"] {
  -webkit-appearance: textfield;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.navLink{
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;

  // color: black !important;
  // font-family: Helvetica, sans-serif;
  // font-size: 14px;
  // font-weight: 400;
}
.navbar{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
.globalFont{
  font-family: Helvetica !important;
}

.navButtonPadding{
  padding-right: 5px !important;
  // padding-left: 5px !important;
}
.mobileListOption{
  
  text-align: center;
  cursor: pointer !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-family: Helvetica, sans-serif !important;
  font-size: 14px !important;
  // background:#f7b92c !important;
  color: black !important;
  font-weight: 520;
  // border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

$spacing-unit: 16px;
$half-spacing-unit: $spacing-unit / 2;
$quarter-spacing-unit: $spacing-unit / 4;



.bottomLabel{
  position: inherit;
  height: 6% !important;
  // background-color: #f3be5f;
  left: 0;
  right: 0;
  bottom: 0px;
}
.onSelectCircle{
  box-shadow: 0px 0px 4px #f3be5f;
    border: #f3be5f solid 1px !important;
    background-color: white;
    border-radius: 60px !important;
}
$bkBtnSize: 52px;
.bk-btn {
  height: $bkBtnSize;
  width: $bkBtnSize;
  background-color: #f3be5f;
  border-radius: 50%;
  .bk-btn-triangle {
    position: relative;
    top: $bkBtnSize*0.25;
    left: $bkBtnSize*0.2;
    width: 0; 
    height: 0; 
    border-top: $bkBtnSize*0.25 solid transparent;
    border-bottom: $bkBtnSize*0.25 solid transparent; 
    border-right: $bkBtnSize*0.25 solid white; 
  }
  .bk-btn-bar {
    position: relative;
    background-color: white;
    height: $bkBtnSize*0.15;
    width: $bkBtnSize*0.25;
    top: $bkBtnSize*-0.07;
    left: $bkBtnSize*0.44;
  }
}

* {
	box-sizing: inherit;
}
.alertFontSize{
  font-family: Montserrat !important;
  font-size: 14px !important;
  color:white !important;
}

.alertCss{
  color: black !important;
  height: auto !important;
  float: right !important;
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  border-right-width: 6px !important;
 
}

.spanNav{
  font-size: 14px;
  text-align: center !important;
  background: transparent;
}

.homeLable{
  float: left;
  //padding-left: 50px;
}
.navBar{
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}
.oldColor{
  border: none !important;
  color: #ffffff !important;
}
.selColor{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
}

@media only screen
and (max-device-width : 320px) {
  .bottomLabel{
    position: inherit;
    height: 6% !important;
    // background-color: #f3be5f;
    left: 0;
    right: 0;
    bottom: 0px;
}
.mobileListOption{
  font-size: 17px !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 0px !important;
  cursor: pointer !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
  background-color: rgba(0, 0, 0, .5) !important;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
  cursor: pointer !important;
}
.ng-sidebar{
  width:90% !important;
  background: white;
  z-index: 2 !important;
  // background: grey !important;
}

}

@media only screen
and (max-device-width : 360px) {
//   .bottomLabel{
//     position: inherit;
//     height: 6% !important;
//     // background-color: #f3be5f;
//     left: 0;
//     right: 0;
//     bottom: 0px;
// }
// .mobileListOption{
//   font-size: 17px !important;
// }
.spinnerText{
  padding-top:100px !important;
}
::ng-deep .loading-text{
  width: 90% !important;
}

}
@media screen
and (max-device-width : 480px) {

  .spinnerText{
    padding-top:80px;
  }
  ::ng-deep .loading-text{
    width: 85% ;
  }
  .navBar{
    font-family: Montserrat;
    font-size: 11px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
  }
  .ng-sidebar{
    width:90% !important;
    background: white;
    z-index: 2 !important;
    // background: grey !important;
  }
  .spanNav{
    font-size: 12px;
    text-align: center !important;
  }

  .homeLable{
    float: left;
    padding-left: 10px;
  }



  ::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 0px !important;
    cursor: pointer !important;
    visibility: hidden;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: rgba(0, 0, 0, .5) !important;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
    cursor: pointer !important;
    visibility: hidden;
  }

  .alertCss{
      height: auto !important;
      float: right !important;
      width: 100% !important;
      padding-right: 15px !important;
      
  }

  .bottomLabel{
    position: inherit;
    height: 6% !important ;
    // background-color: #f3be5f;
    left: 0;
    right: 0;
    bottom: -3px;
}
.mobileListOption{
  font-size: 17px !important;
}
 
}

@media (max-width: 768px) {

  ::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 0px !important;
    cursor: pointer !important;
    visibility: hidden;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: rgba(0, 0, 0, .5) !important;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
    cursor: pointer !important;
    visibility: hidden;
  }
  
  .alertCss{
    height: auto !important;
    float: right!important;
    width: 100% !important;
    padding-right: 15px !important;
  }
  .mobileListOption{
    font-size: 17px !important;
  }

  .bottomLabel{
    position: inherit;
    height: 6% !important ;
    // background-color: #f3be5f;
    left: 0;
    right: 0;
    bottom: 0px;
}

}

.pn-ProductNav {
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* If JS present, let's hide the default scrollbar */
    .js & {
        /* Make an auto-hiding scroller for the 3 people using a IE */
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /* Remove the default scrollbar for WebKit implementations */
        &::-webkit-scrollbar {
            display: none;
        }
    }
	/* positioning context for advancers */
	position: relative;
	// Crush the whitespace here
	font-size: 0;
}

.pn-ProductNav_Contents {
	float: left;
	transition: transform .2s ease-in-out;
	position: relative;
}

.pn-ProductNav_Contents-no-transition {
	transition: none;
}

.pn-ProductNav_Link {
	text-decoration: none;
	color: #888;
	// Reset the font size
	font-size: 1.2rem;
	font-family: Helvetica, sans-serif !important;
	display: inline-flex;
	align-items: center;
	min-height: 44px;
	border: 1px solid transparent;
	padding: 0 11px;
	& + & {
		border-left-color: #eee;
	}
	&[aria-selected="true"] {
		color: #111;
	}
}

.pn-Advancer {
	/* Reset the button */
	appearance: none;
	background: transparent;
	padding: 0;
	border: 0;
	&:focus {
		outline: 0;
	}
	&:hover {
		cursor: pointer;
	}
	/* Now style it as needed */
	position: absolute;
	top: 0;
	bottom: 0;
	/* Set the buttons invisible by default */
	opacity: 0;
	transition: opacity .3s;
}

.pn-Advancer_Left {
	left: 0;
	[data-overflowing="both"] ~ &,
	[data-overflowing="left"] ~ & {
		opacity: 1;
	}
}

.pn-Advancer_Right {
	right: 0;
	[data-overflowing="both"]  ~ &,
	[data-overflowing="right"] ~ & {
		opacity: 1;
	}
}

.pn-Advancer_Icon {
	width: 20px;
	height: 44px;
	fill: #bbb;
}

.pn-ProductNav_Indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100px;
	background-color: transparent;
	transform-origin: 0 0;
	transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

$open-sans: 'Open Sans', 'Helvetica', sans-serif;

$darkNavy: #f3be5f;
$teal1: #f3be5f;
$teal2: #f3be5f;
$charcoal: #555555;
$gold: #B6985A;

$activeShadow: 0 0 10px rgba($teal1, .5);

/* MIXINS */
@mixin focusOutline {
  outline: dotted 1px #CCC;
   outline-offset: .45rem;}
@mixin hideInput {width: 0; height: 0; position: absolute; left: -9999px;}
@mixin breakpoint($point) {
	@if $point == 1100 {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == 800 {
		@media (max-width: 800px) { @content ; }
	}
}


/* TOGGLE STYLING */


/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
.status {
	margin: 0;
	font-size: 1rem; font-weight: 400;
	span {
		font-weight: 600; color: $gold;
		&:first-of-type {display: inline;}
		&:last-of-type {display: none;}
	}
	@include breakpoint(800) {
		span {
			&:first-of-type {display: none;}
			&:last-of-type {display: inline;}			
		}
	}
}

.demo {
  height: 100%;
  width: 100%;
}
.globalColor{
  background-image:repeating-linear-gradient(45deg,#ffffff 0%, white 30%, white 10%, white) ;
}
.globalText {
  color:#696763 !important;
}
.demo-header {
  align-items: center;
  display: flex;
  padding: 1em;
}

  .demo-header__toggle {
    background: transparent;
    border-left: 0;
    border-right: 0;
    
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;

    &::after {
    
      content: '';
      height: 0.15rem;
      left: 0;
      margin-top: -0.075rem;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

.demo-sidebar {
  background-color: #fff;
  // padding: 1em 1em;

  padding-top: 10px;

  &.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }
}




.menuCuisine {
  width: 100%;
  text-align: center;
  h1 {
    
    color: white;
  }
  input[name="menuCuisine"] {
    display: none;
    &:checked {
      + .box {
        background-color: green;
        span {
          color: white;
          transform: translateY(70px);
          &:before {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }
  .box {
    width: 200px;
    height: 200px;
    background-color: white;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
   
    font-weight: 900;
    &:active{
      transform: translateY(10px);
    }
    span {
      position: absolute;
      transform: translate(0, 60px);
      left: 0;
      right: 0;
      transition: all 300ms ease;
      font-size: 1.5em;
      user-select: none;
      color: green;
      &:before {
        font-size: 1.2em;
        font-family: Helvetica, sans-serif !important;;
        display: block;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 300ms ease-in-out;
        font-weight: normal;
        color: white;
      }
    }
  }
  .front-end {
    span {
      &:before {
        content: '\f121';
      }
    }
  }
  .back-end {
    span {
      &:before {
        content: '\f0f4';
      }
    }
  }
  
  /* Made by */
  p {
    color: white;
    
    font-weight: 400;
    span {
      &:after {
        content: '\f0e7';
        // font-family: FontAwesome;
        color: yellow;
      }
    }
  }
}

// .middle {
//   width: 100%;
//   text-align: center;
//   h4 {
//     color: #e8e8e8;
//   }
//   input[name="event"] {
//     display: none;
//     &:checked { + .box {
//       background: white;
//       box-shadow:  0px 0px 0px 5px #f3be5f;
     
//       //  box-shadow: 0px 0px 2px #e8e8e8;
//         span {
//           color: black;
//           transform: translateY(14px);
         
//           &:before {
//             transform: translateY(0px);
//             opacity: 0;
           
//           }
//         }
//       }
//     }
//   }
//   .box {
//     // width: 41px;
//     // height: 10px;
//     width: 100%  !important;
//     height: 10px;
//     background-color: #e8e8e8;
//     transition: all 250ms ease;
//     will-change: transition;
//     display: inline-block;
//     text-align: center;
//     cursor: pointer;
//     position: unset;
//     font-weight: 400;
//     &:active{
//       transform: translateY(5px);
//     }
//     span {
//       position: absolute;
//       transform: translate(0, 15px);
//       font-family: Montserrat;
//       color:#1c1c1c;
//       text-align: center;
//       font-style: italic;
//       left: 0;
//       right: 0;
//       transition: all 300ms ease;
     
//       user-select: none;
//       color: #696763;
//       &:before {
//         font-size: 1.2em;
       
//         display: block;
//         transform: translateY(-10px);
//         opacity: 0;
//         transition: all 300ms ease-in-out;
//         font-weight: normal;
//         color: #ed1f24;
//       }
//     }
//   }
//   .front-end {
//     span {
//       &:before {
//         content: '\f121';
//       }
//     }
//   }
//   .back-end {
//     span {
//       &:before {
//         content: '\f0f4';
//       }
//     }
//   }
  
//   /* Made by */
//   p {
//     color: grey;
  
//     font-weight: 400;
//     span {
//       &:after {
//         // content: '\f0e7';
//         // font-family: FontAwesome;
//         // color: yellow;
//       }
//     }
//   }
// }

.middle {
  width: auto !important;
  max-width: 100% !important;
  text-align: center;
  h4 {
    color: white;
  }
  input[name="events"] {
    display: none;
    &:checked { + .box {
      background: white;
      //  box-shadow:  0px 0px 0px 3px #f3be5f;
    // box-shadow: 0px 2px 0px 0px #f3be5f;
      //  box-shadow: 0px 0px 0px 1px #f3be5f;
       
        font-style: normal;
        color:#44059D !important;
      //  box-shadow: 0px 0px 2px #e8e8e8;
        span {
          //color: black;
          color:#44059D !important;
          // transform: translateY(0px);
         
          &:before {
            // transform: translateY(0px);
            opacity: 0;
           
          }
        }
      }
    }
  }
  input[name="event"] {
    display: none;
    &:checked { + .box {
      background: white;
      //  box-shadow:  0px 0px 0px 3px #f3be5f;
    // box-shadow: 0px 2px 0px 0px #f3be5f;
      //  box-shadow: 0px 0px 0px 1px #f3be5f;
       
        font-style: normal;
        color:#ff8f5c !important;
      //  box-shadow: 0px 0px 2px #e8e8e8;
        span {
          //color: black;
          color:#ff8f5c !important;
          // transform: translateY(0px);
         
          &:before {
            // transform: translateY(0px);
            opacity: 0;
           
          }
        }
      }
    }
  }
  .box {
    // width: 21px;
    // height: 21px;
    width: auto !important;
    max-width: 100% !important;
    // height: 32px;
    background-color: white;
    // transition: all 250ms ease;
    // will-change: transition;
    display: flex;
    text-align: center;
    cursor: pointer;
    position: unset;
    font-weight: 400;
    &:active{
      // transform: translateY(0px);
    }
    span {
      position: inherit !important; 
      // padding-left: 10px; 
      padding-right: 10px;
      position: absolute;
      // transform: translate(0, 0px);
      font-family: Helvetica, sans-serif !important;;
     // color:#1c1c1c;
      text-align: center;
      font-style: normal;
      left: 0;
      right: 0;
      // transition: all 300ms ease;
     
      user-select: none;
      color: #696763;
      &:before {
        font-size: 1.2em;
       
        display: block;
        // transform: translateY(0px);
        opacity: 0;
        // transition: all 300ms ease-in-out;
        font-weight: normal;
        color: #44059D;
      }
    }
  }
  .front-end {
    span {
      &:before {
        content: '\f121';
      }
    }
  }
  .back-end {
    span {
      &:before {
        content: '\f0f4';
      }
    }
  }
  
  /* Made by */
  p {
    color: grey;
  
    font-weight: 400;
    span {
      &:after {
        // content: '\f0e7';
        // font-family: FontAwesome;
        // color: yellow;
      }
    }
  }
}




.demo-contents {
  padding: 0 2em;
}

.demo-control {
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;

  &:hover {
    background-color: darkgrey;
    color: white;
  }
}
/*Header */
.customHeader{
	color:black;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size:20px;
}
.customHeadrContainer{ 
    height:50px;
}
.customCart{
   padding:15px;
}
.footer{
  width: 100%; 
  background:#000000d4;
  padding-bottom: 50px;
  // height: 321px !important;
  background: #000000;
}

/*footer*/
.customIcon{
	  // padding-left: 5px;
    // padding-right: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.customToggler{
	font-size: inherit;
	border:none;
	padding:5px;
}
.customFooter{
	background-color: #E8EBF5;
}

/* Common Css */
.customContainer{
  /* max-resolution: top 5y,0px; */
  margin-top:0%;
	margin-bottom:.25%;
}
.customColum{
	margin-top:25px;
}
.customCardTitle{
	color:white;
	cursor:pointer;
}

.fixed-top{
  top: -8px !important;
  left: -6px;
  padding: 7px;
  padding-left: 12px;
}
