.butttonDiv{
    text-align: center;
    padding-top: 10px;
    font-family: Montserrat !important;;
}

::ng-deep .cdk-overlay-pane {
    display: flex !important;
}

@media screen
and (max-device-width : 480px) {

::ng-deep .cdk-overlay-pane {
    display: contents !important;
}

}