<h3 mat-dialog-title style="
    letter-spacing: 1px;
    line-height: 20px;
    font-family: Montserrat-med !important;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;">Request for Trainer/Tutor </h3>
<div mat-dialog-content style="text-align:center;    padding-top: 15px !important;">
  <mat-form-field style="width: 90%!important;">
    <input matInput [(ngModel)]="data.course" placeholder="Enter Course/Subject" pattern="[a-zA-Z ]*" required>
  </mat-form-field>
  <mat-form-field style="width: 90%!important;">
  <input matInput  [(ngModel)]="data.name" placeholder="Your Name" required>
  </mat-form-field>
  <mat-form-field style="width: 90%!important;">
    <input matInput type="number" [(ngModel)]="data.phone" placeholder="Phone" required>
    </mat-form-field>
  <mat-form-field style="width: 90%!important;">
    <input  matInput type="text" [(ngModel)]="data.email" placeholder="Email to recieve the notification (Optional)"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  </mat-form-field>
  <mat-form-field style="width: 90%!important;">
    <input matInput  [(ngModel)]="data.address" placeholder="Address" required>
    </mat-form-field>
  <mat-form-field style="width: 90%!important;">
    <input  matInput [(ngModel)]="data.instruction" placeholder="Instruction for Trainer/Tutor or any other" required>
  </mat-form-field>
</div>
<div mat-dialog-actions class="butttonDiv">
  <button mat-button style="background: #30beb2;    width: 40%;
  color: white;" (click)="onNoClick()">No Thanks</button> &nbsp;
  <button mat-button style="background: #EE6C00;    width: 40%;
  color: white;" (click)="onOKClick(data)">Submit</button>
</div> 

                    <!-- <div class="example-container">
                        <p class="talkText">Let us know!</p>
                        <mat-form-field appearance="outline" class="tutorForm" style="margin: 0px;
                        padding: 0px;">
                            <mat-label>Enter Course/Subject*</mat-label>
                            <input matInput #course style="height: auto !important;color:black">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="tutorForm mat-form-field-appearance-fill">
                            <mat-label>Your Name*</mat-label>
                            <input matInput #name style="color:black">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="tutorForm">
                            <mat-label>Phone*</mat-label>
                            <input matInput #phone maxlength="10" minlength="10" style="color:black">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="tutorForm">
                            <mat-label>Email to recieve the notification (Optional)</mat-label>
                            <input matInput #email style="color:black">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="tutorForm">
                            <mat-label>Address*</mat-label>
                            <input matInput #address style="color:black">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="tutorForm">
                            <mat-label>Instruction for Trainer/Tutor or any other</mat-label>
                            <textarea matInput #instruction maxlength="300"
                                style="color:black;height: 30px;"></textarea>
                        </mat-form-field>

                        <div style="width: 100% !important;
                        text-align: center;
                        border-radius: 5px;
                        margin-top: 10px !important;
                        background-color: #30a298;
                        color: #5d5d5d !important;cursor: pointer;"
                            (click)="submitTutorRequest(course,name,phone,email,address,instruction)">
                            <button mat-button style="    display: contents;
                        font-size: 16px;
                        width: 100% !important;
                        background-color: #ffffff !important;
                        color: #ffff !important; cursor: pointer;" class="globalFont">Submit</button>
                        </div>
                    </div> -->