<mat-toolbar position="right" style="    background:white;
color: black;
width: 100%;
padding: 0px;
position: fixed;
top: 0;
height: 62px;
z-index: 2;">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <mdb-navbar-brand mdbWavesEffect>
    <a class="navbar-brand" style="    padding: 0px; margin-left: 0px;" [routerLink]="['/home']">
      <img src="assets/images/ce.png" class=" mr-3" alt="avatar" class="logoImg">
    </a>
  </mdb-navbar-brand>
  
  <div  style="padding-right:20px;float: right;text-align: right; cursor: pointer; top: 15px;
    right: 20px;
    position: absolute;">
   <mat-icon *ngIf="cartService.getBadgeCount()>0" matBadge="{{cartService.getBadgeCount()}}" (click)="_toggleOpened()" class=" navLink globalThemeFT"
     style="font-size: 30px;"> shopping_cart</mat-icon>
     <mat-icon *ngIf="cartService.getBadgeCount()==0"   matBadge="{{cartService.getBadgeCount()}}" class="navLink globalThemeFT"
     style="font-size: 30px;color:grey"> shopping_cart</mat-icon>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs style="    padding-right: 80px;">
  &nbsp;
    <button  *ngIf="this.service.isLogin==false" mat-button  [routerLink]="['/profile']"  class="navLink Rectangle-4"> 
      <span class="myyAccountt"> Login </span>
    </button>
   
    <button  *ngIf="this.service.isLogin" mat-button [matMenuTriggerFor]="menu"  class="navLink Rectangle-4"> 
      <span class="myyAccountt"> Profile </span>
    </button>

    <mat-menu #menu="matMenu">
      <li mat-menu-item mdbWavesEffect [routerLink]="['/profile']" >
        <a class="globalThemeFT navLink dropList" > Your Orders <span class="caret"></span></a>
      </li>
      <li *ngIf="this.service.isLogin==true" [routerLink]="['/profileSignout']" mat-menu-item mdbWavesEffect>
        <a class="globalThemeFT navLink dropList myyAccountt" style=" padding-right: 20px;" > Logout<span
            class="caret"></span>
        </a>
      </li>
      
    </mat-menu>
  
  </div>
  

</mat-toolbar>