<section style="margin-top: 50px;">
   
    <div  fxLayout="row wrap"  class="cartHead" fxFlexFill>
        <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
          <span class="orderSummery marginLeft">About Us</span>
        </div>
        <div  fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" style="padding: 0px;    padding-bottom: 10px; "   >
          <img src="./assets/images/aboutUs.svg" alt="Card image cap" class=" desktopVisible summaryImg marginRight">
          <img src="./assets/images/aboutUs.svg" alt="Card image cap" class="mobileVisible summaryImg ">
        </div>
    </div>

    <div class="aboutUsText">
    <!-- <h1 style="text-align: center;font-size: 25px !important;">About Us</h1> -->

    <p class="initText">
      CoursEdge is  an academic venture in Asian country that is India’s first hyper-local on-line platform that allows students/working professionals and native educational hubs to get and interact with one another.
    </p>
    <p class="secondParaText">
      
      We at CoursEdge, work with diligence to bring your world closer to you.
      We are based out of Gurugram, Integrated with Institutes all over India. Wherever we tend to attract the understudies and working experts professionals with academic hubs to search out the courses to enhance their aptitudes, not simply get certified however we tend to be providing the location help. </p>
      <ul class="thirdPara">
      <li>We have collaborated with various institutes all over India that will provide you the access to a vast pool of job-oriented and upcoming online and offline technical courses. 
      </li> 
      <li> 
        Users can enroll for Trainings\Courses from Top Coaching Centers in India.
        Users can simply register for courses by paying small token amount.
      </li>
      <li> 
      Coaching Centers can Register with us for free of cost, and begin commercializing their courses through CoursEdge. It boosts their on-line presence and overall Sales.
      </li>
      <li> 
      We provide the choices to the students and working experts to book demo classes before they will build their final choice of courses and institutes.
      </li>
      <li> 
      All the institutes on our list are reviewed by our team to make sure their quality. we have a tendency to confirm to supply you enrollments at the simplest doable costs. 
     </li>
     <li> 
     CoursEdge additionally organizes training , workshops and webinars in schools and corporate offices.
     </li> 
    </ul>
    
    
    
    <p>For any queries related to our services or if you are a Tutor, Trainer or an Institute, you can get relevant enquiries
       based on your skills and offers online as well as offline coaching services. 
      ou can contact us on <a href = "mailto: contact@coursedge.org"><strong>contact@coursedge.org</strong></a>
    </p>
</div>
    </section>
