<ng-sidebar-container>
  <ng-sidebar  [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">

  <app-cart></app-cart>        
</ng-sidebar>

<ng-template #tipContent>
  <div style="padding:10px; width: 100% !important; text-align: left;background: #ebddff;
  border-radius: 10px !important;">

    <div *ngFor="let item of  tempItemForToolTip.repListTemp" style="color: black !important;  font-family: Montserrat-med;"
      (click)="openLinkToolTip(tempItemForToolTip,tempSectionForToolTip,item.itemId)">
      <input type="radio" name="replaceable" style="cursor: pointer;"
        [checked]="(item.itemId==tempItemForToolTip.itemId)"> {{item.name}} <br />
    </div>
  </div>
</ng-template>

<div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
    <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
      class="modal-content lableRadius alertCss">
      <div>
        <div style="text-align: center;padding-top: 18px;">
          <p class="pt-1 pr-2" class="alertFontSize globalFont"> {{errorMsz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #changePlatter="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top  alerttRadius" role="document">
    <div style="color:black" style="background: #196aa4;" class="modal-content lableRadius alertCss">
      <div class="lableRadius alertCss">
        <p class="pt-1 pr-2 globalFont alertFont"
          style="font-size:16px;     padding: 2%; margin-bottom: 7px;   padding-bottom: 0px; color: white !important; ">
          You already have Course added in the cart, click
          <b>Cancel</b> to continue with existing cart or
          <b>Okay</b> to update the cart.
        </p>
        <p style="margin-bottom: 10px;">
          <input type="button" class="popUpBtn" data-dismiss="modal" (click)="keepSamePlatter()" mdbWavesEffect
            
            value="Cancel">
          &nbsp;
          <input type="button" class="popUpBtn" data-dismiss="modal" (click)="overridePlatter()" mdbWavesEffect
            value="Okay">

        </p>
      </div>
    </div>
  </div>
</div>

<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

<div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
    <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
      class="modal-content lableRadius alertCss">
      <div>
        <div style="text-align: center;padding-top: 18px;   ">
          <p class="pt-1 pr-2" class="alertFontSize  globalFont alertFont"> {{attentionMsz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
    <div style="color:black; height:auto;background: #196aa4; font-size: 0px;"
      class="modal-content lableRadius alertCss">
      <div>
        <div style="text-align: center;padding-top: 18px;  padding-left: 25px;">
          <p class="alertFontSize globalFont alertFont"> {{successMsz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<body style="background: white !important;" ng-sidebar-content>

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>

  <section *ngIf="cartPage" class="sectionMargin" style="    padding: 0px;">
  
    
    <div class="globalColor row col-12 " *ngIf="menus.length>=0" style="    padding-right: 0px;
          padding-left: 0px;
          margin-right: 0px;
          margin-left: 0px;padding-top: 10px;">

      <div data-parent="#accordion" *ngFor="let menu of menus" style="width: 100% !important;">
        <div  class="backgroundImage" [style.background]="'url(' + service.baseImageUrl+menu.vendor.businessLandscapeImageUrl+ ')'">
          <div class="content" >
            <ng-container>
              <div id="parent2" class="row wrap topSection" fxFlex="100" fxFlex.gt-sm="100%">    
               
                <div  class="navLinkCss">
                  
                        <div class="back-end box globalFont" style=" border-radius: 0px !important;">
                        
                            <span class="spanNav" >
                              <a [routerLink]="['/home']" class=" spanNav oldColor navBar"> Home </a>
                            <ng-container  *ngFor="let item of  service.navigationArray;" >
                           
                            <i class="fa fa-chevron-right" *ngIf="item=='Institute'" aria-hidden="true"></i>
                            <a class="oldColor navBar"     *ngIf="item=='Institute'" [routerLink]="['/institute']"> {{item}} </a>

                            <i class="fa fa-chevron-right" *ngIf="item=='Courses'" aria-hidden="true"></i>
                            <a class="oldColor navBar"    *ngIf="item=='Courses'" [routerLink]="['/courses']"> {{item}} </a>
                            
                            <i class="fa fa-chevron-right"  *ngIf="item=='Menu'" aria-hidden="true"></i>
                            <a class="selColor navBar"     *ngIf="item=='Menu'"> {{item}} </a>  
                          </ng-container>
                          </span>
                        </div>
                  
                   </div>
              

                <div class="row wrap " fxFlex="100" fxFlex.gt-sm="100%" class="sectionWrap">
                  <div fxLayout="row wrap " class="imgSectionDiv"  fxFlexFill>
                    <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%" class="section1_2">
                      <!-- <p  class="mb-2"><img class="univLogo" src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"
                      onError="this.src='./assets/images/testimonials/lasell_lu.png'"    alt="avatar">
                      </p> -->

                        <p class="mb-2 courseH ">
                          {{menu.name}}
                        </p>
                        <p class="mb-2 ">
                          <span class="featureSubCont">
                              <i class="fa fa-map-marker faCss" aria-hidden="true"></i>
                              &nbsp;  {{menu.vendor.vendorName}}</span> 
                         </p>
                        <p  class="mb-2">
                          <span   class="featureSubCont">
                              <i class="fa fa-calendar faCss" aria-hidden="true"></i>
                              &nbsp;  {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                       </p>
                       <p  class="mb-2">
                        <span   class="featureSubCont">
                          <i class="fa fa-street-view faCss" aria-hidden="true"></i>
                            &nbsp;  NA</span>
                     </p>
                      
            
                       <p  class="mb-2 " *ngIf="this.service.restaurant!=undefined && menu.price >0" >
                        
                         <span class="actualPrice"> <i class="fa fa-money faCss" aria-hidden="true"></i>
                          &nbsp;{{menu.price |  currency: this.service.restaurant.currency :  'symbol' : '1.0-0' }} </span>
                      </p>

                      <div fxLayout="row wrap ">

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" >
                          <span  class="section1_2 enrollDiv">
                            <button *ngIf="alreadyAdded()==false && menus[0]!=undefined && menus[0].price>0 && menu.type!='ON_DEMAND'"
                              (click)="checkandAddToCart(menus[0],menus[0])" class="Rectangle-4 "> 
                              <span class="Enroll-now "> Enroll now </span> 
                              
                            </button>
    
                              <button *ngIf="alreadyAdded()==true" (click)="showOrderSummeryPage()" class="Rectangle-4 "> 
                                <span   class="Enroll-now" >
                                View cart
                                </span>
                              </button>
                              &nbsp; &nbsp;
                              <div class="desktopVisible">
                                <a  class="shareCourseDesk" href="{{whatsAppURL}}"   
                                data-action="share/whatsapp/share" ngbTooltip="Share with Whatsapp"
                                onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                 target="_blank" title="Share on whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                                </a>
                                 <a ngbTooltip="Share on LinkedIn" class="shareCourseDesk"  href="{{linkedInURL}}"  target="_blank" title="Share on Linkedin">
                                   <i class="fa fa-linkedin" aria-hidden="true"></i>
                                 </a>
            
                                  <a ngbTooltip="Share on Facebook"
                                   class="shareCourseDesk" href="{{facebookURL}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                  </a>
            
                                  <a ngbTooltip="Share with Mail"
                                   class="shareCourseDesk" href="{{mailURL}}" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Mail">   
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                  </a>
                                </div>
                          </span>
                           
                        </div>
                        
                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="sharedCourseP mobileVisible">
                          <div style="width: 50%;">
                          <a  class="shareCourse" href="{{whatsAppURL}}"   
                          data-action="share/whatsapp/share" ngbTooltip="Share with Whatsapp"
                          onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                           target="_blank" title="Share on whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                          </a>
                           <a ngbTooltip="Share on LinkedIn" class="shareCourse"  href="{{linkedInURL}}"  target="_blank" title="Share on Linkedin">
                             <i class="fa fa-linkedin" aria-hidden="true"></i>
                           </a>
      
                            <a ngbTooltip="Share on Facebook"
                             class="shareCourse" href="{{facebookURL}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
      
                            <a ngbTooltip="Share with Mail"
                             class="shareCourse" href="{{mailURL}}" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Mail">   
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                          </div>
                          </div>
                      </div>
                     
                    </div>

                    
                  </div>

              

                

                </div>
                <div fxFlex="100" fxFlex.gt-sm="100%"  id="id_menu" role="tabpanel" class="Rectangle-116">
                   
                        <div class="featureValue" fxLayout="row wrap"  fxLayout.xs="row wrap"  fxFlexFill>

                          <div  fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex.xs="50%" class="featureAlign">
                          
                            <div class="facilitiesText faText">
                              <div  class="faTextAlign">
                              <span class="faValue ">{{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span> <br/>
                              <span class="faLevel">  {{menu.start_at | date}} - {{menu.end_at | date}} </span>
                            </div>
                            </div>
                          
                         </div>

                          <div   fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="50%" class="featureAlign">
                                    <div *ngIf="menu.course_format"  class="facilitiesText faText">
                                     <div class="faTextAlign">
                                      <span class="faValue" *ngIf="menu.course_format=='on_campus'">On Campus</span>
                                      <span class="faValue" *ngIf="menu.course_format!='on_campus'">{{menu.course_format}}</span><br/>
                                       <span class="faLevel">Course Mode</span> 
                                    </div>
                                    </div>
                                
                          </div>
                          <div  fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="50%" class="featureAlign">
                            <div  class="facilitiesText faText">
                              <div class="faTextAlign">
                              <span class="faValue" > Credits</span><br/>
                              <span class="faLevel">Course Credits</span>
                            </div>
                            </div>
                          
                      </div>
                          <div  fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="50%" class="featureAlign">

                                    <div  class="facilitiesText faText">
                                      <div class="faTextAlign">
                                      <span class="faValue" >Intermediate</span><br/>
                                      <span class="faLevel">Course difficulty</span>
                                    </div>
                                    </div>
                                  
                          </div>
                         
                          <div    fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex.xs="50%" class="featureAlign">
                            <div class="facilitiesText faText">
                            <div class="faTextAlign">
                              <span class="faValue">Take a step ahead</span><br/>
                             <span class="faLevel">On Demand Certificate on completion</span> 
                            </div>
                            </div>
                          
                         </div>

                        
                        </div>
                      <!-- </div> -->
                  </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column">
          <div  *ngIf="(menu.syllabus_body!='' && menu.syllabus_body!='null') ||( menu.public_description!='null' && menu.public_description!='')" fxFlex="100" fxFlex.gt-sm="100%" class="facilitiesPadding"  >
            <div style="padding-bottom: 10px;" fxLayout="row wrap"  fxFlexFill>
              <p class="About-course">Program Overview </p>
              <p class="About-Text">About This Course</p>
              <p *ngIf="menu.public_description!='null'" class="mb-2 mobCourseDes "> {{menu.public_description}}</p>
              <p *ngIf="menu.syllabus_body!='null'" [innerHTML]="menu.syllabus_body" class="aboutCssText">
               </p>
            </div>
        </div>
        </div>


   
          <div *ngIf="menu.platterSectionType!='ADD_ON'">
       
               <div *ngIf="menu.isDishReplaceable==false"  fxLayout="row wrap" fxLayout.xs="column" class=" packegIncludes coursePadding" style="padding-top: 0px;" fxFlexFill >
               <div   fxFlex="100" fxFlex.gt-sm="10%"  fxFlex.gt-xs="10%" fxFlex.xs="10%" style="text-align: center;">
                 <!-- <img class="courseImg"   
                 src="{{menu.image_download_url}}" onError="this.src='./assets/images/pf.png'"
                 alt="Card image cap"> -->
               </div>
                <div   fxFlex="100" fxFlex.gt-sm="70%"  fxFlex.gt-xs="70%" fxFlex.xs="70%"class="coursePaddingLeft"  >
                   <p class="courseHeader"> {{menu.name}}
                     <span></span>
                  </p>
                  <p  class="duration">
                    <span *ngIf="(course.duration>0 && item.courseDuration!=null) || (menu.courseDurationInHr>0 && menu.courseDurationInHr!=null)"> Duration : {{service.calculateDuration(item.duration,menu.courseDurationInHr)}}  &nbsp;</span>

                  </p>

                  <p *ngIf="menu.syllabus_body!=null"[innerHTML]="meu.syllabus_body" style="font-weight: 700;" class="courseDescription">
                  </p>
                 </div>
               </div>
           
           </div>

           <div *ngIf="menu.platterSectionType==='ADD_ON'">
            <p class="comboOffer separator"> COMBO OFFERS</p>

            <ng-container  *ngFor="let item of section.items |filter:term">
              <div   fxLayout="row wrap" fxLayout.xs="column" class="coursePadding" style="padding-top: 0px;" fxFlexFill >
              
              <div   fxFlex="100" fxFlex.gt-sm="10%"  fxFlex.gt-xs="10%" fxFlex.xs="10%" style="text-align: center;">
                <img class="courseImg"   
                src="{{this.service.baseImageUrl}}{{item.imageUrl}}" onError="this.src='./assets/images/pf.png'"
                alt="Card image cap">
              </div>

              <div   fxFlex="100" fxFlex.gt-sm="70%"  fxFlex.gt-xs="70%" fxFlex.xs="70%" class="coursePaddingLeft" >
                  <p class="courseHeader mb-2"> {{item.name}}
                  </p>
                <p  class="duration mb-2">
                  <span *ngIf="(item.courseDuration>0 && item.courseDuration!=null) || (item.courseDurationInHr>0 && item.courseDurationInHr!=null)"> Duration : {{service.calculateDuration(item.courseDuration,item.courseDurationInHr)}}  &nbsp;</span>
                  <span class="download" *ngIf="item.courseDetialsURL!=null && item.courseDetialsURL!=''" (click)="openPDF(item.courseDetialsURL)"> Download PDF 
                    &nbsp;<img src="./assets/facilities/download.svg" alt="Card image cap">  
                  </span> 
                   
                </p>
                <div  fxLayout="row wrap" >
                  <div   fxFlex="100" fxFlex.gt-sm="60%"  fxFlex.gt-xs="60%" fxFlex.xs="60%">

                    <p  class="mb-2">
                      <span  *ngIf="item.displayPrice>0" class="courseOff" > 
                          {{item.displayPrice|  currency: this.service.restaurant.currency :  'symbol' : '1.0-0'}}
                      </span> &nbsp;
                      <span  *ngIf="item.displayPrice>0" class="courseAge "> 
                      ({{service.calculateOffPrice(item.price ,item.displayPrice)}})% off
                      </span>
                    </p>
                    <p  class="mb-2" *ngIf="this.service.restaurant!=undefined && menu.price >0" >
                      <span class="courseActual"> {{item.price |  currency: this.service.restaurant.currency :  'symbol' : '1.0-0' }} </span>
                    </p>
                  </div>
                
                  <div   fxFlex="100" fxFlex.gt-sm="40%"  fxFlex.gt-xs="40%" fxFlex.xs="40%">
  
                    <span class="alignMiddleButton mobileVisible " >
                      <button class="addToCartBtton floatRight" (click)="checkandAddToCart(item,menu)">
                      <p class="addToCartTextCourse"> ADD TO CART &nbsp;
                          <i class="fa fa-plus-circle" style="color: white; font-size: 15px;" aria-hidden="true"></i>    
                      </p>
                      </button>
                    </span>
                  </div>
                </div>
                <p [innerHTML]="item.description" class="courseDescription">
                </p>
                <p [innerHTML]="item.shortDescription" style="font-weight: 700;" class="courseDescription">
                </p>
                </div>

                <div   fxFlex="100" fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="20%" class="alignMiddleButton desktopVisible" >
                 
                  <button class="addToCartBtton" (click)="checkandAddToCart(item,menu)">
                    <p class="addToCartTextCourse"> ADD TO CART &nbsp;
                        <i class="fa fa-plus-circle" style="color: white; font-size: 15px;" aria-hidden="true"></i>    
                    </p>
                  </button>
                  </div>
              </div>
            </ng-container>

          </div>
<!-- 
           <div *ngIf="section.platterSectionType=='ADD_ON' && section.name!='COMBO'" style="padding-top: 50px;    background: #f8f9fa8c;" >
            <p class="aboutCss separator">{{section.name}}</p>
            <ng-container  *ngFor="let item of section.items |filter:term">
              <div   fxLayout="row wrap" fxLayout.xs="column" class="coursePadding" style="padding-top: 0px;" fxFlexFill >
              
              <div   fxFlex="100" fxFlex.gt-sm="10%"  fxFlex.gt-xs="10%" fxFlex.xs="10%" style="text-align: center;">
                <img class="courseImg"   
                src="{{this.service.baseImageUrl}}{{item.imageUrl}}" onError="this.src='./assets/images/pf.png'"
                alt="Card image cap">
              </div>

              <div   fxFlex="100" fxFlex.gt-sm="70%"  fxFlex.gt-xs="70%" fxFlex.xs="70%" class="coursePaddingLeft" >
                  <p class="courseHeader mb-2"> {{item.name}}
                  </p>
                <p  class="duration mb-2">
                  <span *ngIf="(item.courseDuration>0 && item.courseDuration!=null) || (item.courseDurationInHr>0 && item.courseDurationInHr!=null)"> Duration : {{service.calculateDuration(item.courseDuration,item.courseDurationInHr)}}  &nbsp;</span>
                  <span class="download" *ngIf="item.courseDetialsURL!=null && item.courseDetialsURL!=''" (click)="openPDF(item.courseDetialsURL)"> Download PDF 
                    &nbsp;<img src="./assets/facilities/download.svg" alt="Card image cap">  
                  </span> 
                   
                </p>
                <div  fxLayout="row wrap" >
                  <div   fxFlex="100" fxFlex.gt-sm="60%"  fxFlex.gt-xs="60%" fxFlex.xs="60%">

                    <p  class="mb-2">
                      <span  *ngIf="item.displayPrice>0" class="courseOff" > 
                          {{item.displayPrice|  currency: this.service.restaurant.currency :  'symbol' : '1.0-0'}}
                      </span> &nbsp;
                      <span  *ngIf="item.displayPrice>0" class="courseAge "> 
                      ({{service.calculateOffPrice(item.price ,item.displayPrice)}})% off
                      </span>
                    </p>
                    <p  class="mb-2" *ngIf="this.service.restaurant!=undefined && menu.price >0" >
                      <span class="courseActual"> {{item.price |  currency: this.service.restaurant.currency :  'symbol' : '1.0-0' }} </span>
                    </p>
                  </div>

                  <div   fxFlex="100" fxFlex.gt-sm="40%"  fxFlex.gt-xs="40%" fxFlex.xs="40%">
  
                    <span class="alignMiddleButton mobileVisible " >
                      <button class="addToCartBtton floatRight" (click)="checkandAddToCart(item,menu)">
                      <p class="addToCartTextCourse"> ADD TO CART &nbsp;
                          <i class="fa fa-plus-circle" style="color: white; font-size: 15px;" aria-hidden="true"></i>    
                      </p>
                      </button>
                    </span>
                  </div>
                </div>
                <p [innerHTML]="item.description" class="courseDescription">
                </p>
                <p [innerHTML]="item.shortDescription" style="font-weight: 700;" class="courseDescription">
                </p>
                </div>

                <div   fxFlex="100" fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="20%" class="alignMiddleButton desktopVisible" >
                 
                  <button class="addToCartBtton" (click)="checkandAddToCart(item,menu)">
                    <p class="addToCartTextCourse"> ADD TO CART &nbsp;
                        <i class="fa fa-plus-circle" style="color: white; font-size: 15px;" aria-hidden="true"></i>    
                    </p>
                  </button>
                  </div>
              </div>
            </ng-container>
          </div> -->
          <!-- </ng-container> -->
      <!-- </div> -->

      
       

<!-- 
        <div id="parent1" *ngIf="menu.status=='ACTIVE'"
          style="    padding-top: 40px;    padding-bottom: 10px;    overflow-x: hidden !important;">
          <div fxLayout="row wrap" fxLayout.xs="row" fxFlexFill>
            <span style="float:left; width: 50% !important;  " class="globalThemeFT">
              <p style="font-size: 18px;
                text-align: left;
                font-weight: 500;
                color: #de5719 !important;
                border-radius: 5px;
                
                padding: 5px;"> {{menu.name}}


            <font style="color: #5f5f5f;font-size: 12px;white-space: nowrap;" *ngIf="menu.classMode!=null &&menu.classMode=='Offline' && menu.classMode!='Both'">({{menu.classMode}} classes)</font>
             <font style="color: #5f5f5f;font-size: 12px;white-space: nowrap;" *ngIf="menu.classMode!=null &&menu.classMode=='Online' && menu.classMode!='Both'">({{menu.classMode}} classes)</font>
            <font style="color: #5f5f5f;font-size: 12px;white-space: nowrap;" *ngIf="menu.classMode!=null && menu.classMode=='Both'">(Online/Offline classes)</font>
              </p>
            </span>
            <span style=" width: 50% !important; ">
              <p *ngIf="menu.validity!=null" style=" text-align: center;
                  font-size: 14px;
                  font-weight: 500;
                  padding: 5px;
                  color: #de5719 !important; float:right" class="responsiveBtn">Last Registration Date: <font class="lastRegDate">
                  {{menu.validity | date}}</font>
              </p>
            </span>
          </div>
         
          <div class="section" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill *ngFor="let section of menu.sections"
            [attr.id]="'sc_'+section.sectionId" style="padding-bottom: 0px !important;margin-bottom: 0px !important; ">

              <h2 class="row col-12 customColum " *ngIf="section.platterSectionType!='ADD_ON'"
              style="text-align: left; padding-left: 0px !important; font-size: 16px;    padding-right: 20px;
               text-transform: capitalize;
               font-family: Helvetica !important; color: black; box-shadow: 0px 2px 0px -1px #a1a09e; color: #de5719 !important;    margin-left: 0px;">
              {{section.name}} </h2>

              <h2 class="row col-12 customColum " *ngIf="section.platterSectionType=='ADD_ON' && section.name!='COMBO'"
              style="text-align: left; padding-left: 0px !important; font-size: 16px;    padding-right: 20px;
               text-transform: capitalize;
               font-family: Helvetica !important; color: black; box-shadow: 0px 2px 0px -1px #a1a09e; color: #de5719 !important;    margin-left: 0px;">
              {{section.name}} </h2>
           
           
              <div class="row col-12 customColum h2Css " *ngIf="section.platterSectionType==='ADD_ON' && section.name==='COMBO'"
              style="text-align: left; padding-left: 0px !important; font-size: 16px;       padding-top: 20px !important; padding-right: 20px;
               text-transform: capitalize;
               font-family: Helvetica !important; color: black; box-shadow: 0px 2px 0px -1px #a1a09e; color: #de5719 !important;padding-top:5px;   margin-left: 0px;">
              <div class="sign" style="width: 100%;">
                <span class="flicker" style="    width: 100%; text-align: center;">Combo Offers</span>
              </div>
              <p class="detail comboText" *ngIf="section.platterSectionType==='ADD_ON'">
                Combine your above selected course with any of the below mentioned courses to get more discounts. 
                 Highly recommended by the industry professionals in order to gain more insights into the selected domain/technology. 
                 Please note that the discounts are exclusive for these combo courses.</p>
             </div>

            <div style="padding-bottom: 0px !important;  margin-bottom: 0px !important;" class="content"
              fxLayout="row wrap" fxLayout.xs="column" fxFlexFill>
              <ng-container *ngFor="let item of section.items |filter:term">
                <div *ngIf="item.isDishReplaceable==false" fxFlex="50" fxFlex.gt-sm="100%" style="width: 100% !important;
                  max-width: 100%;    padding: 0px;padding-right: 10px;
                  padding-bottom: 0px;     margin-left: 0px; ">
                  <div class="row col-12"
                    style="padding:0px;    margin-left: 0px; padding-top: 10px;    margin-bottom: 5px;">
                    <div style="    padding: 0px;" class="collapse show formatDiv col-12">
                     
                      <img class="card-img-top rounded-0" style="border-radius: 5px !important;float: left; "
                      src="{{this.service.baseImageUrl}}{{item.imageUrl}}" onError="this.src='./assets/images/tel4.png'"
                      alt="Card image cap">
                      
                      <p class="titleCss" style="color: black;
                             text-align: left;
                             max-width: 75%;
                             overflow: scroll;
                             padding-left: 0px;"> 
                             {{item.name}}
                        <mat-icon *ngIf="item.courseDetialsURL!=null" class="material-icons"
                          (click)="openPDF(item.courseDetialsURL)"
                          style="
                              /* padding-top: 10px; */
                              padding-left: 10px; float: right;cursor:pointer;color : #ea1e3c !important;display: contents;">
                          picture_as_pdf
                        </mat-icon><br />
                        <a *ngIf="item.online && menu.classMode==null" title="This course is avaialbe online. No offline classes">
                          <font style="color: green;font-size: 12px;">(Online classes)</font>
                        </a>
                        <a *ngIf="item.online==false && menu.classMode==null" title="This course is avaialbe offline. No online classes">
                          <font style="color: #969292;font-size: 12px;">(Offline classes)</font>
                          <br />
                        </a>
                        
                        <a *ngIf="item.courseDuration>0" style="color: #969292;font-size: 12px;">Duration : <font
                            style="color: #969292;font-size: 12px;"> {{service.calculateDuration(item.courseDuration)}} </font> </a>
                      </p>
                      <a *ngIf="(item.isDishReplaceable==false && section.platterSectionType!='ADD_ON' && item.replacementsList !=null)"
                        style="margin-bottom: 10px;">
                        <a (click)="openBottomSheet(item,section)" class="mobileVisible" style="text-align:center;cursor:pointer;float: right;    cursor: pointer;
                                float: right;
                                font-size: 14px;
                                color: red;     padding-right: 10px;
                                font-family: Helvetica;
                                padding-left: 10px;">
                          <u>Change</u></a>


                        <a (click)="openBottomSheetToolTip(item,section,t2)" class=" desktopVisible " style="text-align:center;cursor:pointer;float: right;    cursor: pointer;
                                float: right;
                                padding-right: 10px;
                                font-size: 14px;
                                font-family: Helvetica;
                                padding-left: 10px;
                                color: red;" #t2="ngbTooltip" [ngbTooltip]="tipContent" tooltipClass="toolTipCss"
                          triggers="manual">
                          <u>Change</u></a>
                      </a>
                      <a class="detail" style="font-size: 12px;" *ngIf="section.platterSectionType==='ADD_ON'">
                        <div class="btnAdd">
                          <span *ngIf="item.displayPrice!='' && item.displayPrice!=null;else actualPrice"
                            style="font-size: 15px;" class="currency">
                            <button (click)="checkandAddToCart(item,menu)"
                              class="btn btn-default btn-sm cartBtn globalThemeBG" style="text-align:center;cursor:pointer;float: right; 
                                 font-size: 12px;     padding-top: 5px;
                                  padding-bottom: 2px;
                                  padding-left: 3px;
                                  padding-right:  0px;
                                  padding-right: 5px;
                                  color: white !important;">
                              <i class="fa fa-plus-circle iconStyle " aria-hidden="true"></i>
                              <font style="font-size: 13px; color:white">
                                {{ item.price | currency : this.service.restaurant.currency :true : '1.0'}}</font>
                            </button>
                            <span class="btn btn-default btn-sm cartBtn globalThemeBG" style="text-align:center;cursor:pointer;
                                   float: right; font-size: 12px;  
                                    padding-top: 5px;
                                    padding-bottom: 2px;
                                    padding-left: 3px;
                                    padding-right: 5px;
                                    color: #282828 !important;
                                    background: white !important;
                                    ">
                              <font
                                style="text-decoration: line-through;font-size: 14px; margin: 5px;    color: #c30a0a;">
                                {{item.displayPrice | currency : this.service.restaurant.currency :true : '1.0'}}</font>
                              <font style="font-size: 13px;">
                                ({{service.calculateOffPrice(item.price ,item.displayPrice)}}%) off</font>
                            </span>

                            <a *ngIf="menu.price==0" style="float: right;
                              padding-left: 5px;
                              padding-right: 10px;
                              font-size: 12px;
                              padding-top: 10px;
                              color:#de5719 !important;
                              display: inline-table;
                           " class="globalThemeFT"
                              (click)="askForDemo(item.itemId,item.name, menu.countryId,menu.vendorId)">Book Demo</a>
                          </span>
                          <ng-template #actualPrice>
                            <button (click)="checkandAddToCart(item,menu)"
                              class="btn btn-default btn-sm cartBtn globalThemeBG" style="text-align:center;cursor:pointer;float: right; font-size: 12px;     padding-top: 5px;
                                    padding-bottom: 2px;
                                    padding-left: 3px;
                                    padding-right: 3px;
                                    color: white !important;">
                              <i class="fa fa-plus-circle iconStyle " aria-hidden="true"></i>
                              {{item.price | currency : this.service.restaurant.currency :true :'1.0'}}</button>
                            <a *ngIf="menu.price==0" style="float: right;
                              padding-top: 10px;
                              padding-left: 10px;
                              padding-right: 10px;
                              font-size: 12px;
                              display: inline-table;
                           " class="globalThemeFT"
                              (click)="askForDemo(item.itemId,item.name, menu.countryId,menu.vendorId)">Book Demo</a>
                          </ng-template>
                        </div>
                      </a>

                      
                      <p [innerHTML]="item.description" class="descriptionCss" style="padding-top: 10px !important; text-align: left;
                        float: left;
                        width: 100% !important;">
                      </p>
                      <br />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div> -->
      </div>
    </div>
   
  </section>
  <section style="width: 100% !important; " >
    <div class="Rectangle-27">
        
            <p class="Become-a-partner" style="text-align: center">What have you decided?</p>
            <p class="Transform-Your-University-With-Coursedge" style="text-align: center">
              Don't miss this chance, Enroll today
            </p>
            <div style="text-align: center;">
                <button  *ngIf="alreadyAdded()==false && menus[0]!=undefined && menus[0].price>0" class="Rectangle-5"  (click)="checkandAddToCart(menus[0],menus[0])"> 
                    <span class="Signup"> Enroll now</span>
                </button>

                  <button *ngIf="alreadyAdded()==true" (click)="showOrderSummeryPage()" class="Rectangle-5"> 
                    <span class="Signup" >
                    View cart</span>
                  </button>

            </div>
       
    </div>
</section>
  <app-footer ></app-footer> 
  <div id="cover" *ngIf="isPopUp==true"> </div>
</body>
<!-- <script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("stopPoint").style.top = "0";
    } else {
      document.getElementById("stopPoint").style.top = "-10px";
    }
    prevScrollpos = currentScrollPos;
  }
</script> -->
</ng-sidebar-container>