/*----- Common CSS ------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
label,
input,
span,
b {
    font-family: 'Lato', sans-serif;
}

.common_button {
    border-radius: 4px;
    border: 1px solid #0f75bc;
    padding: 7px 30px;
    transition: all 0.5s ease;
    display: inline-block;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

/*----- Theme CSS color and background ------*/
.login_button button img {
    max-width: 30px;
}
.text-blue {
    color: #0F75BC;
}

.bg-blue {
    background-color: #0F75BC;
}
.bg_grey {
    background: #F4F8FA;
}
.bg-dark-grey {
    background: #58585A;
}
h2 {
    font-size: 31px;
    font-weight: 600;
    line-height: 1.5;
}
.font18 {
    font-size: 18px;
    color: #757575;
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: #818181;
}
.mainHeading {
    font-weight: 600;
    color: #000000;
}

.mainHeading span {
    width: 90px;
    height: 3px;
    display: block;
    margin: 23px auto 0px;
}

/*----- Header ------*/

body {
    margin-top: 78px;
}

header.main_header {
    position: fixed;
    background: #fff;
    z-index: 99;
    width: 100%;
    top: 0;
    box-shadow: 0 0 7px #d7d7d7;
}

.mainlogo img {
    max-width: 260px;
}

.header_wapper {
    max-width: 94%;
    margin: auto;
    padding: 15px 20px;
}

.searchInput input {
    background: #FAFAFA;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 12px 50px;
    font-size: 15px;
    outline: none;
}

.searchInput {
    position: relative;
    width: 90%;
}

.searchInput i.fas.fa-search {
    position: absolute;
    left: 16px;
    top: 17px;
    color: #909090;
}

.searchInput button {
    position: absolute;
    right: 5px;
    top: 4px;
}

.searchInput button:hover {
    background: #055b98;
}

.login_button button {
    border: none;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    min-width: 150px;
    justify-content: center;
    margin-left: 20px;
    border-radius: 3px;
}

.login_button button div {
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 7px;
    font-weight: 600;
}

.login_button button div span {
    display: block;
    text-align: left;
    font-size: 12px;
}

.cart_button {
    padding-right: 15px;
        margin-right: 5px;
}

.rightCart span.badge {
    position: absolute;
    right: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    line-height: 20px;
    top: 0;
}

.rightCart>div {
    position: relative;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.menupop {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 999;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.menupop.Show_menu {
    display: block;
}
.menuBox {
    max-width: 500px;
    margin: auto;
    padding: 20px 15px;
    overflow: scroll;
    height: 100%;
}
.login_buttonMobile {
    text-align: center;
}

.menuCross {
    text-align: right;
    font-size: 26px;
    padding-right: 8px;
    color: #0f75bc;
    position: relative;
    top: -5px;
}
.login_buttonMobile span.user_icon {
    background: #f5f5f5;
    width: 130px;
    display: inline-block;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    font-size: 61px;
    color: #9c9c9c;
}

.login_buttonMobile > div {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

.login_buttonMobile > div span {
    font-size: 18px;
    display: block;
}

.menu_list {
    border-top: 1px solid #c6c6c6;
    margin-top: 20px;
    padding-top: 20px;
}

.menu_list ul {
    padding: 0;
    list-style: none;
}

.menu_list ul li a {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.menu_list ul li a i {
    float: right;
}
/*--- Slider Banner ---*/

.banner_slider .carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.banner_slider .carousel-inner .carousel-caption {
    bottom: inherit;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: left;
    padding: 0;
    max-width: 550px;
}

.banner_slider .carousel-inner .carousel-caption h5 {
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 18px;
}

.banner_slider .carousel-inner .carousel-caption p {
    font-size: 16px;
    line-height: 24px;
    color: #f2f2f2;
    max-width: 510px;
    margin-bottom: 15px;
}

.rating_star ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 10px;
}

.rating_star ul li {
    display: inline-block;
    color: #eee;
}

.rating_star {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.rating_star p {
    margin-bottom: 0 !important;
}

.rating_star ul li.star_active {
    color: #FFA216;
}

.banner_slider .carousel-inner .carousel-caption a.common_button {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 13px 40px;
}

.banner_slider .carousel-inner .carousel-caption a.common_button:hover {
    background: #fff;
    color: #0f75bc;
}

.banner_slider .carousel-inner .carousel-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90.13deg, rgba(0, 0, 0, 0.62) 44.62%, rgba(196, 196, 196, 0) 99.42%);
}

.banner_slider .carousel-control-prev {
    left: 50px;
}

.banner_slider .carousel-control-next {
    right: 50px;
}

.banner_slider .carousel-control-next,
.banner_slider .carousel-control-prev {
    width: 60px;
    height: 60px;
    top: 43%;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
}

.banner_slider .carousel-control-prev .carousel-control-prev-icon {
    background-image: url(../img/left_arrow.svg);
    left: -3px;
    position: relative;
}

.banner_slider .carousel-control-next .carousel-control-next-icon {
    background-image: url(../img/right_arrow.svg);
    left: 2px;
    position: relative;
}

/*---- Our Top University Partners -----*/

.logo_Partners {
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_Partners img {
    max-height: 50px;
    object-fit: contain;
}

/*---- Featured Courses -----*/

 .course_image img {
    width: 100%;
}

.course_box_style1 {
    border: 1px solid #BABABA;
    border-radius: 4px;
    padding: 4px;
        height: 100%;
}

 .course_image img.featured_image {
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}

 .Course_logo {
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    max-width: 130px;
    padding: 6px 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

 .course_image {
    position: relative;
}

.content_course {
    padding: 10px;
}

.course_box_style1 .category_Price {
    margin-bottom: 5px;
}

.course_box_style1 .category_Price .categoryTag {
    color: #818181;
}
.course_box_style1 .category_Price h5 {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 18px;
    color: #00365B;
}

.content_course h3, .content_course h4 {
    line-height: 1.1;
}

.content_course h3 a, .content_course h4 a {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.button_addBuy .added {
    display: none;
}

.button_addBuy>* {
    padding: 8px 10px;
    min-width: 126px;
    font-size: 15px;
    border: none;
    min-height: 40px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}
p.onlineClass i.fas {
    color: #01ae28;
}
.content_course ul {
    padding: 10px 0;
    list-style: none;
}

.content_course ul li {
    border-right: 1px solid #9e9e9e;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    color: #575757;
}

.content_course ul li i {
    color: #0f75bc;
}

.content_course ul li:last-child {
    margin-right: 0;
    padding-right: 0;
border-right:none;
}
.button_addBuy button.bg-dark-grey img {
    filter: brightness(0) invert(1);
    max-width: 24px;
    margin-right: 8px;
}

.button_addBuy a.common_button:hover {
    background: #045f9e;
    color: #fff;
}

.featuredCourse .col-md-6 {
    margin-bottom: 30px;
}

.featuredCourse {
    border-top: 1px solid #E7E7E7;
}

.button_addBuy .bg-dark-grey:hover {
    background: #434343;
}

/*---- Popular Courses -----*/
.course_box_style2 {
    background: #FFFFFF;
    border: 1px solid #BABABA;
    border-radius: 4px;
}

.course_box_style2 .content_course {
    padding: 18px;
}

.course_box_style2 .content_course p {
    font-size: 15px;
    color: #818181;
    line-height: 1.6;
}

.course_box_style2 .course_image img.featured_image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.view_programme a {
    font-size: 16px;
    color: #0F75BC;
    text-decoration: none;
    font-weight: 600;
}

.view_programme a img {
    margin-left: 5px;
}

.view_programme h6 {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 19px;
    color: #0F75BC;
}

.view_programme {
    padding-bottom: 8px;
}
/*---- Universities Innovating With CoursEdge -----*/
.UniversitiesBox {
    box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
    border-radius: 7px;
    height: 100%;
    margin-bottom: 60px;
    padding: 20px;
    min-height: 270px;
}
.slider_University .swiper-container {
    padding: 12px;
}
.logo_imageUni {
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-right: 13px;
}

.Universities_nameBox h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    margin: 0 0 6px;
}

.UniversitiesBox p {
    font-size: 16px;
    color: #8C8C8C;
}
.UniversitiesBox .rating_star {
    margin-bottom: 0;
}

.logo_nameUni {
    margin-bottom: 20px;
}
/*----  FOR LEARNERS -----*/
.lernerDetails h6 {
    font-weight: 800;
    font-size: 16px;
}

.lernerDetails h3 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
}

.lernerDetails h6 span {
    display: inline-block;
    background: #fff;
    width: 30px;
    height: 3px;
    margin-right: 4px;
    position: relative;
    top: -5px;
}

.box_leaner {
    display: flex;
    margin-bottom: 50px;
}

.lernerDetails {
    padding-left: 25px;
    padding-right: 60px;
    width: 90%;
    position: relative;
}

.cout_lerner {
    width: 75px;
    background: #fff;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    font-weight: 600;
    color: #0f75bc;
    position: relative;
}

.lernerDetails a.arrow_iconbtn {
    filter: brightness(0) invert(1);
    position: absolute;
    right: 0;
    top: 44%;
    transform: translate(-50%);
}

.box_leaner:last-child {
    margin-bottom: 0;
}

.for_pointlist {
    position: relative;
}


.for_pointlist:before {
    width: 1px;
    height: 87%;
    border-left: 2px dashed #fff;
    content: "";
    position: absolute;
    left: 36px;
    top: 10px;
}
/*--- Footer ---*/
.main_footer {
    background: #091D2C;
}
.about_Coursedge img {
    filter: brightness(0) invert(1);
    max-width: 320px;
    margin-bottom: 8px;
}

.about_Coursedge p {
    font-size: 16px;
    line-height: 26px;
    color: #C9C9C9;
}

.CoursEdge_footer {
    display: flex;
    flex-wrap: wrap;
}

.main_footer h4 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 26px;
    color: #FFFFFF;
    margin-top: 9px;
}

.footer_menu {
    width: 50%;
}

.footer_menu ul {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    list-style: none;
}

.footer_menu ul li a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.5s ease;
}

.footer_menu ul li a:hover,.footer_menu ul li a.active {
    padding-left: 10px;
    color: #84cdff;
}

.about_Coursedge {
    padding-right: 60px;
}

ul.address_details,ul.social_icon {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.social_icon li {
    display: inline-block;
}

ul.address_details li {
    color: #fff;
    margin-bottom: 10px;
}

ul.address_details li a {
    color: #fff;
    text-decoration: none;
}

ul.address_details li span {
    background: #0F75BC;
    width: 35px;
    display: inline-block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 7px;
}

ul.address_details li {
    margin-bottom: 15px;
}

ul.social_icon li a {
    border: 2px solid #A8DBFF;
    box-sizing: border-box;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 30px;
    color: #A8DBFF;
    border-radius: 50%;
    transition: all 0.5s ease;
}

ul.social_icon li {margin-right: 3px;}

ul.social_icon li a:hover {
    background: #fff;
    color: #0f75bc;
    border: 2px solid #ffffff;
}

.copyright {
    padding: 18px 0;
    border-top: 1px solid #263743;
}
button.MenuButton {
    display: none;
}
/*---- About Us Page -----*/
.breadcrum_wrapper:before {content: "";position: absolute;width: 100%;height: 100%;background: #000000b5;top: 0;left: 0;}

.breadcrum_wrapper {
    position: relative;
    background-position: center center;
    background-size: cover;
}

.bread_details {
    position: relative;
    text-align: left;
}

.bread_details h1 {
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}

.bread_details ul {
    margin: 0;
    list-style: none;
        padding: 0;
}

.bread_details ul li {
    display: inline;
    color: #a6a6a6;
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
}
.bread_details ul li:last-child:before {
    display: none;
}

.bread_details ul li:before {
    content: "\f105";
    position: absolute;
    right: -7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #eee;
    top: 0px;
}
.bread_details ul li:last-child {
    border: none;
    margin-right: 0px;
    padding-right: 0px;
}

.bread_details ul li a {
    color: #fff;
    text-decoration: none;
}
.aboutUsBox .card img {
    max-width: 90px;
    padding: 1rem 1rem 0;
}

.aboutUsBox .card {
    height: 100%;
}

.aboutUsBox .col-sm-6 {
    margin-bottom: 30px;
}

/*---- Contact Us -----*/
.contactForm {
    padding: 35px;
    background: #0f75bc;
    max-width: 530px;
    border: 4px solid #00538d;
}

.contactForm  h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.contactForm .form_group input,.contactForm .form_group textarea {
    width: 100%;
    padding: 12px 20px;
    background: #fff;
    outline: none;
    border: none;
}

.contactForm .form_group {
    margin-bottom: 15px;
}

.contactForm .form_group textarea {
    height: 100px;
}

.contactForm .form_footer button {
    width: 100%;
    padding: 13px;
    border-radius: 0;
    background: #dc3545;
    border: 1px solid #c92030;
}

.contactForm .form_group:last-child {
    margin-bottom: 8px;
}
.contactForm .form_footer button:hover {
    background: #00538d;
    border: 1px solid #00538d;
}
.contact_details ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact_details ul li {
    margin-bottom: 20px;
}

.contact_details ul li span.text_icon {
    width: 60px;
    display: inline-flex;
    height: 60px;
    background: #58585a;
    color: #fff;
    text-align: center;
    font-size: 27px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 17px;
    transition: all 0.5s ease;
}

.contact_details ul li a {
    text-decoration: none;
}

.contact_details ul li span.text_mail {
    font-size: 18px;
    position: relative;
    top: -8px;
    color: #070707;
    transition: all 0.5s ease;
}

.contact_details ul li a:hover span.text_icon {
    background: #0f75bc;
}

.contact_details ul li a:hover span.text_mail {
    color: #0f75bc;
}
/*---- Course Page -----*/
.fillter_course {
    background: #F4F8FA;
    padding: 30px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
}

.fillter_course > div {
    margin-bottom: 35px;
}

.fillter_course h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
}

.fillter_course  .form-check {
    margin-bottom: 15px;
}

.fillter_course .form-check input {
    width: 20px;
    height: 20px;
    outline: none;
    box-shadow: none;
}

.fillter_course .form-check label {
    padding-left: 5px;
    position: relative;
    top: 3px;
}

.form-check-input:checked {
    background: #0f75bc;
}

.course_search {
    position: relative;
}

.course_search input {
    width: 100%;
    padding: 11px 20px;
    border: 1px solid #C5C5C5;
    border-radius: 6px;
}

.course_search button {
    position: absolute;
    right: 15px;
    top: 11px;
    background: transparent;
    border: none;
    padding: 0;
    color: #909090;
    font-size: 19px;
}

.all_coursePage .col-md-6 {
    margin-bottom: 30px;
}

.course_Tags ul {
    padding: 0;
    margin: 0;
}

.course_Tags ul li {
    display: inline-block;
    padding: 6px 10px;
    background: #E8E8E8;
    border-radius: 2px;
    margin-bottom: 8px;
    font-size: 15px;
    color: #575757;
    cursor: pointer;
    transition: all 0.5s ease;
}

.course_Tags ul li:hover,.course_Tags ul li.active {
    background: #0f75bc;
    color: #fff;
}
/*.sidebar_course {
    position: sticky;
    top: 80px;
}*/
.pagination_course ul.pagination {
    justify-content: center;
}

.pagination_course ul.pagination li.page-item {
    padding: 0 5px;
}

.pagination_course ul.pagination li.page-item a.page-link {
    color: #818181;
    border: 1px solid #EAEAEA;
    font-size: 18px;
    font-weight: 600;
}

.pagination_course ul.pagination li.page-item.active a {
    color: #fff;
    border-radius: 3px;
    border: 1px solid #58585a;
    background: #58585a;
}

.pagination_course ul.pagination li.page-item.arrow-right a, .pagination_course ul.pagination li.page-item.arrow-left a {
    background: #0f75bc;
    color: #fff;
    border-color: #0f75bc;
    border-radius: 3px;
}
.fillterAllCourse h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}
.fillterAllCourse h3 {
    font-size: 20px;
    
    color: #000000;
    margin-bottom: 15px;
}

.fiiterfilled input,.fiiterfilled select {
    padding: 10px 16px;
    min-width: 330px;
    background: #FFFFFF;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 4px;
}

.fiiterfilled button {
    background: #fff;
    padding: 10px 40px;
    border: 1px solid #0f75bc;
    color: #0f75bc;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.fiiterfilled button:hover {
    background: #0f75bc;
    color: #fff;
}
/*---- Course Single Page ----*/
.course_certificate {
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.course_certificate:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    background: rgba(0, 108, 184, 0.87);
    top: 0%;
    left: -21%;
    transform: skew(23deg, 0deg);
}
.course_certificate > div {
    position: relative;
}
.course_detailsCer {
    max-width: 530px;
}
.course_detailsCer span.badge {
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 20px;
}
.course_detailsCer ul {
    padding: 0;
    list-style: none;
}

.course_detailsCer span.categoryTag {
    color: #eee;
}

.course_detailsCer span.categoryTag i {margin-right: 4px;}

.course_detailsCer h2,.course_detailsCer p {
    color: #fff;
}
.course_detailsCer ul li {
    display: inline;
    font-size: 18px;
    color: #fff;
    margin-right: 30px;
}

.course_detailsCer a.common_button img {
    max-width: 19px;
    margin-left: 6px;
    position: relative;
    top: -1px;
}
.course_detailsCer a.common_button {
    padding: 12px 34px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s ease;
    background: #ffffff;
    color: #0f75bc !important;
}
.course_detailsCer a.common_button:hover {
    background-color: #cbecff;
    border: 1px solid #cbecff;
}
.banner_BtnSocial ul {
    padding-left: 20px;
    position: relative;
    margin-bottom: 0;
}
.banner_BtnSocial ul li {
    margin-right: 2px;
}
.banner_BtnSocial ul li a {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    transition: all 0.5s ease;
    border-radius: 50%;
}
.banner_BtnSocial ul li a:hover {
    background: #fff;
    color: #0f75bc;
}
.pro_course_Name {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.pro_course_Name img {
    max-width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-right: 10px;
}

.pro_course_Name  h4 {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.pro_course_Name h4 span {
    font-size: 16px;
    line-height: 19px;
    color: #A7A7A7;
    display: block;
    font-weight: 500;
}

.Acctual_Price h3 {
    font-size: 34px;
    color: #0F75BC;
    font-weight: 600;
    margin-bottom: 20px;
}

.Acctual_Price p {
    margin-bottom: 4px;
}


.Course_FeaturesSec ul {
    padding: 0;
    list-style: none;
    margin: 20px 0;
}
.Course_FeaturesSec ul li {
    margin-bottom: 14px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.Course_FeaturesSec ul li span.firsrtText:after {
    content: ":";
    float: right;
    color: #646464;
}
.Course_ProfileAmout a.common_button {
    width: 100%;
    text-align: center;
    border-radius: 50px;
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.5s ease;
}
.Course_FeaturesSec ul li span.secondText {
    text-align: right;
}

.Course_FeaturesSec ul li span {
    width: 49%;
    display: inline-block;
}
.Course_FeaturesSec ul li span.secondText {
    text-align: right;
    color: #8A8A8A;
}
.Course_ProfileAmout a.common_button img {
    filter: brightness(0) invert(1);
    margin-left: 9px;
}

.Course_ProfileAmout {
    height: 100%;
}

.Course_ProfileAmout a.common_button:hover {
    background-color: #58585a;
    border: 1px solid #58585a;
}
.course_overviewSec .bg-white {
    border-radius: 5px;
}
.contNumber {
    font-weight: bold;
    font-size: 75px;
    line-height: 90px;
    -webkit-text-stroke: 1px #a3a3a3;
    color: #fff;
    background: #fff;
    position: relative;
    max-width: 270px;
    margin: 0 auto 15px;
}

.enrollBox h4 {
    font-weight: 600;
    font-size: 22px;
    min-height: 50px;
}

.enrollBox {
    padding: 0 30px;
}

.processEnroll .col-md-4:before {content: "";position: absolute;width: 90%;background: #A3A3A3;height: 1px;top: 50px;left: 30%;}

.processEnroll .col-md-4 {
    position: relative;
}

.processEnroll .col-md-4:last-child:before {
    display: none;
}
.Certificate_BoxSec {
    padding-left: 30px;
}

.Certificate_BoxSec p {
    font-size: 18px;
    margin-bottom: 25px;
}

.Certificate_BoxSec li {
    font-size: 18px;
    margin-bottom: 15px;
}

.Certificate_BoxSec ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.Certificate_BoxSec li:before {
    content: "";
    background: url(../img/tick-inside-circle.svg) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 6px;
}
.Related_Courses h2 span , .processEnroll h2 span{
    background: #0f75bc;
    display: block;
    width: 100px;
    height: 3px;
    margin: 12px auto 30px;
}
/*---- My Cart -----*/
.cartTotalBox {
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 20px;
    margin: 14px 0 0;
}

.cartTotal h4 {
    color: #000;
    font-weight: 600;
}

.cartTotalBox ul {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 13px;
    margin-bottom: 20px;
}

.cartTotalBox ul li {
    font-weight: 600;
    font-size: 17px;
    color: #575757;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.cartTotalBox ul li span {
    text-align: right;
    display: block;
}

.cartTotalBox ul.CourBoxList li {
    display: block;
    font-weight: 500;
}

.cartTotalBox ul.CourBoxList li i {
    margin-right: 5px;
}

.cartTotalBox button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.cartTotalBox a {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}
.Product_DetailsMyCart table {
    width: 100%;
}

.Product_DetailsMyCart table thead th {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    color: #000;
}

.Product_DetailsMyCart table thead tr {
}

.Product_DetailsMyCart tbody {
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}

.course_logo {
    max-width: 100px;
    border: 1px solid #eee;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}

button.close_BtnCart {
    background: transparent;
    border: none;
    margin: 0 16px;
}
.Product_DetailsMyCart tbody td {
    padding: 18px 0;
    font-weight: 500;
}
.Product_DetailsMyCart tbody tr {
    border-bottom: 1px solid #c4c4c4;
}
.Product_DetailsMyCart {
    padding-top: 10px;
}
.Count_Number {
    background: #F0F2F5;
    border-radius: 40px;
    padding: 5px 16px;
    max-width: 80%;
    margin: auto;
}

.Count_Number button {
    border: none;
    padding: 0;
    font-size: 14px;
}

.Count_Number span {
    min-width: 28px;
    display: inline-block;
    text-align: center;
}
.Coupon_codeBox {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.coupon_inout input {
    background: #F0F2F5;
    border-radius: 50px;
    border: none;
    padding: 10px 23px;
}

.Coupon_codeBox button {
    border-radius: 50px;
}

.Update_cart  .bg-grey {
    border-color: #efefef;
    color: #575757;
}

.Update_cart .bg-grey:hover {
    background: #dadada;
    color: #000;
}

.Coupon_codeBox button:hover {
    background: #58585a;
    border-color: #58585a;
}
/*---- University Single Page -----*/
.course_University {
    min-height: 420px;
    background-position: center center;
    background-size: cover;
}
.univers_process .contNumber {
    background: #f4f8fa;
    color: #f4f8fa;
}
.University_fillter .fillterAllCourse {
    background: #f4f8fa;
    border-radius: 8px;
    padding: 25px 40px;
    margin-top: 30px;
}


.University_detailsS .container {
    margin-top: -90px;
    background: #fff;
    box-shadow: 0px 4px 10px rgb(231 231 231 / 50%);
    border-radius: 8px;
    padding: 20px 15px;
}
.University_fillter .fillterAllCourse select {
    color: #515151;
}

.University_fillter .fillterAllCourse button {
    background: #0f75bc;
    color: #fff;
}
.University_fillter .fillterAllCourse button:hover {
    background: #015b99;
}
.logo_univerSity {
    border: 1px solid #B4B4B4;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 230px;
}

.logo_univerSity img {max-height: 170px;}

.University_detailsS {
    padding-bottom: 80px;
}
.universityText li {
    display: inline-block;
    margin-right: 14px;
    padding-right: 14px;
    border-right: 1px solid #a4a4a4;
    color: #818181;
}

.universityText li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.universityText ul {
    padding: 0;
}
/*---- My Profile -----*/
.PersonalIconse img {
    width: 100%;
}

.PersonalIconse {
    max-width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 50%;
}

.profileTophead h2 span {
    background: #212529;
    display: inline-block;
    height: 2px;
    width: 52px;
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.profileDetails ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.profileDetails ul li {
    width: 25%;
    margin-bottom: 13px;
}

.profileDetails ul li span {
    font-size: 16px;
    line-height: 24px;
    color: #818181;
    display: block;
}

.profileDetails ul li.address_details {
    width: 100%;
}

.Course_details .accordion-button.collapsed{
    background-color: #f4f8fb;
    border-radius: 4px;
    border: none;
}
.Course_details .accordion-button{
    background-color: #f4f8fb;
    box-shadow: none;
}
.Course_details .accordion-header {
    margin-bottom: 0;
    border-radius: 4px;
    border: 1px solid #bbd1de;
}
.Course_details .accordion-item {
    margin-bottom: 20px;
    border: none;
}
.Course_details .accordion-button:focus{
    border-color: #bbd1de;
    box-shadow: none;
}
ul.Course_name {
    margin: 0;
    width: 100%;
    padding: 0;
}
ul.Course_name li {
    list-style: none;
    width: 30%;
    float: left;
    color: #212529;
    font-size: 18px;
}
ul.Course_name li.C_Name {
    width: 40%;
}
ul.Course_name li span {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #818181;
}
ul.Course_Grades {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
ul.Course_Grades li {
    list-style: none;
    width: calc(100% / 4);
    float: left;
}
.Course_details .accordion-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bbd1de;
    border-top: none;
}
.Course_details .accordion-item .accordion-collapse.collapse.show {
    margin-bottom: 50px;
}
.Course_details .accordion-item:last-child .accordion-collapse.collapse.show {
    margin-bottom: 0;
}
.profileDetails ul li:last-child {
    width: 100%;
}
ul.Course_Grades li span {
    font-size: 14px;
    color: #818181;
    margin-right: 10px;
}
.Request_btn.text-center {
    position: relative;
    top: 35px;
    width: 100%;
}
.Request_btn.text-center button.btn {
    background: #0f75bd;
    color: #fff;
   border-radius: 2px;
    padding: 8px 20px;
}
.Request_btn.text-center button.btn img {
    width: 30px;
    margin-right: 10px;
}
.university_couBox .col-md-6 {
    margin-bottom: 30px;
}
/*---- Responsive -----*/
@media(max-width: 1480px){
	.header_wapper {
	    max-width: 100%;
	}
}
@media(max-width: 1399px){
	.logo_Partners {
	    min-height: 90px;
	    padding: 10px 30px;
	}
	.content_course {
	    padding: 10px 5px;
	}
    .content_course ul li {
        font-size: 15px;
    }	
	.button_addBuy button.bg-dark-grey img {
	    max-width: 20px;
	    margin-right: 5px;
	}
	.UniversitiesBox {
	    min-height: 290px;
	}
	.lernerDetails h3 {
	    font-size: 22px;
	        line-height: 32px;
	}
	.lernerDetails h6 {
	    font-size: 14px;
	}
	.mainlogo img {
	    max-width: 230px;
	}
	.contNumber {
	    max-width: 220px;
	}
	.enrollBox {
	    padding: 0 20px;
	}
    .content_course h3 a, .content_course h4 a {
        line-height: 1.4;
    }
    .fiiterfilled input, .fiiterfilled select {
       min-width: 320px;
    }
    .Course_FeaturesSec ul li {
        font-size: 13px;
    }
    .Course_ProfileAmout {
        padding: 16px !important;
    }
    .Product_DetailsMyCart tbody td {
        max-width: 200px;
    }
    .University_fillter .fillterAllCourse {
        padding: 25px 25px;
    }
    .University_fillter .fillterAllCourse input, .University_fillter .fillterAllCourse select {
        min-width: 300px;
    }
}
@media(max-width: 1199px){
	.searchInput button {
	    padding: 7px 17px;
	}
	.login_button {
	    display: none !important;
	}
    .fiiterfilled select {
        min-width: 230px;
    }
	button.MenuButton {
	    display: block;
	    margin-left: 34px;
	    background: transparent;
	    border: none;
	    outline: none;
	    font-size: 26px;
	    color: #0f75bc;
	    cursor: pointer;
	}
	.banner_slider .carousel-inner .carousel-caption h5 {
	    font-size: 32px;
	    line-height: 42px;
	}
	.banner_slider .carousel-control-next, .banner_slider .carousel-control-prev {
	    width: 50px;
	    height: 50px;
	}
	.banner_slider .carousel-control-prev {
	    left: 30px;
	}
	.banner_slider .carousel-control-next {
	    right: 30px;
	}
	.mainHeading {
	    font-size: 30px;
	}
	.course_image img.featured_image {
	    height: 200px;
	}
	
    .Enroll_Button p {
        margin-bottom: 0;
    }
    .course_box_style1 .category_Price .categoryTag {
        font-size: 15px;
    }
	.Universities_nameBox h5 {
	    font-size: 17px;
	}
	.logo_imageUni {
	    width: 65px;
	    height: 65px;
	}
	.UniversitiesBox {
	    min-height: 340px;
	}
	.content_course h3, .content_course h4 {
	    font-size: 17px;
	}
	.for_leanerSec .container {
	    max-width: 92%;
	}
	.box_leaner {
	    margin-bottom: 40px;
	}
	.about_Coursedge img {
	    max-width: 100%;
	}
	.about_Coursedge {
	    padding-right: 20px;
	}
	.main_footer h4 {
	    font-size: 22px;
	}
	.lernerDetails {
	    padding-right: 40px;
	        padding-left: 20px;
	}
	.cout_lerner {
	    width: 65px;
	    height: 65px;
	    line-height: 61px;
	    font-size: 35px;
	}
	.lernerDetails h3 {
	    font-size: 20px;
	    line-height: 26px;
	}
	.course_detailsCer h2 {
	    font-size: 28px;
	    line-height: 1.3;
	    padding: 10px 0 5px;
	}
	.pro_course_Name img {
	    max-width: 68px;
	    height: 68px;
	}
	.pro_course_Name h4 {
	    font-size: 20px;
	}
	.pro_course_Name h4 span {
	    font-size: 14px;
	}
	.Acctual_Price h3 {
	    font-size: 30px;
	}
	.Certificate_BoxSec h2 {
	    font-size: 26px;
	    line-height: 1.4;
	}
	.Certificate_BoxSec p {
	    font-size: 16px;
	    margin-bottom: 15px;
	}
	.Certificate_BoxSec li {
	    font-size: 16px;
	    margin-bottom: 10px;
	}
    .course_certificate:before {
        width: 82%;
    }
    h2 {
        font-size: 28px;
    }
    .course_overviewSec .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .course_overviewSec .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
    .couBox_Overview p {
        font-size: 15px;
    }
    .Count_Number {
        max-width: 93%;
        padding: 5px 10px;
            text-align: center;
    }
    .coupon_inout input {
        padding: 10px 10px;
    }
    .common_button {
        padding: 7px 24px;
    }
    .University_fillter .fillterAllCourse input, .University_fillter .fillterAllCourse select {
          min-width: 245px;
    }
    .logo_univerSity img {
        max-height: 130px;
    }
    .logo_univerSity {
        min-height: 190px;
    }
    .PersonalIconse {
        max-width: 130px;
        height: 130px;
    }
}
@media(max-width: 991px){
	.banner_slider .carousel-inner img {
	    height: 500px;
	}
	.University_Partners .col {
	    max-width: 33.33%;
	    margin-bottom: 20px;
	        flex: inherit;
	}
	.University_Partners .col:nth-child(5) {
	    margin-left: 15%;
	}
	.Popular_Courses .col-md-4 {
	    width: 50%;
	    margin-bottom: 30px;
	}
	.Popular_Courses .col-md-4:last-child {
	    margin-left: 25%;
	    margin-bottom: 0;
	}
    .fiiterfilled input, .fiiterfilled select {
        min-width: 280px;
    }
    .fiiterfilled select {
        min-width: 150px;
    }
    .fiiterfilled button {
        padding: 10px 25px;
    }
	.UniversitiesBox {
	    min-height: 300px;
	}
	.about_Coursedge img {
	    max-width: 250px;
	}
	.about_Coursedge {
	    padding-right: 0;
	    border-bottom: 1px solid #1d394f;
	    margin-bottom: 20px;
	    padding-bottom: 10px;
	}
	.for_leanerSec .container {
	    max-width: 720px;
	}
	.for_leanerSec .col-md-6 {
	    width: 100%;
	}
	.for_leanerSec .col-md-6 > img{
		display: none;
	}
	.for_leanerSec {
	    padding: 60px 0;
	}
	.box_leaner {
	    margin-bottom: 60px;
	}
	h2 {
	    font-size: 28px;
	}
	h4 {
	    font-size: 20px;
	}
	.contactForm h3 {
	    color: #fff;
	    font-size: 30px;
	    font-weight: 600;
	}
	.contactForm {
	    padding: 25px;
	        max-width: 100%;
	}
	.course_page .col-md-4 {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.course_page .col-md-8 {
	    width: 100%;
	}
	.fillter_course .course_Tags {
	    margin-bottom: 0;
	}
	.fillter_course .form-check {
	    display: inline-block;
	    width: 32.33%;
	}
	.fillter_course > div {
	    margin-bottom: 20px;
	}
	.fillter_course h3 {
	    font-size: 20px;
	}
	.course_detailsCer h2 {
	    font-size: 24px;
	}
	.course_detailsCer a.common_button {
	    padding: 8px 34px;
	}
	.course_overviewSec .col-md-5 {
	    width: 100%;
	}
    .content_course ul li {
        font-size: 14px;
        margin-right: 6px;
        padding-right: 8px;
    }
    .content_course ul {
        padding: 4px 0;
    }
	.course_overviewSec .col-md-7 {
	    width: 100%;
	    margin-bottom: 25px;
	}
	.enrollBox {
	    padding: 0 0px;
	}
	.contNumber {
	    max-width: 130px;
	    font-size: 55px;
	}
	.enrollBox h4 {
	    font-size: 18px;
	}
	.Certificate_BoxSec {
	    padding-left: 0px;
	}
	.Certificate_BoxSec h2 {
	    font-size: 21px;
	}
	.Related_Courses .col-md-6 {
	    margin-bottom: 25px;
	}
    .searchInput {
        width: 100%;
    }
    .mainlogo img {
        max-width: 100%;
    }
    .course_certificate  .col-md-6 {
        width: 57%;
    }
    .my_cartSec .col-md-8, .my_cartSec .col-md-4 {
        width: 100%;
    }
    .University_fillter .fillterAllCourse input, .University_fillter .fillterAllCourse select {
       min-width: 210px;
    }
    .University_fillter .fillterAllCourse button {
        margin-top: 10px;
    }
    .logo_univerSity {
        min-height: 130px;
    }
     .course_University {
        min-height: 280px;
    }
    .profileDetails ul li {
        width: 50%;
        margin-bottom: 13px;
    }
    .PersonalIconse {
        max-width: 80px;
        height: 80px;
    }
    ul.Course_name li {
        font-size: 16px;
    }
    ul.Course_Grades li {
        width: calc(100% / 2);
        margin-bottom: 7px;
    }
    .PersonalIconse {
    display: none;
}
ul.Course_name li.C_Name {
    margin-bottom: 10px;
}
}
@media(max-width: 767px){
    .mobile_searchSec {
    display: block !important;
    background: #0f75bc;
    padding: 4px;
    position: relative;
}
.fiiterfilled input, .fiiterfilled select {
    min-width: 100%;
    width: 49%;
    margin-bottom: 10px;
}
.mobile_searchSec .nav-search-field input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    color: #000;
    border-radius: 5px;
}

.nav-search-submit {
    position: absolute;
    right: 7px;
    top: 6px;
}

.nav-search-submit button {
    background: #636364;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
}
	.SearchBox {
	    display: none;
	}
	body {
	    margin-top: 70px;
	}
	.Popular_Courses .col-md-4 {
	    width: 100%;
	}
	.Popular_Courses .col-md-4:last-child {
	    margin-left: 0;
	}
	.CoursEdge_footer {
	    border-bottom: 1px solid #1d394f;
	    margin-bottom: 20px;
	    padding-bottom: 20px;
	}
	.course_image img.featured_image {
	    height: 300px;
	}
	.banner_slider .carousel-inner .carousel-caption h5 {
	    font-size: 28px;
	    line-height: 36px;
	}
	.contactForm {
	    margin-bottom: 30px;
	}
	.bread_details h1 {
	    font-size: 35px;
	}
	.course_detailsCer {
	    padding-top: 30px;
	}
	.processEnroll .col-md-4:before {
	    display: none;
	}
	.enrollBox h4 {
	    font-size: 22px;
	    min-height: auto;
	}
	.Certificate_BoxSec {
	    padding-top: 20px;
	}
	.bread_details ul li {
	    font-size: 14px;
	}
    .mainlogo img {
        max-width: 220px;
    }
    .course_certificate .col-md-6 {
        width: 100%;
    }
    .course_certificate:before {
        width: 100%;
        transform: inherit;
        left: 0;
        background: rgb(0 108 184 / 81%);
    }
    .my_cartSec .container {
        max-width: 100%;
    }
    .Product_DetailsMyCart tbody td {
        max-width: 150px;
    }
    .Coupon_codeBox button {
        border-radius: 50px;
        padding: 7px 14px;
        font-size: 15px;
    }
    .coupon_inout input {
        padding: 7px 10px;
    }
    .University_fillter .fillterAllCourse input, .University_fillter .fillterAllCourse select {
        min-width: 100%;
    }
    .logo_univerSity {
        margin-bottom: 20px;
    }
    .universityText li {
        border: none;
        margin-bottom: 8px;
            padding-right: 0;
    margin-right: 0;
    }
    ul.Course_name li{
        width: 50%;
    }
    ul.Course_name li.C_Name {
        width: 100%;
    }
    ul.Course_Grades li {
        width: 50%;
    }
    .profileDetails ul li {
        width: 100%;
        margin: 8px 0;
    }
    .profileDetails ul li span {
        display: inline-block;
        padding-right: 10px;
    }
    .ptb-90 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .University_detailsS .container {
        margin-top: -60px;
    }
   
}
@media(max-width: 550px){
	.University_Partners .col {
	    max-width: 50%;
	 }
	 .University_Partners .col:nth-child(5) {
	    margin-left: auto;
	}
	.rating_star ul {
	    margin-right: 6px;
	}
	.banner_slider .carousel-control-prev {
	    left: 15px;
	}
	.banner_slider .carousel-control-next {
	    right: 15px;
	}
    button.close_BtnCart {
        margin: 0 8px;
    }
    .course_logo {
        max-width: 70px;
        height: 55px;
    }
    .Product_DetailsMyCart tbody td:nth-child(3) {
        max-width: 110px;
        font-size: 15px;
    }
    .Count_Number {
            max-width: 80%;
            padding: 5px 10px;  
        }
        .Count_Number button {
            font-size: 11px;
        }
        .Coupon_codeBox {
        display: block;
    }

    .coupon_inout {
        margin-bottom: 20px;
    }


}
@media(max-width: 480px){
	.course_image img.featured_image {
	    height: 230px;
	}
	.mainHeading {
	    font-size: 22px;
	}
	.font18 {
	    font-size: 16px;
	}
	.banner_slider .carousel-control-next, .banner_slider .carousel-control-prev {
	    width: 40px;
	    height: 40px;
	}
	.banner_slider .carousel-control-prev .carousel-control-prev-icon,.banner_slider .carousel-control-next .carousel-control-next-icon {
	    background-size: 22px;
	}
	.banner_slider .carousel-inner .carousel-caption h5 {
	    font-size: 22px;
	    line-height: 30px;
	}
	.banner_slider .carousel-inner .carousel-caption p {
	    font-size: 14px;
	    line-height: 21px;
	}
	.banner_slider .carousel-inner .carousel-caption .rating_star {
	    display: block;
	    margin-bottom: 15px;
	}
	.banner_slider .carousel-inner .carousel-caption a.common_button {
	    padding: 8px 29px;
	}
	button.MenuButton {
	    margin-left: 14px;
	}
	.mainlogo img {
	    max-width: 200px;
	}
	.login_buttonMobile span.user_icon {
	    width: 100px;
	    height: 100px;
	    line-height: 100px;
	    font-size: 50px;
	}
	.pagination_course ul.pagination li.page-item a.page-link {
	    font-size: 16px;
	    padding: 4px 9px;
	}	
	.ptb-90 {
	    padding-top: 70px;
	    padding-bottom: 70px;
	}
    .course_detailsCer a.common_button {
        padding: 8px 20px;
    }
    .Course_details .accordion-button, .Course_details .accordion-body {
        padding: 15px;
    }
    ul.Course_Grades li {
        width: 100%;
    }
    .profileTophead {
    flex-direction: column-reverse;
    justify-content: right;
    align-items: inherit !important;
}

.profileTophead button.common_button {
    max-width: 170px;
    margin-left: auto;
    margin-bottom: 10px;
}
}
@media(max-width: 375px){
	.logo_Partners {
	    padding: 10px 20px;
	}
	.course_image img.featured_image {
	    height: 210px;
	}
	.banner_slider .carousel-control-next, .banner_slider .carousel-control-prev {
	    display: none;
	}
	.banner_slider .carousel-inner .carousel-caption {
	    width: 100%;
	    left: 0;
	    padding: 0 20px;
	}
	.banner_slider .carousel-inner img {
	    height: 370px;
	}
	.cout_lerner {
	    width: 45px;
	    height: 45px;
	    line-height: 41px;
	    font-size: 25px;
	}
	.for_pointlist:before {
	    height: 84%;
	    left: 21px;
	}
	.lernerDetails h3 {
	    font-size: 18px;
	    line-height: 24px;
	}
	.pagination_course ul.pagination li.page-item {
	    padding: 0px 3px;
	}
    .cart_button {
        padding-right: 8px;
        margin-right: 0px;
    }
    .rightCart span.badge {
        width: 17px;
        height: 17px;
        line-height: 17px;
    }
    .header_wapper {
        padding: 15px 15px;
    }
    .Course_FeaturesSec ul li span.firsrtText {
        width: 40%;
    }
    .Course_FeaturesSec ul li span {
        width: 59%;
    }
    .banner_BtnSocial ul {
        padding-left: 6px;
    }
    .banner_BtnSocial ul li a {
     width: 35px;
        height: 35px;
        line-height: 32px;
        font-size: 15px;
    }
    .banner_BtnSocial ul li {
        margin-right: 0px;
    }
        .course_detailsCer a.common_button {
            padding: 8px 13px;
        }
        .course_detailsCer ul li {
        font-size: 15px;
    }
    h2 {
        font-size: 24px;
    }
    .Course_ProfileAmout {
    padding: 10px !important;
}

}