
<section style="width: 100%; 
background:#000000
;padding-bottom: 50px;
color: #ffffff;
width: 100%;
padding: 0px;
bottom: 0;
">
<footer class="main_footer">
    <div class="container ptb-60">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div  class="about_Coursedge ">
            <img [routerLink]="['/home']" src="./assets/img/logo.png" alt="logo" class="img-fluid p-coursor">
            <p class="footerTex">At CoursEdge, our mission is to help Higher Education institutions expand their reach and provide students with greater access to educational opportunities through a modern, digital marketplace. CoursEdge is a division of Sanguine Informatics.</p>
          </div>
        </div>
         <div class="col-lg-4 col-md-6">
          <div class="CoursEdge_footer">
              <div class="footer_menu">
                <h4>CoursEdge</h4>
                <ul>
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/about']">About</a></li>
                  <li><a [routerLink]="['/home']">Top Courses</a></li>
               
                  <li><a [routerLink]="['/contact']" >Contact Us</a></li>
                  <li><a>Careers</a></li>
                </ul>
              </div>
              <div class="footer_menu">
                <h4>Support</h4>
                <ul>
                  <li><a >FAQ</a></li>
                  <li><a [routerLink]="['/term']">Terms of Services</a></li>
                  <li><a [routerLink]="['/policies']">Privacy Policy</a></li>
                  <!-- <li><a href="#">Sitemap</a></li> -->
                </ul>
              </div>
          </div>
         </div>
         <div class="col-lg-4 col-md-6">
           <h4>Find Us</h4>
            <ul class="address_details">
              <li><span><i class="fas fa-map-marker-alt"></i></span> Houston, TX</li>
              <li><a href="mailto:contact@coursedge.org"><span><i class="far fa-envelope-open"></i></span> contact@coursedge.org</a></li>
              <li><a href="tel:774-277-8666"><span><i class="fas fa-phone-alt"></i></span> 774-277-8666</a></li>
            </ul>
            <ul class="social_icon">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
         </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container text-center">
        <p class="mb-0 text-white">© Copyright 2021 All rights reserved by CoursEdge.Org</p>
      </div>
    </div>
  </footer>
  </section>
