.footerTex{
    text-align: justify;
}
// .section6Head{
//     /* width: 77px; */
//     height: 10px;
//     font-family: Montserrat;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: left;
//     color: #FFFFFF;
//   }
  
//   .section6Link{
//     font-family: Montserrat !important;
//     font-style: normal;
//     font-weight: normal;
//     /* width: 62px; */
//     height: 16px;
//     font-size: 13px;
//     line-height: 16px;
//     letter-spacing: 0.01em;
//     color: #FFFFFF;
//     text-align: left !important;
//   }
//   a{
//     border:none !important;
//   }
//   .section6Add{
//     font-family: Montserrat !important;
//     font-style: normal;
//     font-weight: normal;
//       /* width: 62px; */
//       /* height: 16px; */
//     font-size: 12px;
//     line-height: normal !important;
//     letter-spacing: 0.01em;
//     color: #FFFFFF;
//     text-align: left !important;
//   }
//   .section6Img{
//     background: #000000;
//     width: 36px;
//     height: 36px;
//     margin: 10px;
//     box-shadow: 0px 2px 3px 0px #000000;
//     border-radius: 5px !important;
//   }
//   .section6Padding{
//     margin-top: 30px;
//   }
//   .section6Link{
//     border: none;
//   }
  
  