<section style="margin-top: 50px;">

    <div fxLayout="row wrap" class="cartHead" fxFlexFill>
        <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
            <span class="orderSummery marginLeft">Privacy Policies</span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%"
            style="padding: 0px;    padding-bottom: 10px; ">
            <img src="./assets/images/contactUs.svg" alt="Card image cap"
                class=" desktopVisible summaryImg marginRight">
            <img src="./assets/images/contactUs.svg" alt="Card image cap" class="mobileVisible summaryImg ">
        </div>
    </div>
    <div class="aboutUsText">
        <p>
            CoursEdge cares about the confidentiality and security of your information. This Privacy Policy applies to
            information that CoursEdge collects through the CoursEdge.org Site and when you interact with CoursEdge.
            <br/>
            <br/>
            CoursEdge reserves the right to modify this Privacy Policy at any time without advance notice. Any changes
            to this Privacy Policy will be effective immediately upon posting on this page, with an updated effective
            date. By accessing the CoursEdge Site after any changes have been made, you signify your agreement on a
            prospective basis to the modified Privacy Policy and all of the changes. Be sure to return to this page
            periodically to ensure familiarity with the most current version of this Privacy Policy.
            <br/>
            <br/>
        </p>
        <p>
            Your information is received and controlled by CoursEdge according to this Privacy Policy when you sign up
            for an CoursEdge account or otherwise use the CoursEdge Site.

        </p>

        <p class="initText">This Privacy Policy is organized as follows:</p>
        <ul>
            <li> Information that CoursEdge collects from you (including Personal Information)</li>
            <li> Cookies and Tracking Technologies on the CoursEdge Site</li>
            <li> How your information is used</li>
            <li> How your information is shared</li>
            <li> How to manage your Personal Information</li>
            <li> Storage & Security</li>
            <li> Privacy Policy updates</li>
            <li> Contact information</li>
            <li> Glossary</li>

        </ul>
        <br />

        <p class="initText">

            INFORMATION THAT COURSEDGE COLLECTS

        </p>
        <span> CoursEdge directly collects Personal Information when you:</span>
        <ul>
            <li> Sign up for an CoursEdge user account and create an CoursEdge user profile </li>
            <li> Enroll in courses </li>
            <li> Purchase a product or service (for example, Certificate of Completion) </li>
            <li> Send email messages to CoursEdge (including messages to Support); and </li>
            <li> Participate in user surveys. </li>

        </ul>
        <p>
            CoursEdge also indirectly collects usage information about your visit to the CoursEdge Site, as explained in
            the section below titled Cookies and Tracking Technologies.
            <br />
            CoursEdge does not itself collect Personal Information or store financial account numbers or identification
            issued by a governmental entity, employer, or other authority. Instead, if you choose to make a purchase and
            enroll in a course or purchase other product or service from the CoursEdge Site, you will be directed to
            CoursEdge’s third-party payment processor and CoursEdge’s Partner Institution who may collect Personal
            Information
        </p>
        <p class="initText">To the extent that CoursEdge associates the information that CoursEdge collects directly or
            indirectly with an individual (for example, you), the association is based on Personal Information in your
            account profile.</p>

        <p>You may voluntarily choose to share additional Personal Information on the CoursEdge Site.
            Member Institutions do not receive your Personal Information unless and until you enroll in a course. If you
            enroll in a course, the Member Institution that offers the course will receive Personal Information from
            your CoursEdge account profile plus the information that CoursEdge collects about your activity.
        </p>

        <p class="initText">COOKIES AND TRACKING TECHNOLOGIES</p>

        <p>Like many companies, CoursEdge uses Cookies and other common Tracking Technologies on the CoursEdge Site and
            in email communications to help CoursEdge better understand your use and needs of the CoursEdge Site,
            current and future CoursEdge-related products and services, and how CoursEdge can improve. For example:</p>
        <ul>
            <li> Based on your cookie settings, CoursEdge tracks information indicating, among other things, which pages
                of the CoursEdge Site were visited, the order in which they were visited, when they were visited, and
                which hyperlinks and other user interface controls were used;</li>
            <li> CoursEdge may log the IP address, operating system, and browser software (including mobile use and
                device type when you use CoursEdge native mobile apps) you used when accessing the CoursEdge Site, and
                CoursEdge may be able to determine from an IP address your Internet Service Provider and the geographic
                location of your point of connectivity; and </li>
            <li> CoursEdge may track and collect information from emails that CoursEdge sends to you, for example
                whether you opened the email or clicked on any links from the email.</li>
        </ul>

        <p>
            CoursEdge also partners with third parties to help us track and understand your activity on the CoursEdge
            Site, how you interact with CoursEdge’s social media, and how you find or may be referred to the CoursEdge
            Site. Individual Members may separately use Tracking Technologies within their courses and email
            communications to understand how you find or may be referred to a course on the CoursEdge Site.
        </p>

        <p>
            CoursEdge uses Cookies and other Tracking Technologies for the following purposes:
        </p>


        <ul>
            <li> when necessary for system administration, security, and integrity to ensure the CoursEdge Site works
                properly for you. Without these technologies, the CoursEdge Site may not function correctly;</li>
            <li> to enable analytics, performance and functionality, to help CoursEdge gathers information about how
                visitors use the CoursEdge Site and monitor CoursEdge Site performance, and to enhance your experience
                by recognizing and remembering whether you have visited the CoursEdge Site before and may have any
                personal preferences; and</li>
            <li> to support marketing by enabling CoursEdge to deliver content relevant to your interests on the
                CoursEdge Site and third-party sites based on how you interact with CoursEdge or Member Institution
                advertisements or content. CoursEdge uses “first-party” cookies, which means cookies served by CoursEdge
                or an individual Member, and also “third-party” cookies, which means cookies served by third parties
                that help CoursEdge and Members track this information.</li>
        </ul>

        <p>You have some options for managing Cookies and other Tracking Technologies. These include:</p>

        <ul>

            <li>Modifying your browser settings: You should be able to control how and whether your web browser accepts
                Cookies by adjusting its privacy and security settings. The “help” feature of the menu bar on most
                browsers will tell you how to stop accepting new Cookies, how to receive notification of new Cookies,
                and how to disable existing Cookies. If you reject CoursEdge’s Cookies, many functions and conveniences
                of the CoursEdge Site may not work properly.</li>
            <li>Opting-out of certain third-party tracking and advertising: Some of the third parties used by CoursEdge
                for Cookies and Tracking Technologies offer the ability to opt-out from their tracking by following
                processes described on their websites. CoursEdge is not responsible for the effectiveness of any
                third-party opt-out options.</li>

        </ul>

        <p class="initText">HOW YOUR INFORMATION IS USED</p>
        <p>CoursEdge and Member Institutions use information, including Personal Information, to carry out the following
            purposes:</p>
        <ul>
            <li><strong>Operate and improve the CoursEdge Site</strong> – This includes creating and improving features
                that support the CoursEdge community and enable CoursEdge Site usage at scale. This also includes
                personalizing the CoursEdge Site, so your experience is tailored to your interests and needs.</li>
            <li><strong>Offer and improve products and services</strong> – This includes enabling you to navigate the
                CoursEdge Site, to enroll in courses and programs on the CoursEdge Site, and to purchase or obtain
                products and services on the CoursEdge Site. such as Certificates of Completion.</li>
            <li><strong>Develop and maintain the security and performance of the CoursEdge Site</strong> – This includes
                tracking CoursEdge Site outages and potential misuses of the CoursEdge Site.</li>
            <li><strong>Communicate with you</strong> – This includes answering your course and platform questions,
                notifying you of course and CoursEdge Site maintenance and updates, marketing to you about course
                offerings, programs, news, and related products and services of CoursEdge or CoursEdge affiliates, and
                as permitted under applicable law, sending you communications about products or services of selected
                business partners that may be of interest to you.</li>
            <li><strong>Exercise, enforce, and comply with legal rights and obligations</strong> – This includes
                responding to subpoenas, court orders, or other legal process; and investigating, preventing, or taking
                action regarding illegal activities, suspected fraud, security or technical issues, or to protect the
                rights, property, or safety of CoursEdge, Members Institutions, or others, and as otherwise required by
                applicable law.</li>

        </ul>

        <p>CoursEdge or a Member Institutions may also seek your consent for additional uses of information, including
            Personal Information, and will use it only for the purpose described to you. All use of Personal Information
            is subject to applicable law.</p>

        <p class="initText">HOW YOUR INFORMATION IS SHARED</p>
        <p>CoursEdge and Member Institutions may share information, including Personal Information, with third parties
            for the following purposes:</p>
        <ul>
            <li><strong>With service providers, contractors, and other third parties that help carry out the uses
                    described above</strong> – CoursEdge requires third parties to: (1) abide by this Privacy Policy and
                applicable law; (2) handle Personal Information in a confidential manner and maintain adequate security;
                and (3) use Personal Information only as needed to fulfill the relevant purpose(s). </li>
            <li><strong>With affiliates of CoursEdge or a Member, or with successors in the event of a merger,
                    acquisition, or reorganization, for their use consistent with this Privacy Policy.</strong></li>

        </ul>

        <p>
            CoursEdge or a Member may also seek your consent for additional disclosures of information, including
            Personal Information, and will share it only as described to you. In addition, CoursEdge or a Member
            Institution may share with the public and with third parties, including but not limited to researchers and
            business partners, information and Personal Information that is de-identified or aggregated in a manner that
            does not personally identify you.

        </p>
        <p class="initText">HOW TO MANAGE YOUR PERSONAL INFORMATION</p>
        <p>You can manage your Personal Information through your Profile on the CoursEdge Site and requests to the
            CoursEdge support team. CoursEdge is not responsible for information controlled by a Member Institutions.
            CoursEdge will provide support to the extent required by applicable law (for example, learners in the
            European Union) and more broadly when possible, as a courtesy in our sole discretion. </p>
        <p class="initText">Access and correct your Personal Information</p>
        <p>Much of your Personal Information is available in your CoursEdge account. Your name, email address, and other
            identifiable profile information is editable through the profile settings in your CoursEdge account except
            as noted below. Your account dashboard lists all current and archived courses in which you have enrolled.
        </p>

        <p class="initText">Exceptions:</p>
        <ul>
            <li>Usernames cannot ever be changed. This is a CoursEdge system restriction. Because usernames identify you
                in courses and elsewhere on the CoursEdge Site.</li>
            <li>CoursEdge is not responsible for where a learner volunteers Personal Information to a Member
                Institution.</li>
        </ul>

        <p class="initText">Restrict or object to the processing of Personal Information</p>
        <p>If you want to unsubscribe from CoursEdge emails and other communications to you, you may manage your
            preferences or unsubscribe through the link within the email. CourEdge has no control over communication
            controlled by a Member Institutions. </p>

        <p class="initText"> To request deletion of your CoursEdge account and Personal Information, email your request
            to <a href="mailto: support@coursedge.org"><strong>support@coursedge.org</strong></a> Because deletion on
            the CoursEdge system is a permanent action and cannot be
            reversed, CoursEdge may ask you to complete a process that aims to confirm your authority to manage the
            CoursEdge account affected by your request.</p>

        <p>With respect to your CoursEdge account, CoursEdge will permanently:</p>
        <ul>
            <li>deactivate your CoursEdge account,</li>
            <li>remove the active profile,</li>
            <li>retire your username, and</li>
            <li>remove you from CoursEdge email lists.</li>
        </ul>

        <p>With respect to your Personal Information, CoursEdge will permanently delete your CoursEdge account profile
            Personal Information from the CoursEdge Site.</p>
        <p>To the extent that CoursEdge associates the information that CoursEdge collects directly or indirectly with
            an individual (for example, you), the association is based on Personal Information in your CoursEdge account
            profile. By erasing the Personal Information in your CoursEdge account profile, the remaining information
            about your activity on the CoursEdge Site will no longer be associated with you, except as noted below.</p>
        <p>These changes will be applied to data stores that are used for operation of the CoursEdge Site not including
            course(s) administration by Members Institutions. If you enrolled in any courses on the CoursEdge Site, you
            will need to request the deletion of account and Personal Information directly with the Member Institution.
        </p>
        <p class="initText"> Exceptions:</p>
        <ul>
            <li>Deletion will not apply to historical activity logs or archives unless and until these logs and data
                naturally "age-off" the CoursEdge system.</li>
            <li>CoursEdge cannot always delete records of past interactions and transactions. For example, records
                relating to previous purchases on the CoursEdge Site must be retained for financial reporting, audit,
                and compliance reasons.</li>
            <li>CoursEdge will retain and use Personal Information as necessary to comply with its legal obligations,
                resolve disputes, enforce its agreements, and as otherwise permitted by applicable law.</li>
        </ul>

        <p class="initText"> Data retention</p>
        <p> CoursEdge will retain your Personal Information for as long as your account is active or as needed to
            provide you with services; to maintain a record of your transactions for financial reporting, audit, and
            compliance purposes; and to comply with CoursEdge’s legal obligations, resolve disputes, enforce its
            agreements, and as otherwise permitted by applicable law. If you pay for a course or enroll in a Member
            Institution’s course, such Payment Processor’s and Member Instruction’s policies will apply for the
            retention of data they collect. </p>

        <p class="initText"> STORAGE & SECURITY</p>
        <p> CoursEdge stores information, including Personal Information, on its own servers and also on servers of
            companies that CoursEdge hires to provide services. Each Member Institution or 3rd Party Partner also stores
            information, including Personal Information, on its own servers and/or on servers of companies that the
            Member hires to provide services. In each case, information may be stored in the United States and in other
            countries where CoursEdge or a Member operates, and in countries where CoursEdge and each Member’s
            respective service providers operate. If you are in the European Union, Switzerland, or other regions with
            laws governing data collection and use, you acknowledge that CoursEdge and each Member may transfer, process
            and store your personal information in the United States and other countries, the privacy laws of which may
            be considered less strict than those of your region.<br />
            CoursEdge controls its own copy of information collected through the CourSedge Site and has an information
            security program designed to protect information in its possession or control. This is done through a
            variety of privacy and security policies, processes, and procedures. CoursEdge uses administrative,
            physical, and technical safeguards that reasonably and appropriately protect the confidentiality, integrity,
            and availability of the information that it collects, receives, stores, or transmits. Nonetheless, no method
            of transmission over the Internet, or method of electronic storage, is 100% secure; and therefore, CoursEdge
            cannot guarantee its absolute security. While CoursEdge works hard to ensure the integrity and security of
            its network and systems, CoursEdge cannot guarantee that its security measures will prevent "hackers" or
            other unauthorized persons from illegally accessing or obtaining information.<br />
            If CoursEdge learns of a security breach involving its copy of your Personal Information, CoursEdge may
            attempt to notify you electronically so that you may take appropriate protective steps. By using the
            CoursEdge Site or providing Personal Information to CoursEdge, you agree that CoursEdge can communicate with
            you electronically regarding security, privacy, and administrative issues relating to your use of the
            CoursEdge Site. If a security systems breach occurs, CoursEdge may post a notice on the CoursEdge homepage
            (www.CoursEdge.org) or elsewhere on the CoursEdge Site and may send an email to you at the email address
            associated with your CoursEdge account. Depending on where you are located, you may have a legal right to
            receive notice of a security breach, involving your Personal Information, in writing.
        </p>

        <p class="initText"> CONTACT INFORMATION</p>
        <p>If you have privacy concerns, have disclosed data you would prefer to keep private, or would like to access
            the Personal Information that CoursEdge maintains about you, please contact us at <a
                href="mailto: support@coursedge.org"><strong>support@coursedge.org</strong></a>. If
            your request involves a Member Institution, email the Institution directly.
        
            <br /><br/>  <strong>Effective Date:</strong><br />
            January 22, 2021.
        
        </p>

    </div>
</section>