<ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    <app-cart></app-cart>
  </ng-sidebar>

  <body  class="ptb-90"  ng-sidebar-content>

    <!-- Breadcrum -->
      <section class="breadcrum_wrapper ptb-90" style="background-image: url(./assets/img/about-us.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="bread_details">
                <h1>About</h1>
                <ul>
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li>About</li>
                </ul>
              </div>
            </div> 
          </div>
        </div>
      </section>
    <!-- End Breadcrum -->
    <section class="aboutPage ptb-90">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <img src="./assets/img/about/about_image.jpg" alt="about_image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <div class="abouTextSec">
              <h2>A Digital Marketplace for Education</h2>
              <h4>Storefront | Registration | Payment | Enrollment</h4>
              <p>At CoursEdge, our mission is to help Higher Education institutions expand their reach and provide students with greater access to educational opportunities through a modern, digital marketplace. CoursEdge is a division of Sanguine Informatics.</p>
            </div>
          </div>
        </div>
        <div class="row aboutUsBox">
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img src="./assets/img/about/Increase-Conversion.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Increase Conversion Rates</h5>
                    <p class="card-text">One-tap checkout for course registration and payment increases conversion rates</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <img src="./assets/img/about/Enroll-through-Social.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Enroll through Social Platforms</h5>
                    <p class="card-text">Mobile first ecommerce platform that supports social selling and enrollments.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <img src="./assets/img/about/Award_Digital.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Award Digital Badges</h5>
                    <p class="card-text">Provide students with optional digital badges and Certificate of Completion PDF upon successful completion.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img src="./assets/img/about/B2B.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Expand Market to Include B2B</h5>
                    <p class="card-text">Support companies purchasing courses and enrolling multiple employees</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <img src="./assets/img/about/Student-Experience.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Improve Student Experience</h5>
                    <p class="card-text">Paperless, modern ecommerce platform that is open for registrations 24/7/365</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <img src="./assets/img/about/Increase-Conversion.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Join The CoursEdge Marketplace</h5>
                    <p class="card-text">Join CourEdge.org community and expand your reach. Optional for a private landing page is available

</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <img src="./assets/img/about/Onboard-Students.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Onboard Students in Real-Time</h5>
                    <p class="card-text">APIs SIS (Banner, PowerCampus, and Colleague) and LMS (Canvas or Blackboard) to CoursEdge move students directly into a course withing 3 minutes of payment!</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <img src="./assets/img/about/Streamline-Enrollment-Process.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Streamline Enrollment Process</h5>
                    <p class="card-text">Eliminate the need to provision institutional email account, paperwork, and costly resources for nonmatric students.</p>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </section>
    <section>
      <app-footer ></app-footer> 
  
  </section>
  </body>
</ng-sidebar-container>