<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body bgcolor="#D8D8D8">
 
  <div>
   <a  th:href="${redirectURL}">
 	<img th:src="${'https://letschalktalk.com'+rest.marketingImage}"  th:alt="${rest.alterMarketingText}" style="width:100%;"></img>
 	</a> 
 </div>

<p>Hi <span th:text="${customer.firstName}"></span>,<br clear="all"/><br clear="all"/>

<p>Thank you for the Enrollment. We'll get in touch with you ASAP. </p>
<div style="
    font-size: 14px;
    width: 100% !important;
    display: inline-block;
    padding-bottom: 0px;">
<h1 style="    color: white;font-size:24px; weight:800 !important;background: cadetblue !important;   text-align:center"> Your Details </h1>
<div style="padding-top: 30px;font-size:14px;">
	<div  style="float:left; padding-left: 20px;" >
	  <p><b  style="float:left;">Name : </b> <span style="float:right;padding-left:5px" th:text="${customer.firstName}" ></span></p><br clear="all"/>
	  <p><b style="float:left;">Contact No. : </b><span style="float:right; padding-left:5px"  th:text="${customer.phone}"></span></p><br clear="all"/>
	  <p><b style="float:left;">Request Time : </b><span  style="float:right; padding-left:5px" th:text="${checkDate}"></span></p><br clear="all"/>
	 
	</div>
	<div  style="float:right;padding-right: 20px;" >
	<div th:if="${regd.demoDate != null && regd.demoDate!=''}">
	 <p><b style="float:left;">Estimated Time : </b><span style="float:right; padding-left:5px"  th:text="${regd.demoDate}"></span></p><br clear="all"/>
	 </div>
	 <p><b style="float:left;">Institute : </b><span style="float:right; padding-left:5px"  th:text="${vendor.businessName}"></span></p><br clear="all"/>
	  <p><b style="float:left;">Course/Training : </b><span style="float:right; padding-left:5px"  th:text="${course.name}"></span></p><br clear="all"/>
	   <p><b style="float:left;">No of Attendees : </b><span style="float:right; padding-left:5px"  th:text="${regd.attendeesCount}"></span></p><br clear="all"/>
	</div>
	<!-- 	<table  style="align:center; width:100%;padding-top:15px; padding-bottom: 15px;   padding-left: 20px;
    padding-right: 20px;">
		<tr>
		<th width="33%" align="left"><span> :</span></th>
		<th width="33%" align="center"><span></span></th>
		<th width="33%" align="right" ><span></span></th>
		</tr>
		
		<tr>
				<td width="33%" align="left" th:text="${course.name}"></td>
				
				<td width="33%" align="center"></td>
				<td width="33%" align="right" ></td>
				
		</tr>
		</table> -->
</div>
</div>


<hr/>

<div><p align="center"><i>For any cancellation or change please call us within 72 hours. of placing your order at <span th:text="${rest.bussinessPhoneNo}"></i></span></p></div> 
<br clear="all"/>
 <div style="font-family: Helvetica;
                        font-size: 10px;">© 2020 Let's Chalk Talk Technologies Inc.</div>
</body>
</html>