<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with inline image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body bgcolor="#D8D8D8">
<div>
<i><span th:text="${exceptionLogs}"> </span>.</i>
</div>
</body>
</html>