<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">CoursEdge Login OTP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body bgcolor="#D8D8D8">


<div th:if="${#bools.isTrue(name)}">
<p style="font-size: 13px;">Hi <span th:text="${name}"></span>, <span th:text="${otpMessage}"> </p><br clear="all"/><br clear="all"/>
</div>
<br clear="all"/>
</body>
</html>