<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Tutor/Trainer Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body bgcolor="#D8D8D8">


 <div >
 <a  th:href="${redirectURL}">
 <img th:src="${'https://letschalktalk.com'+user.marketingImage}"  th:alt="${user.alterMarketingText}" style="width:100%;"></img>
 </a>  
 </div>
<div style="font-size: 15px;" th:if="${#bools.isTrue(trainer)}">
	<p>Hi <span style="text-transform: capitalize; font-weight: 700 !important;" th:text="${trainer.name}"></span>,<br clear="all"/><br clear="all"/>
	<p th:text="${description}"> </p>
</div>
<div style="background: cadetblue !important;
    font-size: 14px;
    width: 100% !important;
    display: inline-block;
    padding-bottom: 0px;">
<h1 style="    color: white;font-size:24px; weight:800 !important;   text-align:center"> Your Details </h1>
<div style=" background:white !important;    padding-top: 30px;font-size:14px;">
<div style="float:left; padding-left: 20px;"> 
  <p><b  style="float:left;">Name : </b> <span style="float:right;padding-left:5px;text-transform: capitalize;" th:text="${trainer.name}"></span></p><br clear="all"/>
  <p><b style="float:left;">Contact No. : </b><span style="float:right; padding-left:5px"  th:text="${trainer.phone}"></span></p><br clear="all"/>
  <p><b style="float:left;">Email Address : </b><span style="float:right; padding-left:5px" th:text="${trainer.email}"></span></p><br clear="all"/>
  
    <!-- <p><b style="float:left;">City : </b><span style="float:right; padding-left:5px"  th:text="${trainer.city}"></span></p><br clear="all"/>
  <p><b style="float:left;">Speciality : </b><span style="float:right; padding-left:5px" th:text="${trainer.speciality}"></span></p><br clear="all"/>
    <p><b style="float:left;">Experience : </b><span style="float:right; padding-left:5px" th:text="${trainer.experience}"> </span> <span style="float:right; padding-left:5px">years</span> </p><br clear="all"/>
 	-->
 </div>
<!-- <div style="float:right;padding-right: 20px;">
<p><b style="float:left;">Pickup Area : </b><span style="float:right; padding-left:5px" th:text="${checkRespone.deliveryArea}"></span></p><br clear="all"/>  

 <p><b style="float:left;">Email Address : </b><span style="float:right; padding-left:5px" th:text="${trainer.email}"></span></p><br clear="all"/>
 	
	<p><b style="float:left;">Education : </b><span  style="float:right; padding-left:5px" th:text="${trainer.highestEducation}"></span></p><br clear="all"/>
	<p  th:if="${trainer.linkedInProfile !=null}" ><b style="float:left;">LinkedIn : </b><span  style="float:right; padding-left:5px" th:text="${trainer.linkedInProfile}"></span></p><br clear="all"/>
	<p  th:if="${trainer.linkedInProfile !=null}"><b style="float:left;">Website: </b><span  style="float:right; padding-left:5px" th:text="${trainer.website}"></span></p><br clear="all"/>
	
</div> -->
<!-- <table style="align:center; width:100%;padding-top:15px; padding-bottom: 15px;   padding-left: 20px;
    padding-right: 20px;">
	<tr>
	<th width="100%" align="left"><span>Introduction</span></th>
	</tr>
	<tr>
	<td width="100%" align="left" th:text="${trainer.shortDescription}"></td>	
	</tr>
</table> -->
</div>
</div>

<hr/> 
<!-- <div><p align="center"><i>For any change please call us at  <span th:text="${user.bussinessPhoneNo}"></i></span></p></div>  -->
<br clear="all"/>
</body>
</html>