<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Tutor/Trainer Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body bgcolor="#D8D8D8">


 <div>
 <a th:href="${redirectURL}">
 <img th:src="${'http://www.letschalktalk.com'+user.marketingImage}"  th:alt="${user.alterMarketingText}" style="width:100%;"></img>
 </a>  
 </div>
<div th:if="${#bools.isTrue(checkRespone)}">
<p>Hi <span th:text="${checkRespone.name}"></span>,<br clear="all"/><br clear="all"/>
<i><span th:text="${description}"> </span>.</i>
</div>
<div style="align:center; width:100%;">
<div style="float:left;"> 
  <p><b  style="float:left;">Name : </b> <span style="float:right;padding-left:5px" th:text="${customer.firstName}"></span></p><br clear="all"/>
  <p><b style="float:left;">Contact No. : </b><span style="float:right; padding-left:5px"  th:text="${customer.phone}"></span></p><br clear="all"/>
  <p><b style="float:left;">Subject/course : </b><span style="float:right; padding-left:5px" th:text="${tutorRequest.course}"></span></p><br clear="all"/>
 <!--
<div th:if="${checkRespone.checkType.name() == 'TakeAway'}">
  <p><b style="float:left;">TakeAway Time : </b><span style="float:right; padding-left:5px"  th:text="${checkRespone.deliveryDateTime}"></span></p>
</div> -->
</div>
<div style="float:right;">
<!-- <p><b style="float:left;">Pickup Area : </b><span style="float:right; padding-left:5px" th:text="${checkRespone.deliveryArea}"></span></p><br clear="all"/>  
 --><p><b style="float:left;">Address : </b><span style="float:right; padding-left:5px" th:text="${tutorRequest.address}"></span></p><br clear="all"/>
 	
	<p><b style="float:left;">Request Time : </b><span  style="float:right; padding-left:5px" th:text="${checkDate}"></span></p><br clear="all"/>
</div>
</div>
<table style="align:center; width:100%;padding-top:15px">
	<tr>
	<th width="100%" align="left"><span>Instruction</span></th>
	</tr>
	<tr>
	<td width="100%" align="left" th:text="${tutorRequest.instruction}"></td>	
	</tr>
</table>
<hr/>
<div><p align="center"><i>For any cancellation or change please call us at  <span th:text="${user.bussinessPhoneNo}"></i></span></p></div> 
<br clear="all"/>
</body>
</html>