<ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    <app-cart></app-cart>
  </ng-sidebar>


  <!doctype html>
  <html lang="en" style="top: 0;bottom: 0;width: 100%;" ng-sidebar-content>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Course Edge</title>
  </head>

  <body class="marginTopGlobal ">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
      <p class="spinnerText"> {{service.otpMessage}}</p>
    </ngx-spinner>


    <section class="Course_fillterSec bg_grey  ptb-90">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="fillterAllCourse">
              <h3>Filter by Member Institution</h3>
              <div class="fiiterfilled propotion">
                <input type="text" [(ngModel)]="term" name="" placeholder="Member Institution Name">
                <select [(ngModel)]="selectedLevel" (change)="sortByOptions()">
                  <option class="sortBySelect" selected="" value="selected">Select Level</option>
                  <option class="sortBySelect" value="Introductory"> Introductory </option>
                  <option class="sortBySelect" value="Intermediate">Intermediate </option>
                  <option class="sortBySelect" value="Advanced">Advanced </option>
                </select>
                <select [(ngModel)]="selectedMode" (change)="sortByOptions()" class="modecss">
                  <option class="sortBySelect" selected="" value="selected">Class Mode</option>
                  <option *ngFor="let mode of  this.service.classModes" [value]="mode.mode" class="sortBySelect ">
                    {{mode.mode}} <span style="    color: #1075bc;">({{mode.count}})</span>
                </select>
                <!-- <button>Submit</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="course_page ptb-40">
      <div class="container">
        <div *ngIf="this.service.selectedCuisine!=undefined && this.service.selectedCuisine.courses!=undefined "
          class="row">
          <div *ngIf="(this.service.selectedCuisine.courses.length)>1" class="col-md-12">
            <div class="row all_coursePage">
              <ng-container *ngFor="let menu of  this.service.selectedCuisine.courses | custFilterIT:term">

                <div *ngIf="menu!==-1" class="col-lg-4 col-md-6">
                  <div class="course_box_style1">
                    <div class="course_image p-coursor">
                      <img src="{{menu.image_download_url}}" (click)="activeCartSection(menu)"
                        onError="this.src='./assets/images/testimonials/courses.jpg'" alt="course_image1"
                        class="img-fluid featured_image">
                      <div class="Course_logo">
                        <img src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}" (click)="activateInstitue(menu.vendorId)" alt="partner_logo"
                          class="img-fluid">
                      </div>
                    </div>
                    <div class="content_course">
                      <div class="category_Price d-flex justify-content-between align-items-center">
                        <span class="categoryTag p-coursor">
                          <a (click)="activateInstitue(menu.vendorId)"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{menu.vendor.vendorName}}</a></span>
                        <h5 *ngIf="this.service.restaurant!=undefined">{{menu.price | currency: this.service.restaurant.currency : 'symbol' : '1.0-0' }}</h5>
                      </div>
                      <h3 class="course_name p-coursor"><a (click)="activeCartSection(menu)">{{menu.name}}</a> </h3>
                      <ul>
                        <li><i class="far fa-calendar-alt" aria-hidden="true"></i> {{menu.start_at | date}} -
                          {{menu.end_at | date}} </li>
                        <li><i class="far fa-clock" aria-hidden="true"></i>
                          {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}} </li>
                      </ul>
                      <div class="Enroll_Button d-flex align-items-center justify-content-between">
                        <div class="button_addBuy">
                          <a (click)="activeCartSection(menu)" class="common_button bg-blue p-coursor">View Course</a>
                        </div>
                        <p class="onlineClass modecss"> {{menu.course_format}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <app-footer></app-footer>
    </section>
  </body>

  </html>

</ng-sidebar-container>