

<div class="header">
    <!-- <h1 mat-dialog-title>Enter OTP</h1> -->
    <div  style=" color:white;">
        <!-- <h6>Enter OTP</h6> -->
        <!-- <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
          >
          <span aria-hidden="true" (click)="cancel()">X</span>
        
        </button> -->
      </div>
</div>
<div mat-dialog-content style="
    margin: 0px;
    padding: 25px;
    background: white;
    border-radius: 10px;">
    <p class="pt-1 pr-2" style="padding-top: 20px !important;
    letter-spacing: 1px;
    text-align: center;
    font-family: Montserrat-med;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    ">
     Please enter 6 digit OTP</p>
    <form class="md-form form-sm" >
        <input type="number" id="form19" maxlength="6" name="otp" id="otp" #otp  class="form-control"
          style="border-color: #1c5b68; color:black;text-align:center"  placeholder="Enter OTP">
        <button mat-dialog-actions class="btn btn-info mb-2 waves-light" style="width: 100%;
        color: white !important;
        font-family: Montserrat-med;
        text-align: center;
        margin-top: 20px;
        background: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 37px; " (click)="confirm(otp.value)">Submit 
        <i class="fa fa-send ml-1"></i></button>
      </form>
</div>
