.mat-dialog-container {
    padding: 0px !important;
    display: block;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}