
<body *ngIf="cartService.isOpen" style="background: white !important;">

  <ng-template #tipContentCart  class="tooltip">
    <div class="toolTipCart">
      <ul class="toolTipUl">
      <ng-container *ngFor="let item of  cartItemForToolTip" >
        <li *ngIf="item.isDishReplaceable==false" class="toolTipText"> {{item.name}} </li>
      </ng-container> 
    </ul>
    </div>
  </ng-template>
  

<div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
    <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
      class="modal-content  alertCss ">
      <div>
        <div style="text-align: center;padding-top: 18px;">
          <p class="pt-1 pr-2" class="alertFontSize globalFont alertFont"> {{errorMsz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
    <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
      class="modal-content  alertCss">
      <div>
        <div style="text-align: center;padding-top: 18px;   ">
          <p class="pt-1 pr-2" class="alertFontSize  globalFont alertFont"> {{attentionMsz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
    <div style="color:black; height:auto;background: #196aa4; font-size: 0px;"
      class="modal-content alertCss">
      <div>
        <div style="text-align: center;padding-top: 18px;  padding-left: 25px;">
          <p class="alertFontSize globalFont alertFont"> {{successMsz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #fbNumberCatcher="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" data-backdrop="static"
  data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 96px;" aria-hidden="true"
  [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog cascading-modal alertCss" style="margin:auto !important; padding-top:30px"
    data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-content" style="margin-left: 56px; width: 70%;" data-backdrop="static" data-keyboard="false"
      role="dialog">
      <div class="modal-header darken-3" style="background: #196aa4 !important; color:white">
        <h6 class="alertFont">Enter email address</h6>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
          (click)="fbNumberCatcher.hide()">
          <span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body mb-0" style="margin: 20px;">
        <form class="md-form form-sm" #f="ngForm" (ngSubmit)="fbUserPhoneSubmit(f.value)">
          <input type="text" id="form19" name="fbUserPhoneNo" id="fbUserPhoneNo" class="form-control"
            style="border-color: #1c5b68; color:black;text-align:center" ngModel>
          <button class="btn btn-info mb-2 waves-light" style="width: 100%;" type="submit" mdbWavesEffect>Submit 
            <i class="fa fa-send ml-1"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>



<section class="backgroundCart">
  <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.1)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true" style="z-index: 999999;">
   </ngx-spinner> -->
  
  <div  fxLayout="row wrap" fxLayout.xs="column" fxFlexFill class="paddingTop2section" class="courseDivPadding">

    <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" fxFlex.lg="50%"  fxFlex.gt-sm="50%"  class="cHeaderPad" >
      <p class="courseCountHead ">My Cart</p>
      <!-- <p class="featureSubCont">Total item {{cartService.getBadgeCount()}}</p> -->
       <div class="formOutLine leftWidth">
        <div *ngIf="cartService.getBadgeCount()>0" style="width: 100%">
              <ng-container *ngFor="let item of cartService.itmes | keyvalue">
                <div  fxLayout="row wrap" class="coursePaddingCart">
                  
                  <div   fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
                    <div  fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
                            <p class="itemAdded mb-2"> {{item.value.itemName}}
                            </p>
                           
                        </div>
                    </div>
                    <div  fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="80%"  fxFlex.gt-xs="80%" fxFlex.xs="80%">

                            <p  class="mb-2" *ngIf="cartService.selectedCourse!=undefined">
                              <span   class="featureSubCont">
                                  <i class="fa fa-calendar faCss" aria-hidden="true"></i>&nbsp;
                                  {{cartService.selectedCourse.start_at | date}} - {{cartService.selectedCourse.end_at | date}}</span>
                          </p>
                          <p class="mb-2" *ngIf="cartService.selectedCourse!=undefined">
                              <span class="featureSubCont">
                                  <i class="fa fa-clock-o faCss" aria-hidden="true"></i> &nbsp;
                                   {{service.calculateDuration(cartService.selectedCourse.duration,cartService.selectedCourse.courseDurationInHr)}}</span> 
                           </p>
                           <p class="mb-2"  *ngIf="cartService.selectedCourse!=undefined && cartService.selectedCourse.course_format!=null">
                              <span class="featureSubCont">
                                  <i class="fa fa-plane faCss" aria-hidden="true"></i>&nbsp;
                                  {{cartService.selectedCourse.course_format}}</span> 
                           </p>
                           <p  class="mb-2" *ngIf="this.service.restaurant!=undefined && item.value.itemPrice  >0" >
                            <span class="actualPrice"> <i class="fa fa-money faCss" aria-hidden="true"></i>   {{item.value.itemPrice |  currency: this.currency :  'symbol' : '1.0-5' }} </span>
                          </p>
                        </div>
                        <div   fxFlex="100" fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="20%" class="removeDiv">
                          <a class="remove" >
                            <span (click)="cartService.removePlatterFromCard(item.value)">remove  </span></a>
                        </div>
                        </div>
                    </div>
                </div>
               
                <ng-container *ngFor="let addOn of item.value.addOn|keyvalue">
                  <div  fxLayout="row wrap" class="coursePaddingCart">
                  <div   fxFlex="100" fxFlex.gt-sm="18%"  fxFlex.gt-xs="18%" fxFlex.xs="18%" style="text-align: center;">
                    <img class="courseImgCart"   
                    src="{{this.service.baseImageUrl}}{{addOn.value.imageUrl}}" onError="this.src='./assets/images/pf.png'"
                    alt="Card image cap">
                  </div>
  
                  <div   fxFlex="100" fxFlex.gt-sm="82%"  fxFlex.gt-xs="82%" fxFlex.xs="82%">
                    <div  fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
                            <p class="itemAdded mb-2"> {{addOn.value.itemName}}
                            </p>
                        </div>
                    </div>
                    <div  fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="80%"  fxFlex.gt-xs="80%" fxFlex.xs="80%">
                            <p class="addOnIncluded">Add On</p>
                            <p  class="mb-2">
                              <span  *ngIf="addOn.value.displayPrice>0" class="offPrice" > 
                                  {{addOn.value.displayPrice|  currency: this.service.restaurant.currency :  'symbol' : '1.0-5'}}
                              </span> &nbsp;
                              <span  *ngIf="addOn.value.displayPrice>0" class="offAge "> 
                                ({{service.calculateOffPrice(addOn.value.itemPrice ,addOn.value.displayPrice)}})% off
                              </span>
                            </p>
                            <p  class="mb-2" *ngIf="this.service.restaurant!=undefined && addOn.value.itemPrice  >0" >
                              <span class="actualPrice"> {{addOn.value.itemPrice |  currency: this.service.restaurant.currency :  'symbol' : '1.0-5' }} </span>
                            </p>
                        </div>
                        <div   fxFlex="100" fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="20%" class="removeDiv">
                          <a class="remove" (click)="cartService.removeAddOnFromCard(item.value,addOn.value)">remove</a>
                        </div>
                        </div>
                    </div>
  
                  
                </div>
                </ng-container>

                <div  *ngIf="cartService.getBadgeCount()==0"  fxLayout="row wrap" class="coursePaddingCart">
                  <div   fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" style="text-align: center;">
                    <p>  No item added </p>
                  </div>
                </div>
              </ng-container>
              
           

              <div  fxLayout="row wrap" class="coursePaddingCart"  *ngFor="let coupon of cartService.couponApplied"  >
                  <div   fxFlex="100" fxFlex.gt-sm="80%"  fxFlex.gt-xs="80%" fxFlex.xs="80%">
                    <p class="itemAdded mb-2 couponCss"  > {{coupon.couponCode}}    <span class="offAge"> ({{coupon.name}}) </span>
                    </p>
                    <p  class="mb-2"  >
                      <span class="actualPrice"> <i class="fa fa-money faCss" aria-hidden="true"></i> - {{coupon.couponSum  |  currency: this.service.restaurant.currency :  'symbol' : '1.0-0' }} </span>
                    </p>
                  </div>
                  <!-- <div   fxFlex="100" fxFlex.gt-sm="62%"  fxFlex.gt-xs="62%" fxFlex.xs="62%">
                    
                  </div> -->

                  <div   fxFlex="100" fxFlex.gt-sm="20%"  fxFlex.gt-xs="20%" fxFlex.xs="20%" class="removeDiv">
                    <a class=" couponRemove remove " (click)="removeCoupon(coupon.couponCode)" >Remove</a>
                  </div>
              </div>


              <p class="borderBototmCss"></p>
           
              
        </div>

        <div  fxLayout="row wrap" class="textPaddingCart subCartDetails">
          <div   fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
            <span class="subText"> Sub Total  </span>
            <span class="subAmount">{{cartService.subTotal | currency:this.currency:'symbol': '1.0-5'}}</span>
          </div>
        </div>

        <!-- <div *ngIf="cartService.orderDeliveryArea!=undefined && cartService.isDeliveryChargeApplicable==true && cartService.orderDeliveryArea.deliveryCharges>0"  
          fxLayout="row wrap" class="textPaddingCart">
          <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" style="text-align: center;">
            <span class="subText">Charges : </span>
            <span class="subAmount">{{cartService.orderDeliveryArea.deliveryCharges  | currency:this.currency:'symbol': '1.0-0'}}</span>
          </div>
        </div> -->

        <div *ngFor="let tax of cartService.tax | mapList" fxLayout="row wrap" class="textPaddingCart subCartDetails">
          <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <span class="subText">{{tax.key}}  </span>
            <span class="subAmount">{{tax.value | currency:this.currency:'symbol': '1.0-5'}}</span>
          </div>
        </div>

        <p class="borderBototmCss"></p>
        <div  fxLayout="row wrap" class="textPaddingCart subCartDetails">
         
          <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <span class="subText" style="font-weight: bold;">Order Total </span>
            <span class="subAmount" style="font-weight: bold;">{{cartService.grandTotalWithoutCC  | currency:this.currency:'symbol': '1.0-5'}}</span>
          </div>
        </div>

        <!-- <div  fxLayout="row wrap" class="textPaddingCart">
          <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <span class="tokenAmountText">Token Amount to pay : </span>
            <span class="tokenAmount">{{cartService.tokenAmount | currency:this.currency:'symbol': '1.0-0'}}</span>
          </div>
        </div> -->

        
        <!-- <div  fxLayout="row wrap" class="textPaddingCart">
          <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <span class="subText">Amount to be paid at Institute : </span>
            <span class="subAmount">{{cartService.grandTotalWithoutCC - cartService.tokenAmount| currency:this.currency:'symbol': '1.0-0'}}</span>
          </div>
        </div> -->

        <!-- <div  *ngIf="cartService.customerCreditBalance!=0 && cartService.customerCreditBalance!=undefined " fxLayout="row wrap" class="textPaddingCart">
          <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <span class="subText">Credit Balance</span>
            <span class="subAmount">{{cartService.customerCreditBalance | currency:this.currency:'symbol': '1.0-0'}}</span>
          </div>
        </div> -->

        <div  *ngIf="cartService.customerCreditBalance!=0 && cartService.customerCreditBalance!=undefined"  fxLayout="row wrap" class="textPaddingCart">
          <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <span class="subText">Amount Payable</span>
            <span class="subAmount">{{cartService.grandTotal | currency:this.currency:'symbol': '1.0-5'}}</span>
          </div>
        </div>

        <!-- <div  fxLayout="row wrap" class="textPaddingCart">
          <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" >
            <p class="noteText"><span class="noteCss">Note :</span> 
              Pay only token amount to book your course, pay the rest at the institute.
            <a href="https://letschalktalk.com/#/refund_cn" target="_blank" rel="noopener noreferrer" >Refund & Cancellation policies</a>
            </p>
          </div>
        </div> -->
    </div>
    </div>

    <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" fxFlex.lg="50%"  fxFlex.gt-sm="50%" class="cHeaderPad" >
          <p class="courseCountHead rightWidth"  *ngIf="isLogin==true">Checkout Information</p>
          <div class="formOutLine rightWidth">

          <div *ngIf="isLogin==false" fxLayout="row wrap" class="coursePaddingCart">
          <div class="col-12 mobTransformation placeForm">
            <div  fxLayout="row wrap" class="textPaddingOTP">
              <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv fieldDivOTP">
                <p class="otpText otpHeader "> Registration Email </p>
              </div>
            </div>

            <div  fxLayout="row wrap" class="textPaddingOTP">
              <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv fieldDivOTP">
                <input type="text" required id="inlineFormInputGroup" placeholder="Email address to use for course registration" class="textPaddingOTPBox inputField" #phoneNumber>
              </div>
            </div>

            <div  fxLayout="row wrap" class="textPaddingOTP">
              <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv fieldDivOTP">
                <button (click)="loginCustomer(phoneNumber.value)" class="loginButton textPaddingOTPBox">
                  <span class="buttonText"> Continue </span> </button>
                  <p class="verificationDetail">Check your email for a message with a registration code for the CoursEdge site. Enter the Registration Code when prompted to continue with your registration</p>
                  
              </div>
              </div>

            </div>
          </div>

          <div   *ngIf="isLogin==true" fxLayout="row wrap" class="coursePaddingCart">

            <form [formGroup]="customerFromInfo" class="col-12 mobTransformation placeForm">

              <div  fxLayout="row wrap" class="textPaddingOTPBox">
                <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
                  <input type="text" class="inputField" type="text" id="username" placeholder="Your Name" formControlName="username" required>
                </div>
              </div>

              <div  fxLayout="row wrap" class="textPaddingOTPBox">
                <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
                  <input class="inputField" type="email" id="email" placeholder="Email to get the invoice" formControlName="email"
                  value="{{this.customerBasicInfo.email}}" required disabled>
                </div>
              </div>

              <!-- <div  fxLayout="row wrap" class="textPaddingCart">

                <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv"
                *ngFor="let item of cartService.itmes | keyvalue">
                
                <div *ngIf="item.value.classMode=='Both'" class="radioMode">
                  <input class="inputField radioButton" type="radio" id="online" name="classMode" formControlName="classMode"
                   value="Online" [checked]="true" required> <span class="radioSpan"> Online </span>
                  <input class="inputField radioButton" type="radio" id="offline" name="classMode"  formControlName="classMode"
                  value="Offline" required> <span class="radioSpan"> Offline </span>
                </div>
                <div *ngIf="item.value.classMode=='Online'" class="radioMode">
                  <input class="inputField radioButton" type="radio" id="online" name="classMode" formControlName="classMode"
                  value="Online" [checked]="true" required> <span class="radioSpan"> Online </span>
                </div>
                <div *ngIf="item.value.classMode=='Offline'" class="radioMode">
                  <input class="inputField radioButton" type="radio" id="offline" name="classMode"  formControlName="classMode"
                  value="Offline" [checked]="true" required> <span class="radioSpan"> Offline </span>
                </div>
                </div>
                </div> -->
                
              <div  fxLayout="row wrap" class="textPaddingOTPBox" *ngIf="this.cartService.locationAddress!=undefined || this.cartService.locationAddress!=null">
                <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" class="fieldDiv">
                  <textarea  class="addresArea" formControlName="address" disabled [value]="" required placeholder="Address"></textarea>
                </div>
              </div>

              <div  fxLayout="row wrap" class="textPaddingOTPBox">
                <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
                  <input type="text" id="giftCard" placeholder="Enter coupon code here" class="couponFiled inputField" 
                  #couponOrGirftCardCode formControlName="giftcard">

                  <button class="applyCoupon" type="button"
                      (click)="getCouponAndGiftCardVerified(couponOrGirftCardCode.value,customerFromInfo.value)"
                      style="height: 100% !important; color:white !important; ">Apply
                  </button>
                </div>
              </div>

              <!-- <div  fxLayout="row wrap" class="textPaddingCart">
                <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
                  <textarea class="instruction" formcontrolname="message" id="instructions" placeholder="Special instructions"></textarea>
                </div>
              </div> -->

             
              <div  fxLayout="row wrap" class="textPaddingOTPBox">
                <p class="noteText">
                  <!-- <span class="noteCss">Note :</span>  -->
                  By completing your purchase you agree to these
                <a href="http://coursedge.org/#/terms" target="_blank" rel="noopener noreferrer" >Terms of Service.</a>
                </p>
                <div fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
                  <button id="proceed-button" (click)="placeOrderButton(customerFromInfo.value)" class="loginButton">
                    <span class="buttonText"> Pay Online  ( {{cartService.grandTotalWithoutCC | currency:this.currency:'symbol': '1.0-5'}} )</span></button>
                </div>
              </div>
            </form>
          </div>
  </div>
  </div>
  </div>
</section>
</body>