<ng-sidebar-container>
    <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">

        <app-cart></app-cart>
    </ng-sidebar>

    <html lang="en" style="
top: 0;
/* left: 25%; */
bottom: 0;
width: 100%;" ng-sidebar-content>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CoursEdge</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="src/../../../assets/css/main.css" />
        <noscript>
            <link rel="stylesheet" href="src/../../../assets/css/noscript.css" />
        </noscript>
    </head>

    <body class="globalColor marginTop">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>

        <div fxLayout="row" fxLayout.xs="row" fxFlexFill class="topDiv">

            <section class="homeSection  ">


                <div fxLayout="row wrap" fxLayout.xs="column wrap" fxFlexFill class="backgroundHome">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%">

                        <div fxLayout="row wrap" fxLayout.xs="row wrap" style="display: initial !important;">
                            <div class="wow fadeIn" fxFlex="100%"
                                fxFlexFillstyle="margin-left: 15px;display: contents !important;">
                                <p class="Power-Your-Learning-with-Coursedge ">
                                    Filter by Courses and Institutions</p>
                            </div>

                            <div fxLayout="row wrap" fxFlex="100%" class=" md-form " class="searchPadding">

                                <div  fxFlex="100%">
                                    <input type="search" class="customLocationWidth"
                                        placeholder="Filter by University or College Name" [(ngModel)]="term">
                                    <em class="fa search"></em>
                                </div>

                                <div  fxFlex="100%" class="filterMargin">

                                    <div class="filterBase">
                                        <div fxLayout="row wrap" fxLayout.xs="row wrap" fxFlexFill style="position: relative;">

                                            <!-- <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex.xs="30%" class="filtterBox" style="margin-left: 0px;">
                                               
                                                <select matNativeControl class="selectFiltter" [(ngModel)]="selectedSort"
                                                    (change)="sortByOptions()">
                                                    <option value="selected" class="sortBySelect" selected >Select University</option>
                                                    <option value="RLtoH" class="sortBySelect">Rating low to high
                                                    </option>
                                                    <option value="RHtoL" class="sortBySelect">Rating high to low
                                                    </option>
                                                    <option value="PLtoH" class="sortBySelect">Price low to high
                                                    </option>
                                                    <option value="PHtoL" class="sortBySelect">Price high to low
                                                    </option>
                                                </select>
                                               
                                               
                                            </div> -->
                                            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="filtterBox">
                                                <select class=" selectFiltter" [(ngModel)]="selectedLevel"
                                                    (change)="sortByOptions()">
                                                    <option value="selected" class="sortBySelect" selected >Select Level</option>
                                                    <option value="RLtoH" class="sortBySelect">  Introductory
                                                    </option>
                                                    <option value="RHtoL" class="sortBySelect">Intermediate
                                                    </option>
                                                    <option value="PLtoH" class="sortBySelect">Advanced
                                                    </option>
                                                  
                                                </select>
                                            </div>
                                           
                                            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="filtterBox" style=" margin-right: 0px;">
                                                <select class="selectFiltter" [(ngModel)]="selectedMode"
                                                    (change)="sortByOptions()">
                                                    <option value="selected" class="sortBySelect" selected >Class Mode</option>
                                                    <option *ngFor="let mode of  this.service.classModes" [value]="mode.mode" class="sortBySelect">{{mode.mode}}  <span style="    color: #1075bc;">({{mode.count}})</span>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%" class="desktopVisible">
                        <img src="assets/images/svg/courseList.svg" class="homeImg  sideImage" alt="avatar">
                    </div>
                </div>

                <!-- <div class="filterBase desktopVisible">
                    <div  fxLayout="row wrap"  fxFlexFill>
                        <div  fxFlex.gt-sm="10%" fxFlex.gt-xs="20%" fxFlex.xs="20%">
                            <p class="filterBy "> Filter By :</p>
                        </div>
                        <div  fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex.xs="20%">
                                <select class="sortByCss" [(ngModel)]="selectedSort" (change)="sortByOptions()">
                                 <option  value="selected"   class="sortBySelect" selected disabled>Sort By</option>
                                  <option value="RLtoH" class="sortBySelect">Rating low to high</option>
                                  <option value="RHtoL" class="sortBySelect">Rating high to low  </option>
                                  <option value="PLtoH" class="sortBySelect">Price low to high</option>
                                  <option value="PHtoL" class="sortBySelect">Price high to low  </option>
                                </select>
                        </div>
                  
                        <div  fxFlex.gt-sm="60%" fxFlex.gt-xs="60%" fxFlex.xs="60%">
                            <input type="search" class="searchBox" placeholder="Search by Institute" [(ngModel)]="term"> 
                            <em class="fa search"></em>
                        </div>
                    </div>
                   
                </div> -->

                <!-- <div class="filterBase mobileVisible">
                    <div  fxLayout="row wrap"  fxFlexFill>
                        <div  fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex.xs="30%">
                                <select class="sortByCss" [(ngModel)]="selectedSort"  (change)="sortByOptions()">
                                 <option  value="selected"   class="sortBySelect" selected disabled>Sort By</option>
                                  <option value="RLtoH" class="sortBySelect">Rating low to high</option>
                                  <option value="RHtoL" class="sortBySelect">Rating high to low  </option>
                                  <option value="PLtoH" class="sortBySelect">Price low to high</option>
                                  <option value="PHtoL" class="sortBySelect">Price high to low  </option>
                                </select>
                        </div>
                        <div  fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex.xs="70%">
                            <input type="search" class="searchBox" placeholder="Search by Institute"  [(ngModel)]="term" >
                            <em class="fa search"></em>
                        </div>
                    </div>
                   
                </div> -->

            </section>

            <section class="section2Padding">

                <div *ngIf="this.service.selectedCuisine!=undefined" class="row">

                    <div fxFlexFill class="courseList" fxLayout="row wrap">

                        <div *ngIf="(this.service.selectedCuisine.courses.length)<1" class="desktopPanCss courseDiv">
                            <div fxLayout="row wrap" fxFlexFill>
                                <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex.xs="30%" class="instImageDiv">
                                    <div class="imageDiv">
                                        <img class="instImag" src="./assets/images/swimming2.png" alt="avatar">
                                    </div>
                                </div>

                                <div fxFlex.gt-sm="50%" fxFlex.gt-xs="70%" fxFlex.xs="70%" class="courseDetails">
                                    <div>
                                        <p class="mb-2 courseH ">Sorry we don't have any course for this criteria
                                        </p>
                                        <p class="mb-2">
                                            <!-- <span   [innerHTML]="getVedorRaiting(menu.rating)"></span> -->
                                        </p>

                                        <p class="mb-2">
                                            <span class="offPrice">
                                                <!-- {{menu.displayprice|  currency: this.service.restaurant.currency :  'symbol' : '1.0-0'}} -->
                                            </span> &nbsp;
                                            <span class="offAge">
                                                <!-- ({{service.calculateOffPrice(menu.price ,menu.displayprice)}})% off -->

                                            </span>

                                        </p>
                                        <p class="mb-2 instName">
                                            But! I'd swim the ocean for you to bring the Course

                                        </p>
                                        <p class="mb-2">
                                            <span class="offPrice">
                                                LOL, Just kidding
                                            </span> &nbsp;
                                        </p>
                                        <p class="mb-2 ">
                                            <span class="actualPrice"> There are sharks in there. </span>
                                        </p>
                                    </div>


                                    <div class="mobileVisible mobileDetalsView">
                                        <button class="viewDetails">
                                            <p class="viewDetailsCss" [routerLink]="['/home']">
                                                <i class="fa fa-chevron-left" style="color: white; font-size: 10px;"
                                                    aria-hidden="true"></i>
                                                Back Home

                                            </p>
                                        </button>
                                    </div>

                                </div>

                                <div class="desktopVisible" fxFlex.gt-sm="20%" fxFlex.gt-xs="30%" fxFlex.xs="30%" style="
                       
                        justify-content: center;">
                                    <button class="viewDetails">
                                        <p class="viewDetailsCss" [routerLink]="['/home']">
                                            <i class="fa fa-chevron-left" style="color: white; font-size: 10px;"
                                                aria-hidden="true"></i>
                                            Back Home

                                        </p>
                                    </button>
                                </div>

                            </div>

                        </div>

                        <div *ngFor="let menu of  this.service.selectedCuisine.courses | custFilterIT:term" class="courseDiv">
                            <div *ngIf="menu!==-1" fxLayout="row wrap">

                                <div class="featureCom" (click)="activeCartSection(menu)">
                                    <div class="Rectangle-8">
                                        <div fxLayout="row wrap" fxFlexFill>
                                            <div class="Rectangle-198">
                                                <img class="instImag" src="{{menu.image_download_url}}"
                                                    onError="this.src='./assets/images/testimonials/courses.jpg'"
                                                    alt="avatar">
                                            </div>
                                        <div class="univLogoDiv" >
                                                
                                            <img class="univLogo"src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"
                                                alt="avatar">
                                        </div>
                                            <div class="featureCont">

                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        {{menu.vendor.vendorName}}</span>
                                                </p>
                                                <p class="mb-2 courseName " >
                                                    <a>{{menu.name}}</a>
                                                </p>

                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                                                </p>
                                                <p class="mb-2" *ngIf="menu.course_format!=null">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>

                                                        {{menu.course_format}}</span>
                                                </p>
                                                <p class="mb-2 ">
                                                    <span class="actualPrice"
                                                        *ngIf="this.service.restaurant!=undefined && menu.price >0">
                                                        <i class="fa fa-money" aria-hidden="true"></i>  {{menu.price | currency: this.service.restaurant.currency :
                                                        'symbol' : '1.0-0' }} </span>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="searchDiv" style="display: none;">
                    <input style="color:black;    border-color: #29c3e7;" type="text" [(ngModel)]="term">
                </div>
               
            </section>
            <section>
                <app-footer></app-footer>
            </section>
        </div>
    </body>

    </html>
</ng-sidebar-container>