<!-- Header -->

<div class="container-fluid  customHeadrContainer">
  <nav class="navbar fixed-top ">
	<div class="row" id="headrer_dvi">
		<span class="mx-auto customHeader" href="#">{{title}}</span>
		<i class="fa fa-shopping-cart fa-2x customCart" aria-hidden="true" [routerLink]="['/cart']"></i>
	</div>
  </nav>
</div>

<!--Content-->
<p>
  history works!
</p>
