
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-4"><div class="card text-center">
  <div class="card-header">
    Current Order
  </div>
 
  <div class="card-block">
    <h4 class="card-title">Invoice</h4>
    <p class="card-text">hexckugyrjyggcdgvybytv</p>
    <a href="#" class="btn btn-primary">Get Invoice</a>
  </div>
 <!-- <div class="card-footer text-muted">
    2 days ago
  </div>-->
</div>
</div>
  <!--second card-->
        <div class="col-sm-4 col-md-4 col-xs-4"><div class="card text-center">
  <div class="card-header">
    Account balance
  </div>
						  
   <h6 class="card-title">Credit Balance:{{credit_balance}}</h6>
    <h6 class="card-title">Credit Account:{{credit_type}}</h6>
    <h6 class="card-title">Last Payment:{{cl_rewardPoints}}</h6>
     <h6 class="card-title">Available Credit:{{Avil_credit}}</h6>
    <h6 class="card-title">Statement Cycle:{{statement_billing_cycle}}</h6>
    <h6 class="card-title">Status:{{status}}</h6>
																								   
													 
		
									  
			  
		
</div>
</div>
  <!--Third card-->
   <div class="col-sm-4 col-md-4 col-xs-4"><div class="card text-center">
  <div class="card-header">
    {{cl_firstName}} Info
  </div>
  <div class="card-block">
    
    <h4 class="card-title">Welcome, {{cl_firstName}}!</h4>
    <h6 class="card-title">Customer since:</h6>
    <h6 class="card-title">Reward points:{{cl_rewardPoints}}</h6>
    <h6 class="card-title">Redeem points:{{cl_rewardPoints}}</h6>
    <!--<h5 class="card-title">Customer Id:{{cl_customerId}}</h5>
    <h5 class="card-title">Customer Mobile No:{{cl_phone}}</h5>
     <h5 class="card-tex">RestaurantId:{{cl_restaurantId}}</h5>
     <h5 class="card-tex">Email:{{cl_email}}</h5>
    <p class="card-text">have a good day!</p>-->
    <a href="#" class="btn btn-primary">Edit {{cl_firstName}} Info </a>
  </div>
  
						 
		
</div>
</div>
 <!--settings part-->
    <div>
    <h2>Settings</h2>
    
        
      

    <div>
<!--<h6>helloAmount{{billInfo.availableCredit}}</h6>-->
    <p>{{cl_firstName}}</p>
    <p>{{cl_email}}</p>
    <p>{{cl_phone}}</p>
    <button type="button" class="btn btn-primary btn-sm">Edit</button>
    </div>
  
      </div>
    </div>
   