 <!-- Breadcrum -->
 <ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    <app-cart></app-cart>
  </ng-sidebar>

 <body class="ptb-90" ng-sidebar-content>
 <section class="breadcrum_wrapper ptb-90" style="background-image: url(./assets/img/contact-us.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="bread_details">
            <h1>Contact Us</h1>
            <ul>
              <li><a [routerLink]="['/home']">Home</a></li>
              <li>Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End Breadcrum -->
<section class="aboutPage ptb-90">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="contacTextSec text-center">
          <h2>SANGUINE INFORMATICS™</h2>
          <p class="paraJustify">Sanguine Informatics™ is a leading managed IT and cloud services company that collaborates with clients to drive strategic growth, ignite innovation and navigate constant change. Through a combination of strategy, expertise and creativity, we help clients accelerate operational, digital and cultural transformation, enabling the change they need to own their future. By embracing diverse perspectives, encouraging new ideas and challenging the status quo, we create sustainable results for the organizations we serve.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="contactForm">
          <h3>Drop a Line</h3>
          <p class="text-white"></p>
          <form>
            <div class="form_body">
              <div class="form_group">
                <input type="text" name="" placeholder="Your Name ">
              </div>
              <div class="form_group">
                <input type="Email" name="" placeholder="Your Email Address ">
              </div>
              <div class="form_group">
                <input type="number" name="" placeholder="Your Number ">
              </div>
              <div class="form_group">
                <input type="text" name="" placeholder="Your Subject ">
              </div>
              <div class="form_group">
                <textarea  type="text" name="" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="form_footer">
              <button href="" type="submit" class="btn btn-primary">SEND MESSAGE</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact_details">
          <h2>Contact Us</h2>
         
          <ul>
            <li><a href="mailto:contact@coursedge.org"><span class="text_icon"><i class="far fa-envelope-open"></i></span><span class="text_mail">contact@coursedge.org</span></a></li>
           <!--  <li><a href="mailto:ino@coursedge.org"><span class="text_icon"><i class="far fa-envelope-open"></i></span><span class="text_mail">info@coursedge.org</span></a></li> -->
              <li><a href="tel:774-277-8666"><span class="text_icon"><i class="fas fa-phone-alt"></i></span><span class="text_mail">774-277-8666</span></a></li>
              <!-- <li><a href="tel:0112345679"><span class="text_icon"><i class="fas fa-headset"></i></span><span class="text_mail">011-234-5679</span></a></li> -->
          </ul>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.3552315684233!2d-95.56455878489072!3d29.79628008197324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c4cd2a602a7b%3A0x8cdbab00d2de4898!2s10685B%20Hazelhurst%20Dr%2C%20Houston%2C%20TX%2077043%2C%20USA!5e0!3m2!1sen!2sin!4v1621422693715!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-footer ></app-footer> 

</section>
 </body>
 </ng-sidebar-container>
