.homeImg {
  // width: 100%;
}
::ng-deep .owl-carousel {
  padding-left: 0px !important;
  padding-top: 30px !important;
  padding-right: 0px !important;
  z-index: 0;
}

::ng-deep .ng-dropdown-panel-items {
  font-family: Montserrat !important;
  font-size: 14px;

}
.backgroundHome {
  // position: absolute;
  // width: 1366px;
  height: 445px !important;
  min-height: 50% !important;
  // left: 0px;
  // top: 59.57px;
  //background-image: url("paper.gif");
  background-image: url("assets/images/homepage/test.jpeg") !important;
  background-size: cover;
    background-repeat: no-repeat;
  // background: linear-gradient(89.75deg, #0f74bd 0.42%, #0368b4 52.47%), #0368b4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html {
  text-align: center;
  font-family: Montserrat !important;
}

// ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
// ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
// ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
//     color: transparent;
// }

// ::-webkit-datetime-local-edit-year-field:not([aria-valuenow]),
// ::-webkit-datetime-local-edit-month-field:not([aria-valuenow]),
// ::-webkit-datetime-local-edit-day-field:not([aria-valuenow]) {
//     color: black;
// }

// ::ng-deep .mat-form-field .mat-input-element {
//   color: #495057 ;
//     font-size: 16px !important;

// }

// ::ng-deep .mat-form-field .mat-form-field-label {
//   color: #504f4d;
//   font-size:16px !important;
// }
// ::ng-deep .mat-form-field .mat-form-field-underline {
//   background-color: black;
//   font:16px;
// }
// ::ng-deep .mat-form-field .mat-form-field-ripple {
//   background-color: black;
//   font-size:16px !important;
// }
// ::ng-deep .mat-form-field .mat-form-field-required-marker {
//   color: black;
//   font-size:16px !important;
// }

// ::ng-deep .mat-form-field .mat-input-element {
//   color: black !important;
//     font-size: 18px !important;
//     font-weight: 700;
// }
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: black !important;
}
::ng-deep .mat-form-field-outline-thick {
  color: black !important;
}

::ng-deep .carousel .carousel-control-next-icon {
  background-image: url("assets/images/joinUs/rightArrow.svg") !important;
}

::ng-deep .carousel .carousel-control-prev-icon {
  background-image: url("assets/images/joinUs/leftArrow.svg") !important;
}

::ng-deep .ng-value-label .ng-star-inserted {
  white-space: break-spaces !important;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  white-space: break-spaces !important;
}
::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: #58585a !important;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  //background-color: #46056a !important;
}

::ng-deep .ng-select .ng-select-container {
  color: #58585a !important;
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 20px;
  min-height: inherit;
  align-items: center;
  text-align: center;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  width: 239px;
  height: 27px;
  opacity: 0.6;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #58585a;
  position: static !important;
  font-family: Montserrat !important;
  font-size: 15px;
  font-weight: 600;
  width: auto !important;
}
ngb-carousel {
  /* max-width: 1000px;
      margin: 40px auto; */
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.marginTop{
  padding-top: 65px;
  width: 100%; height: 100%;  overflow: auto;
}
.sectionI {
  padding-top: 30px !important;
  /* identical to box height */
  letter-spacing: 0.01em;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  /* background-color: #f3ec78; */
  background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.univTemp {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.Curated-Feature-Courses-To-Get-You-Started {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  /* background-color: #f3ec78; */
  background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  // width: 35%;
}

.bestCourse {
  font-family: Montserrat;
  font-size: 16px;
  padding-left: 30px;
  text-align: center;
  line-height: 31px;
  text-transform: capitalize;
  color: #000000;
  font-style: normal;
  font-weight: 500;
}

.Transform-Your-University-With-Coursedge {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.02em;

  color: #000000;
}

.Rectangle-27 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}

.fa {
  padding-right: 2px;
  background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-right: 4px;
  font-size: 16px;
}

//don't delete using it internally
::ng-deep .owl-item {
  //margin-right: 30px !important ;
  margin-left: 50px;
}

.univLogo {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0px !important;
  height: 42px !important;
  width: 120px !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.univLogoDiv {
  position: relative;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px;
  width: 130px !important;
  transform: translate(50%);
  padding: 0px !important;
  height: 58px;
  margin-top: -43px;
}

.featureCont {
  padding: 10px;
  width: 100% !important;
  margin-top: 0px;
  height: 220px;
  background: #f9f9f9;
  border-radius: 0px 0px 8px 8px;
}
.featureSubCont {
  // width: 46px;
  // height: 24px;
  //margin: 0 35.5px 4px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  text-transform: capitalize !important;
  color: rgba(88, 88, 90, 0.8);
}
.courseName {
  height: 57px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  overflow: overlay;
  font-size: 16px;
  line-height: 27px;
  text-transform: capitalize;
  color: #0068b1;
}

.Rectangle-8 {
  // width: 500px;
  height: 395px;
  width: 260px !important;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0px;
  box-shadow: 0px 0px 8px -2px #bdbdbe;
  border: solid 0.5px #e3e3e3;
  background: #f9f9f9;
  max-width: 100% !important;
}

.Rectangle-198 {
  padding: 0px !important;
  width: 100%;
  height: 150px;
  //background-color: rgba(88, 88, 90, 0.08);
}

.featureDiv {
  width: 100% !important;
  background: #ffffff;
  padding-left: 0px;
  padding-bottom: 30px;
  padding-top: 40px;
}

.topDiv {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: initial !important;
}

.textAlignCenter {
  text-align: center !important;
  width: 100% !important;
}
.searchPadding {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
}

.Rectangle-6-1 {
  text-align: center;
  display: inline-block;
  background: #0f75bc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  width: 160px;
  height: 40px;
}

.viewDetailsBtn {
  font-family: Montserrat;
  padding-bottom: 20px;
  border-radius: 4px;
  padding-top: 30px;
}

.viewDetailsBtnTxt {
  font-family: Montserrat !important;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #fbfbfb;
  text-transform: capitalize !important;
}

.Power-Your-Learning-with-Coursedge {
  margin: 0px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  padding-top: 30px;
  font-family: Montserrat;
  font-size: 42px;
  width: 80% !important;
  line-height: 59px;
  text-transform: capitalize;
  padding-left: 30px;
  color: #ffffff;
  text-align: left !important;
}

.Power-Your-Learning-with-Coursedge-yellow {
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Montserrat;
  font-size: 42px;
  width: 80% !important;
  text-transform: capitalize;
  color: #ffffff;
  text-align: left !important;
}

.-Top-courses-to-choose-from {
  padding-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  padding-left: 30px;
  line-height: 39px;
  text-transform: capitalize;
}

.univPanel {
  display: block;
  // background: #fbfbfb;
  padding-right: 300px;
  padding-left: 300px;
}

.mb-2 {
  margin-bottom: 0.1rem !important;
}

.featureCom {
  // box-shadow: 1px 1px 1px 1px #e9ecef !important;
  // padding-left: 20px;
 // width: 260px !important;
}

.instImag {
  max-height: -webkit-fill-available;
  height: 100%;
}

.instP {
  max-width: 300px !important;
}

.actualPrice {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #003b8d;
}

.sectionH {
  padding-top: 40px !important;
  /* identical to box height */
  letter-spacing: 0.01em;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  /* background-color: #f3ec78; */
  background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.commaCss {
  height: 60px !important;
  width: 60px !important;
  margin-top: 10px;
}
.section5Title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 185.5%;
  /* or 37px */

  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 50px;

  color: #000000;
}

.section5Para {
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 185.5%;
  /* or 33px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #5d6068;
}

.section5_1Para {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 185.5%;
  /* or 37px */
  padding-top: 40px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #5d6068;
}

a {
  border: none !important;
}

.submitButton {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 28px !important;
  align-items: center;
  font-size: 23px !important;
  /* width: 100% !important; */
  float: right;
  height: 50px !important;
  background: #0f75bc !important;
  /* box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1) !important; */
  border-radius: 4px !important;
  /* margin-top: 10px; */
  text-transform: capitalize !important;
  margin-left: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #58585a !important;
  font-family: Montserrat !important; 
  font-weight: 600;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.testimonImgDiv {
  // display: initial !important;
  height: 75px !important;
  box-shadow: none !important;
  width: 220px !important;
  max-width: 100%;
  // margin-top: -50px;
  margin-bottom: 40px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px !important;
  position: relative;
  display: inline-block;
}

.testimonImgCss {
  //  display: initial !important;
  width: 160px !important;
  height: 59px !important;

  box-shadow: none !important;

  max-width: 100%;
  // margin-top: -50px;
  margin-bottom: 50px;
  background: #ffffff;
  // border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 6px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.alertFontSize {
  margin-bottom: 15px;
}

.customLocationWidth {
  /* width: 454px !important; */
  width: 100% !important;
  min-height: 50px;
  height: 100% !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeSection {
  /* height: 520px !important;  */
  min-height: 50% !important;
  height: 50% !important;
  background-size: 100%;
  margin-top: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 62px;
  z-index: 2;
  display: initial !important;
}

.mobileVisible {
  display: none;
}

.desktopVisible {
  display: initial;
}

.lablePadding {
  padding-right: 0px;
  padding-top: 0px;
  padding: 0px;
}

:-ms-input-placeholder {
  color: white !important;
  font-family: Montserrat !important;
  padding-left: 7px;
  font-size: 16px;
  font-style: normal;
  padding: 5px;
  text-align: left;
}

@media screen and (max-device-width: 480px) {

  .backgroundHome {
  
    background: linear-gradient(89.75deg, #6bb3e8 0.42%, #0368b4 52.47%), #0368b4;
  }

  .marginTop{
    padding-top: 40px;
  }
  .Curated-Feature-Courses-To-Get-You-Started {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: normal;
    text-align: center;
    /* background-color: #f3ec78; */
    background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    // width: 35%;
  }

  .bestCourse {
    font-family: Montserrat;
    font-size: 14px;
    padding-left: 0px;
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
  }

  .Transform-Your-University-With-Coursedge {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 0.02em;

    color: #000000;
  }

  .Rectangle-27 {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ffffff;
  }

  .fa {
    padding-right: 2px;
    background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-right: 4px;
    font-size: 16px;
  }

  //don't delete using it internally
  ::ng-deep .owl-item {
    //margin-right: 30px !important ;
    margin-left: 50px;
  }

  .univLogo {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0px !important;
    height: 42px !important;
    width: 120px !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .univLogoDiv {
    position: relative;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 6px;
    width: 130px !important;
    transform: translate(50%);
    padding: 0px !important;
    height: 58px;
    margin-top: -47px;
  }

  .featureCont {
    padding: 10px;
    width: 100% !important;
    margin-top: 0px;
    height: 220px;
    background: #f9f9f9;
    border-radius: 0px 0px 8px 8px;
  }
  .featureSubCont {
    // width: 46px;
    // height: 24px;
    //margin: 0 35.5px 4px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    text-transform: capitalize !important;
    color: rgba(88, 88, 90, 0.8);
  }
  .courseName {
    height: 57px !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    overflow: overlay;
    font-size: 16px;
    line-height: 27px;
    text-transform: capitalize;
    color: #0068b1;
  }

  .Rectangle-8 {
   
    height: 395px;
    width: 270px !important;
    min-width: auto;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0px;
    box-shadow: 0px 0px 8px -2px #bdbdbe;
    border: solid 0.5px #e3e3e3;
    background: #f9f9f9;
    max-width: 100% !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .Rectangle-198 {
    padding: 0px !important;
    width: 100%;
    height: 150px;
    //background-color: rgba(88, 88, 90, 0.08);
  }

  .featureDiv {
    width: 100% !important;
    background: #ffffff;
    padding-left: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .topDiv {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: initial !important;
  }


  .searchPadding {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
  }

  .Rectangle-6-1 {
    text-align: center;
    display: inline-block;
    background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    width: 160px;
    height: 40px;
  }

  .viewDetailsBtn {
    font-family: Montserrat;
    padding-bottom: 20px;
    border-radius: 4px;
    padding-top: 30px;
  }

  .viewDetailsBtnTxt {
    font-family: Montserrat !important;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #fbfbfb;
    text-transform: capitalize !important;
  }

  .Power-Your-Learning-with-Coursedge {
    margin: 0px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    padding-top: 50px;
    font-family: Montserrat;
    font-size: 24px;
    width: 100% !important;
    line-height: 40px;
    text-transform: capitalize;
    padding-left: 15px;
    color: #ffffff;
    text-align: left !important;
  }

  .Power-Your-Learning-with-Coursedge-yellow {
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: Montserrat;
    font-size: 24px;
    width: 100% !important;
    text-transform: capitalize;
    color: #ffffff;
    text-align: left !important;
  }

  .-Top-courses-to-choose-from {
    padding-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 15px;
    line-height: 39px;
    text-transform: capitalize;
  }

  .univPanel {
    display: block;
    // background: #fbfbfb;
    padding-right: 15px;
    padding-left: 15px;
  }

  .mb-2 {
    margin-bottom: 0.1rem !important;
  }

  .featureCom {
    // box-shadow: 1px 1px 1px 1px #e9ecef !important;
    // padding-left: 20px;
    // width: 260px !important;
    min-width: auto !important;
    position: relative;
    display: block !important;
  }

  .instImag {
    max-height: -webkit-fill-available;
    height: 100%;
  }

  .instP {
    max-width: 300px !important;
  }

  .actualPrice {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #003b8d;
  }
  .univTemp {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
  }
  .sectionH {
    padding-top: 30px !important;
    /* identical to box height */
    letter-spacing: 0.01em;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    /* background-color: #f3ec78; */
    background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-right: 10px;
    padding-left: 10px; 
  }

  .sectionI {
    padding-top: 0px !important;
    /* identical to box height */
    letter-spacing: 0.01em;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    /* background-color: #f3ec78; */
    background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .commaCss {
    height: 40px !important;
    width:40px !important;
    margin-top: 10px;
  }
  .section5Title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 185.5%;
    /* or 37px */

    text-align: center;
    letter-spacing: 0.02em;
    padding-top: 50px;

    color: #000000;
  }

  .section5Para {
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 185.5%;
    /* or 33px */

    text-align: center;
    letter-spacing: 0.02em;

    color: #5d6068;
  }

  .section5_1Para {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 185.5%;
    /* or 37px */
    padding-top: 40px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #5d6068;
  }

  a {
    border: none !important;
  }

  .submitButton {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 28px !important;
    align-items: center;
    font-size: 23px !important;
    float: right;
    height: 50px !important;
    background: #0f75bc !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
    margin-left: 2px;
    width: 100%;
    margin-top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  }

  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #58585a !important;
    font-weight: 600;
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .testimonImgDiv {
    // display: initial !important;
    height: 65px !important;
    box-shadow: none !important;
    width: 190px !important;
    max-width: 100%;
    // margin-top: -50px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 6px !important;
    position: relative;
    display: inline-block;
  }

  .testimonImgCss {
    //  display: initial !important;
    width: 160px !important;
    height: 50px !important;
    box-shadow: none !important;

    max-width: 100%;
    // margin-top: -50px;
    margin-bottom: 50px;
    background: #ffffff;
    // border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .alertFontSize {
    margin-bottom: 15px;
  }

  .customLocationWidth {
    /* width: 454px !important; */
    width: 100% !important;
    min-height: 50px;
    height: 100% !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .homeSection {
    /* height: 520px !important;  */
    min-height: 50% !important;
    height: 50% !important;
    background-size: 100%;
    margin-top: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 62px;
    z-index: 2;
    display: initial !important;
  }

  .mobileVisible {
    display: initial;
  }

  .desktopVisible {
    display: none;
  }

  .lablePadding {
    padding-right: 0px;
    padding-top: 0px;
    padding: 0px;
  }

  :-ms-input-placeholder {
    color: white;
    font-family: Montserrat !important;
    font-weight: 600;
    font-size: 18px !important;
    padding-left: 7px;
    /* text-align: left; */
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .searchPadding {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 740px) {
  .searchPadding {
    padding-right: 15px;
    padding-left: 15px;
  }

  .homeSection {
    padding-top: 110px;
    background-size: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .searchPadding {
    padding-right: 15px;
    padding-left: 15px;
  }
  .backgroundHome {
    // position: absolute;
    // width: 1366px;
    height: 420px !important;
    min-height: auto !important;
    // left: 0px;
    // top: 59.57px;
  
    background: linear-gradient(89.75deg, #6bb3e8 0.42%, #0368b4 52.47%), #0368b4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .Power-Your-Learning-with-Coursedge {
    padding-top: 50px;
    font-size: 32px !important;
    width: 100% !important;
    line-height: 40px;
    text-transform: capitalize;
    padding-left: 15px;
  
  }
  .Power-Your-Learning-with-Coursedge-yellow {
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: Montserrat;
    font-size: 32px;
    width: 100% !important;
    text-transform: capitalize;
    color: #ffffff;
    text-align: left !important;
  }

  .-Top-courses-to-choose-from {
    padding-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-left: 20px !important;
    padding-left: 30px;
    line-height: 39px;
    text-transform: capitalize;
}
  
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .backgroundHome {
    // position: absolute;
    // width: 1366px;
    height: 420px !important;
    min-height:auto !important;
    // left: 0px;
    // top: 59.57px;
  
    background: linear-gradient(89.75deg, #6bb3e8 0.42%, #0368b4 52.47%), #0368b4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .Power-Your-Learning-with-Coursedge {
    
    padding-top: 50px;
    font-family: Montserrat;
    font-size: 32px !important;
    width: 100% !important;
    line-height: 40px;
    text-transform: capitalize;
    padding-left: 15px;
  
  }

  .-Top-courses-to-choose-from {
    padding-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-left: 20px !important;
    padding-left: 30px;
    line-height: 39px;
    text-transform: capitalize;
}

  .Power-Your-Learning-with-Coursedge-yellow {
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: Montserrat;
    font-size: 32px;
    width: 100% !important;
    text-transform: capitalize;
    color: #ffffff;
    text-align: left !important;
  }
  
}
