<ng-sidebar-container>
    <ng-sidebar [(opened)]="cartService.isOpen"      position="right" showBackdrop="true" closeOnClickBackdrop="true">

        <app-cart></app-cart>
    </ng-sidebar>

    <div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
            <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
                class="modal-content  alertCss">
                <div>
                    <div style="text-align: center;padding-top: 18px;">

                        <p class="pt-1 pr-2 " class=" alertFontSize globalFont"> {{attentionMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
            <div style="color:black;  height:auto; background: #196aa4;     font-size: 0px;"
                class="modal-content alertCss">
                <div>
                    <div style="text-align: center;padding-top: 18px;">
                        <p class="pt-1 pr-2" class="alertFontSize globalFont"> {{errorMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="10"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
            <div style="color:black; height:auto;background: #196aa4; " class="modal-content  alertCss">
                <div>
                    <div style="text-align: center;padding-top: 18px;">
                        <p class="alertFontSize globalFont">{{successMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <html lang="en"  ng-sidebar-content>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Course Edge</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="src/../../../assets/css/main.css" />
        <noscript>
            <link rel="stylesheet" href="src/../../../assets/css/noscript.css" />
        </noscript>
    </head>


    <!-- <div mdbModal #changeLabDialog="mdb-modal" class="modal fade top " id="frameModalBottom" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-frame modal-top lablePadding " role="document">
            <div style="color:black" class="modal-content lableRadius alertCss globalThemeBG ">
                <div class="modal-body ">
                    <div class="row px-4">
                        <p class="pt-1 pr-2 globalFont" style="font-size:16px; ">
                            Seems like you are selecting different Cuisine or you have a platter added to the cart,
                            <b style="color:black">Cancel</b> to continue from same cuisine.
                            <b style="color:black">Okay</b> to clear the customized platter and start from the new
                            selected
                            cuisine.
                        </p>
                        <input type="button" class="btn waves-light" data-dismiss="modal" (click)="sameCuisine()" style="    padding-left: 7px;
                            padding-right: 7px;
                            background: #087188 ! important;
                            font-size: 9px;
                            height: 2rem !important;
                            letter-spacing: 0.1rem;
                            line-height: inherit;" value="Cancel">
                        <input type="button" class="btn waves-light" data-dismiss="modal" (click)="changeCuisine()"
                            style="    padding-left: 9px;
                            padding-right: 9px;
                            background: #087188 ! important;
                            font-size: 10px;
                            height: 2rem !important;
                            letter-spacing: 0.1rem;
                            
                            line-height: inherit;" value="Okay">
                    </div>
                </div>
            </div>
        </div>
    </div> -->




   
    <body  class="globalColor marginTop">

        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true">
            <p class="spinnerText" > {{service.otpMessage}}</p>
        </ngx-spinner>

        <div fxLayout="row" fxLayout.xs="row" fxFlexFill class="topDiv">

            <section *ngIf="homeSection==true" class="homeSection  ">
                <div fxLayout="row wrap" fxLayout.xs="column wrap" fxFlexFill class="backgroundHome">
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%">
                        
                        <div fxLayout="row wrap" fxLayout.xs="row wrap"  style="display: initial !important;" >
                            <div class="wow fadeIn" fxFlex="100%" 
                                fxFlexFillstyle="margin-left: 15px;display: contents !important;">
                                <p class="Power-Your-Learning-with-Coursedge " >
                                    Power Your Learning with <span class="Power-Your-Learning-with-Coursedge-yellow ">CoursEdge</span></p>
                            </div>
                            <div class="wow fadeIn" fxFlex="100%"  
                                fxFlexFillstyle="margin-left: 15px;display: contents !important;">
                                <p class="-Top-courses-to-choose-from " >
                                    Top courses to choose from
                                </p>
                            </div>
                            <div fxLayout="row"fxFlex="100%"  fxFlex="0 1 calc(100% -75px)"
                                fxFlex.lt-md="0 1 calc(100% -75px)" fxFlex.lt-sm="100%" fxLayout.xs="row wrap" class=" md-form "
                                class="searchPadding">

                                <div style="width: 100%;" fxFlex.xs="100%" >
                                    <ng-select style="width: 100%;" [items]="this.service.courseTypeList"
                                        bindLabel="name" bindValue="cuisineTypeId" [multiple]="true" size="30"
                                        placeholder="{{myPlaceHolder}}" (click)="onSearch($event)"
                                        [(ngModel)]="this.service.selectedCityIds" style="font-weight: 500 !important;
                                                font-style: normal;
                                                font-stretch: normal;
                                                font-family: OpenSans;
                                                font-size: 16px !important;
                                                letter-spacing: normal;" class="customLocationWidth ">
                                    </ng-select>
                                </div>

                                <div fxFlex.xs="100%" >

                                    <input type="button" (click)="activeCuisineDivSection()" mdbInput
                                        class="submitButton desktopVisible" value="Go">

                                </div>

                            </div>

                        </div>
                    </div>
                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%" class="desktopVisible">
                        <!-- <img src="assets/images/svg/home.svg" class="homeImg" alt="avatar"> -->
                    </div>
                </div>
            </section>

            <section class="featureDiv">
                <p class="Curated-Feature-Courses-To-Get-You-Started padding-leftMob">
                Featured Courses  To Get You Started </p>
                <p class="bestCourse">Get an edge on your career with these courses.</p>

                <div class="mobileVisible">
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000"
                        [keyboard]="true" [pauseOnHover]="true" [wrap]="true">
                        <ng-container *ngFor="let menu of  this.featureCourses">
                            <ng-template ngbSlide style="margin: 20px !important; ">
                                <div fxLayout="row wrap" class="featureCom" fxFlexFill
                                    (click)="activeCartSection(menu)">
                                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="40%" fxFlex.xs="40%" class="Rectangle-8">
                                        <div fxLayout="row wrap" fxFlexFill style="    padding: 5px;">
                                            <div class="Rectangle-198">
                                                <img class="instImag" src="{{menu.image_download_url}}"
                                                    onError="this.src='./assets/images/testimonials/courses.jpg'"
                                                    alt="avatar">
                                            </div>
                                            <div class="univLogoDiv" >
                                                
                                            <img class="univLogo" (click)="activateInstitue(menu.vendorId)"  src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"
                                                alt="avatar">
                                            </div>
                                            <div class="featureCont">
                                                <p class="mb-2 courseName " >
                                                    <a>{{menu.name}}</a>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        {{menu.vendor.vendorName}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                                                </p>
                                                <p class="mb-2" *ngIf="menu.course_format!=null">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>

                                                        {{menu.course_format}}</span>
                                                </p>
                                                <p class="mb-2 " style="padding-top: 5px;"
                                                    *ngIf="this.service.restaurant!=undefined && menu.price >0">
                                                    <span class="actualPrice"> <i class="fa fa-money " aria-hidden="true"></i> {{menu.price | currency:
                                                        this.service.restaurant.currency : 'symbol' : '1.0-0' }} </span>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ngb-carousel>
                </div>
                <div class="desktopVisible">
                    <owl-carousel-o [options]="customOptions" style="z-index: 0 !important;">
                        <ng-container *ngFor="let menu of  this.featureCourses">
                            <ng-template carouselSlide style="margin: 20px !important;margin-left: 40px;">
                                <div fxLayout="row wrap" class="featureCom" fxFlexFill
                                    (click)="activeCartSection(menu)">
                                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="40%" fxFlex.xs="40%" class="Rectangle-8">
                                        <div fxLayout="row wrap" fxFlexFill>
                                            <div class="Rectangle-198">
                                                <img class="instImag" src="{{menu.image_download_url}}"
                                                onError="this.src='./assets/images/testimonials/courses.jpg'"
                                                    alt="avatar">
                                            </div>
                                            <div class="univLogoDiv" >
                                            <img class="univLogo"  (click)="activateInstitue(menu.vendorId)" src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"
                                              
                                                alt="avatar">
                                            </div>

                                            <div class="featureCont">
                                                <p class="mb-2 courseName ">
                                                    <a>{{menu.name}}</a>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        {{menu.vendor.vendorName}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                                                </p>
                                                <p class="mb-2" *ngIf="menu.course_format!=null">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>

                                                        {{menu.course_format}}</span>
                                                </p>
                                                <p class="mb-2 "
                                                    *ngIf="this.service.restaurant!=undefined && menu.price >0">
                                                    <span class="actualPrice"> <i class="fa fa-money" aria-hidden="true"></i> {{menu.price | currency:
                                                        this.service.restaurant.currency : 'symbol' : '1.0-0' }} </span>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>

            </section>

            <section style="width: 100% !important; background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);;">
                <p class="sectionH"> Universities Innovating With CoursEdge</p>
                    
                <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000"
                    [keyboard]="true" [pauseOnHover]="true" [wrap]="true" class="univPanel">
                    <ng-container *ngFor="let item of service.vendorList">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper univTemp">
                             <div class="testimonImgDiv">
                                <img class="card-img-top rounded-0 testimonImgCss "
                                src="{{service.baseImageUrl}}{{item.businessPortraitImageUrl}}" alt="Card image cap ">

                            </div>
                          
                            <div class="section5Para">
                                <!-- <img class="card-img-top rounded-0 commaCss" src="assets/talk/comma2.svg" -->
                                <!-- alt="Card image cap "> -->
                               {{item.introduction}}
                            </div>
                            <!-- <div class="section5Title">Paul Woods</div> -->
                            <div class="section5_1Para">{{item.businessName}}</div>
                            <div class="viewDetailsBtn" (click)="activateInstitue(item.vendorId)">
                                <button class="Rectangle-6-1">
                                    <span class="viewDetailsBtnTxt" > View Courses</span>
                                </button>
                            </div>
                        </div>
                    </ng-template>

                    <!-- <ng-template ngbSlide>
                        <div class="picsum-img-wrapper univTemp">
                            <div class="testimonImgDiv">
                                <img class="card-img-top rounded-0  testimonImgCss"
                                src="assets/images/testimonials/lasell_lu.png" alt="Card image cap ">

                            </div>
                          
                            <div class="section5Para">  
                                <img class="card-img-top rounded-0 commaCss" src="assets/talk/comma2.svg"
                                alt="Card image cap ">
                                So my journey with Let's Chalk Talk started around 2 Months ago
                                when I have taken admission in one of the digital marketing
                                course but because of the discounts I got it done in a affordable

                            </div>
                            <div class="section5Title">Patrick Decker</div>
                            <div class="section5_1Para">CEO, Lasell University</div>
                            <div class="viewDetailsBtn">
                                <button class="Rectangle-6-1">
                                    <span class="viewDetailsBtnTxt"> View details</span>
                                </button>
                            </div>
                        </div>
                    </ng-template> -->
                </ng-container>
                </ngb-carousel>
          
            </section>

            <section style="width: 100% !important; ">
                <div class="Rectangle-27">

                    <p class="sectionI">Become A Partner</p>
                    <p class="Transform-Your-University-With-Coursedge" style="text-align: center">
                        Transform Your Enrollments With CoursEdge
                    </p>
                    <div style="text-align: center;">
                        <button class="Rectangle-6-1" (click)="openInstructorModel()">
                            <span class="viewDetailsBtnTxt">Learn More</span>
                        </button>
                    </div>

                </div>
            </section>


            <section class="footer">
                <app-footer></app-footer>
            </section>

        </div>
    </body>

    </html>
</ng-sidebar-container>