<section style="margin-top: 50px;">
   
    <div  fxLayout="row wrap"  class="cartHead" fxFlexFill>
        <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
          <span class="orderSummery marginLeft">About Us</span>
        </div>
        <div  fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" style="padding: 0px;    padding-bottom: 10px; "   >
          <img src="./assets/images/aboutUs.svg" alt="Card image cap" class=" desktopVisible summaryImg marginRight">
          <img src="./assets/images/aboutUs.svg" alt="Card image cap" class="mobileVisible summaryImg ">
        </div>
    </div>

    <div class="aboutUsText">
  <h1 style="text-align: center;font-size: 25px !important;">
     A Digital Marketplace for Education</h1>
    <p style="text-align: center;"> Storefront | Registration | Payment | Enrollment</p>

    <p class="initText">
      <strong>At CoursEdge,</strong> our mission is to help Higher Education institutions expand their reach and provide students with greater access to educational opportunities through a modern, digital marketplace. CoursEdge is a division of Sanguine Informatics.   </p>
    <p class="secondParaText">
      
      
       <h4>  <img class="favIco" src="./assets/icons/favicon.ico"
            alt="avatar"> Increase Conversion Rates</h4>
       <p class="bulletPoint">One-tap checkout for course registration and payment increases conversion rates</p>
      
      <h4> <img class="favIco" src="./assets/icons/favicon.ico"
        alt="avatar">  Onboard Students in Real-Time </h4>
       <p class="bulletPoint"> APIs SIS (Banner, PowerCampus, and Colleague) and
        LMS (Canvas or Blackboard) to CoursEdge move
        students directly into a course withing 3 minutes of
        payment!</p>
      
        <h4> <img class="favIco" src="./assets/icons/favicon.ico"
          alt="avatar">  Enroll through Social Platforms </h4>
      <p class="bulletPoint">Mobile first ecommerce platform that supports social
        selling and enrollments</p>
       
        <h4> <img class="favIco" src="./assets/icons/favicon.ico"
          alt="avatar">  Award Digital Badges </h4>
      <p class="bulletPoint"> Provide students with optional digital badges and
        Certificate of Completion PDF upon successful
        completion</p>
      
        <h4> <img class="favIco" src="./assets/icons/favicon.ico"
          alt="avatar">  Expand Market to Include B2B</h4>
      <p class="bulletPoint">Support companies purchasing courses and
        enrolling multiple employees</p>
    
        <h4> <img class="favIco" src="./assets/icons/favicon.ico"
          alt="avatar"> Improve Student Experience </h4>
      <p class="bulletPoint">Paperless, modern ecommerce platform that is open
      for registrations 24/7/365</p>
     
      <h4><img class="favIco" src="./assets/icons/favicon.ico"
        alt="avatar"> Streamline Enrollment Process</h4>
      <p class="bulletPoint">Eliminate the need to provision institutional email
        account, paperwork, and costly resources for nonmatric students</p>

      <h4> <img class="favIco" src="./assets/icons/favicon.ico"
        alt="avatar"> Join The CoursEdge Marketplace</h4>
      <p class="bulletPoint">Join CourEdge.org community and expand your reach.
        Optional for a private landing page is available</p>

        <h4> <img class="favIco" src="./assets/icons/favicon.ico"
          alt="avatar"> Nominal Annual Maintenance Fee </h4>
    
    
    
   
</div>
    </section>
