<mat-sidenav-container style="background:white">
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <router-outlet></router-outlet>
      <lib-cookie-service (isOpened)="onOpen($event)" ></lib-cookie-service>
  </mat-sidenav-content>
</mat-sidenav-container>