<mat-nav-list>

  <!-- <a mat-list-item class="navLink"   [routerLink]="['/offers']"  (click)="onSidenavClose()">
    <mat-icon>list</mat-icon> <span class="nav-caption">Our Offers</span>
  </a> -->
  <!-- <a *ngIf="!this.service.isCorporate" mat-list-item class="navLink"   [routerLink]="['/corporate']"  (click)="onSidenavClose()">
    <mat-icon>psychology</mat-icon> <span class="nav-caption">Corporate Trainings</span>
  </a> -->
  <a *ngIf="this.service.isCorporate" mat-list-item class="navLink"   [routerLink]="['/home']"  (click)="onSidenavClose()">
    <mat-icon>psychology</mat-icon> <span class="nav-caption">All Trainings</span>
  </a>
  <!-- <a mat-list-item class="navLink"   [routerLink]="['/webhub']"  (click)="onSidenavClose()">
    <mat-icon>language</mat-icon> <span class="nav-caption">Webinars</span>
  </a> -->
  <a mat-list-item class="navLink"   [routerLink]="['/profile']"  (click)="onSidenavClose()">
    <mat-icon>list</mat-icon> <span class="nav-caption">Orders</span>
  </a>
  <a mat-list-item class="navLink"   *ngIf="this.service.isLogin==true" [routerLink]="['/profileSignout']" (click)="onSidenavClose()">
    <mat-icon>logout</mat-icon> <span class="nav-caption">Logout</span>
  </a>
  <a mat-list-item class="navLink"  *ngIf="this.service.isLogin==false" [routerLink]="['/profile']" (click)="onSidenavClose()">
    <mat-icon>input</mat-icon> <span class="nav-caption">Login</span>
  </a>
  <!-- <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
  </mat-list-item> -->
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu> -->
</mat-nav-list>