<mat-nav-list mode="side" position="right" >
    <div class="menuBox">
      <div (click)="closeBar()" class="menuCross">
        <i class="fas fa-times"></i>
      </div>
      <div class="menu_loginHeader">
        <div class="login_buttonMobile">
              <span class="user_icon"><i class="fas fa-user-circle"></i></span>
              <div *ngIf="this.service.isLogin==true">
                <ng-container *ngIf="this.service.userName!=undefined && this.service.customerInfo==undefined">
                  <span>{{this.service.userName}}</span>
                 </ng-container>
                 <ng-container *ngIf="this.service.userName!=undefined && this.service.customerInfo!=undefined">
                  <span>{{this.service.userName}}</span>
                 </ng-container>
                 <ng-container *ngIf="this.service.customerInfo!=undefined && this.service.userName==undefined">
                  <span *ngIf="this.service.customerInfo.customers!=undefined && this.service.customerInfo.customers[0].firstName!=''">{{this.service.customerInfo.customers[0].firstName}}</span>
                  <span *ngIf="this.service.customerInfo.customers!=undefined && this.service.customerInfo.customers[0].firstName==''&& this.service.customerInfo.customers[0].lastName!=''"> {{this.service.customerInfo.customers[0].lastName}}</span>
                 </ng-container>
              </div>
              <div *ngIf="this.service.isLogin==false"  [routerLink]="['/profile']" (click)="onSidenavClose()"><a>Sign In</a></div>
          </div>
      </div>
      <div class="menu_list">
       <ul>
        <li><a [routerLink]="['/home']" (click)="onSidenavClose()">Home <i class="fas fa-angle-right"></i></a></li>
        <li><a [routerLink]="['/profile']"  (click)="onSidenavClose()">Orders <i class="fas fa-angle-right"></i></a></li>
        <li><a  *ngIf="this.service.isLogin==true" [routerLink]="['/profileSignout']" (click)="onSidenavClose()">Logout<i class="fas fa-angle-right"></i></a></li>
      </ul>
      </div>
    </div>

</mat-nav-list>