.butttonDiv{
    text-align: center;
    padding-top: 10px;
    font-family: Montserrat !important;;
}

.butttonCss{
    width: 100%;
    color: white !important;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    background: #0f75bc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
}
::ng-deep .cdk-overlay-pane {
    display: flex !important;
}

@media screen
and (max-device-width : 480px) {

::ng-deep .cdk-overlay-pane {
    display: contents !important;
}

}