<h3 mat-dialog-title style="
    letter-spacing: 1px;
    line-height: 20px;
    font-family: Montserrat !important;
    text-align: center;
    color: black;
    font-size: 20px;"> Registration Form</h3>
<div mat-dialog-content style="text-align:center;    padding-top: 15px !important;">

    <div  class="section4ST " fxLayout="row wrap"  fxFlexFill>

    <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
        <mat-form-field style="width: 90%!important;">
        <input matInput  [(ngModel)]="data.name" placeholder="Institute Name" required>
        </mat-form-field>
    </div>
    <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
    <mat-form-field style="width: 90%!important;">
        <input  matInput type="text" [(ngModel)]="data.email" placeholder="Email address for registration code" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </mat-form-field>
    </div>
    <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
     <mat-form-field style="width: 90%!important;">
        <input matInput type="number" [(ngModel)]="data.phone" placeholder="Phone" required>
    </mat-form-field>
    </div>

    <!-- <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
    <mat-form-field style="width: 90%!important;">
        <input matInput type="number" [(ngModel)]="data.experience" placeholder="Experience in years" required>
        </mat-form-field>
    </div> -->

    <!-- <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
        <mat-form-field style="width: 90%!important;">
          <input matInput [(ngModel)]="data.highestEducation" placeholder="Highest qualification"  >
        </mat-form-field>
         </div> -->
<!-- 
   <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
    <mat-form-field style="width: 90%!important;">
            <input matInput  [(ngModel)]="data.city" placeholder="City" required>
        </mat-form-field>
    </div> -->

    <!-- <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
        <mat-form-field style="width: 90%!important;">
            <input matInput  [(ngModel)]="data.website" placeholder="Website">
        </mat-form-field>
    </div> -->
        
    
    <!-- <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
        <mat-form-field style="width: 90%!important;">
            <input matInput  [(ngModel)]="data.linkedInProfile" placeholder="LinkedIn Profile Link">
        </mat-form-field>
       </div> -->

       <!-- <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
        <mat-form-field style="width: 90%!important;">
            <textarea matInput  [(ngModel)]="data.speciality" placeholder="Speciality" required>
            </textarea>
            </mat-form-field>
       </div> -->

    <!-- <div  fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
        <mat-form-field style="width: 90%!important;">
            <textarea  matInput [(ngModel)]="data.shortDescription" placeholder="About Yourself" required>
            </textarea>
    </mat-form-field>
    </div> -->


 
  
</div>
<div mat-dialog-actions class="butttonDiv">
  <button mat-button style="width: 40%;" class="butttonCss" (click)="onNoClick()">No Thanks</button> &nbsp;
  <button mat-button style="  width: 40%;color: white;" class="butttonCss" (click)="onOKClick(data)">Submit</button>
</div> 

                  