
    <ng-sidebar-container>
      <ng-sidebar  [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    
      <app-cart></app-cart>        
    </ng-sidebar>
    
  
    <div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
            <div class="modal-dialog modal-frame modal-top lablePadding alertLabel" role="document">
                <div style="color:black;     height:auto; background: #fb081d;" class="modal-content">
                    <div>
                        <div style="text-align: center;padding-top: 18px;">
                            <p class="pt-1 pr-2" style="font-size:16px;color:white !important;">{{errorMsz}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  [config]="{backdrop: false, ignoreBackdropClick:false}">
                <div class="modal-dialog modal-frame modal-top lablePadding alertLabel"  role="document">
                    <div style="color:black; height:auto;background: #46d846;" class="modal-content">
                        <div>
                            <div style="text-align: center;padding-top: 18px;">
                                <p style="font-size:16px;color:white !important;">{{successMsz}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
                <div class="modal-dialog modal-frame modal-top lablePadding alertLabel" role="document">
                    <div style="color:white;  height:auto;" class="modal-content globalThemeBG">
                        <div>
                            <div style="text-align: center;padding-top: 18px;">
                                <p class="pt-1 pr-2" style="font-size:16px;color:white !important;">{{attentionMsz}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<body ng-sidebar-content>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true">

      <p class="spinnerText" > {{service.otpMessage}}</p>

    </ngx-spinner>

<section style="margin-top: 60px;" >

    
  <div  fxLayout="row wrap"  class="cartHead" fxFlexFill>
    <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
      <span class="orderSummery marginLeft">My Profile</span>
    </div>
    <div  fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" style="padding: 0px;    padding-bottom: 10px; "   >
      <img src="./assets/images/profileDesk.svg" alt="Card image cap" class=" desktopVisible summaryImg marginRight">
      <img src="./assets/images/profileMobile.svg" alt="Card image cap" class="mobileVisible summaryImg ">
    </div>
  </div>

  <!-- <div class="middle" style="   width: 100% !important;display: table-cell !important; ">
      <label class="homeLable">
          <input type="radio" name="events" />
          <div class="back-end box globalFont" style=" border-radius: 0px !important;">
              <span class="spanNav" style="    background: white;">
                <a [routerLink]="['/home']" class="oldColor"> Home </a>   
              <i class="fa fa-chevron-right" style="    color: black; font-size: 10px;" aria-hidden="true"></i>
               <a style="color:#44069d" > Profile</a>  
               
            </span>
          </div>
      </label>
    </div> -->
</section>
  
<section >

    <div  fxLayout="row wrap" fxLayout.xs="column" fxFlexFill  class="paddingTop2section courseDivPadding" style="padding: 50px;">
      <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" class="coursePaddingCart" >
        <mat-tab-group class="tabDiv" *ngIf="this.service.isLogin==true"> 
          <mat-tab label="Courses Enrolled" style="width: 100% !important; font-size: 12px !important;">
            <div class="row" fxFlexFill class="tabWidth">
              <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="33%" class="tabHeader" >Invoice</div>
              <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="33%" class="tabHeader" >Status</div>
              <div fxFlex="100" fxFlex.gt-sm="34%"  fxFlex.gt-xs="34%" fxFlex.xs="34%" class="tabHeader" >Date</div>
            </div>
              <hr/>
      
            <div>
                <div  *ngFor="let order of orderHistory">
                    <div class="row"  fxFlexFill class="tabWidth courseBorder">    
                      <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="33%" class="tabHeader" >
                          <a class="viewCss" href="{{this.service.baseUrl}}{{invoiceLinkPrefix}}{{order.invoiceNo}}" 
                            class="globalFont globalThemeFT viewCss" target="_blank">View
                          </a>
                      </div>    
                      <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="34%" class="tabHeader" >
                        <div  *ngIf="order.status=='NEW' || order.status=='PENDING'|| order.status=='READY'" class="statusCss">Recieved</div>
                        <div *ngIf="order.status=='OUTDELIVERY';else otherStatus" class="globalFont" class="statusCss">Out</div>
                        <div *ngIf="order.status=='CANCELLED';else otherStatus" class="globalFont" class="statusCss" style="color:Red">Cancelled</div>
                        <div *ngIf="order.status=='DELIVERED';else otherStatus" class="globalFont" class="statusCss">Completed</div>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="34%"  fxFlex.gt-xs="34%" fxFlex.xs="34%" class="tabHeader dateCss" >
                        {{order.openTime | date:'MM.dd.yyyy ' }}
                      </div>
                    </div>
                </div>
            </div> 
          </mat-tab>
        
          <!-- <mat-tab label="Booked Demo"  style="width: 100% !important;">
            <div class="row"  fxFlexFill class="tabWidth">
              <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="33%" class="tabHeader" >Course </div>
              <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="33%" class="tabHeader" >Institute</div>
              <div fxFlex="100" fxFlex.gt-sm="34%"  fxFlex.gt-xs="34%" fxFlex.xs="34%" class="tabHeader" >Date</div>
            </div>
              <hr/>
      
            <div >
                <div  *ngFor="let order of customerDemoRegd">
                    <div class="row"  fxFlexFill class="tabWidth courseBorder">    
                      <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="33%" class="tabHeader" >
                          <p class="globalFont globalThemeFT viewCss" style="text-decoration: none;">{{order.courseName}}</p>
                      </div>    
                      <div fxFlex="100" fxFlex.gt-sm="33%"  fxFlex.gt-xs="33%" fxFlex.xs="34%" class="tabHeader" >
                        <p class="statusCss">{{order.instName }}</p>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="34%"  fxFlex.gt-xs="34%" fxFlex.xs="34%" class="tabHeader dateCss" >
                        {{order.date   | date:'dd.MM.yyyy ' }}
                      </div>
                    </div>
                </div>
            </div> 
          </mat-tab> -->
        </mat-tab-group>
        <div *ngIf="this.service.isLogin==false" class="desktopVisible">
          <p class="willVisibleHere"> Enrolled courses will be visible here. Please login</p>
        </div>
      </div>

      <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%"  >
        <div  fxLayout="row wrap" class="coursePaddingCart customerDivCss" *ngIf="this.service.isLogin==false">
          <div class="compHeader-Title" fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
          <p class="otpText otpHeader customerDetails"> Registration Email</p>
         </div> 

         <div  fxFlex="100" *ngIf="customerLogin!=undefined" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" style="text-align: center;    margin-top: 15px;">
            <input type="text" class="inputField" required id="inlineFormInputGroup" [(ngModel)]="customerLogin.email" 
            #phoneNumber="ngModel" placeholder="Email address to use for course registration"  #phoneNumber>
          </div>
      
          <div class="compHeader-Title loginDiv" fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%" style="    margin-top: 10px;  ">
            <button (click)="loginCustomer()"  class="loginButton">
              <span class="buttonText"> Login </span> </button>
          </div>
          <div class="compHeader-Title" fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
            <div *ngFor="let connector of this.cartService.socialConnector">
          
            <div  fxLayout="row wrap" class="textPaddingCart">
              <div class="compHeader-Title" fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%">
                <p>OR</p>
              </div>
            </div>
              <div *ngIf="connector.name=='Facebook'">
              <button type="facebook" (click)="loginWithFacebook()" class="loginButton">
                <img src="./assets/images/facebook-logo.png" style="height:32px;margin-right: 10px;     padding: 0px;" />
                <span class="buttonText"> Login with facebook</span>
              </button>
              </div>
            </div>
          </div>
      </div>


      <div  fxLayout="row wrap" class="coursePaddingCart customerDivCss"  *ngIf="this.service.isLogin==true">

        <form [formGroup]="customerFromInfoProfile" class="col-12 mobTransformation placeForm">
          <p class="customerDetails"> Customer Details</p>
          <div  fxLayout="row wrap" class="inputMargin">
            <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
              <input type="text" class="inputField" type="text" id="username" placeholder="Your Name" formControlName="username" required>
            </div>
          </div>

          <div  fxLayout="row wrap" class="inputMargin">
          <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
            <input class="inputField" type="email" id="email" placeholder="Email address" formControlName="email" required>
          </div>
          </div>

          <!-- <div  fxLayout="row wrap" class="inputMargin">
            <div  fxFlex="100" fxFlex.gt-sm="100%"  fxFlex.gt-xs="100%" fxFlex.xs="100%"  class="fieldDiv">
              <input class="inputField" type="phone" id="mobile" placeholder="Email to get the invoice" formControlName="mobile" required>
            </div>
            </div> -->
        </form>

      </div>
    </div>

  </div>

    
</section>
</body>
    </ng-sidebar-container>