

.ptb-90{
    padding-top: 75px;
 }
.popUpBtn{
    color: #f8f9fa!important;
      padding-right: 20px;
      border: none;
      padding-left: 20px;
      text-align: center;
      height: 32px;
      display: inline-block;
      background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 37px;
  }

  .course_box_style1 {
    
    height: auto !important;
}

* {
  box-sizing: border-box;
}

.course_name{
  height: 35px !important;
   overflow: auto  !important;
}