<ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">

    <app-cart></app-cart>
  </ng-sidebar>

  <ng-template #tipContent>
    <div style="padding:10px; width: 100% !important; text-align: left;background: #ebddff;
  border-radius: 10px !important;">

      <div *ngFor="let item of  tempItemForToolTip.repListTemp"
        style="color: black !important;  font-family: Montserrat-med;"
        (click)="openLinkToolTip(tempItemForToolTip,tempSectionForToolTip,item.itemId)">
        <input type="radio" name="replaceable" style="cursor: pointer;"
          [checked]="(item.itemId==tempItemForToolTip.itemId)"> {{item.name}} <br />
      </div>
    </div>
  </ng-template>

  <div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
      <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
        class="modal-content lableRadius alertCss">
        <div>
          <div style="text-align: center;padding-top: 18px;">
            <p class="pt-1 pr-2" class="alertFontSize globalFont"> {{errorMsz}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #changePlatter="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-frame modal-top  alerttRadius" role="document">
      <div style="color:black" style="background: #196aa4;" class="modal-content lableRadius alertCss">
        <div class="lableRadius alertCss">
          <p class="pt-1 pr-2 globalFont alertFont"
            style="font-size:16px;     padding: 2%; margin-bottom: 7px;   padding-bottom: 0px; color: white !important; ">
            You already have Course added in the cart, click
            <b>Cancel</b> to continue with existing cart or
            <b>Okay</b> to update the cart.
          </p>
          <p style="margin-bottom: 10px;">
            <input type="button" class="popUpBtn" data-dismiss="modal" (click)="keepSamePlatter()" mdbWavesEffect
              value="Cancel">
            &nbsp;
            <input type="button" class="popUpBtn" data-dismiss="modal" (click)="overridePlatter()" mdbWavesEffect
              value="Okay">

          </p>
        </div>
      </div>
    </div>
  </div>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
      <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
        class="modal-content lableRadius alertCss">
        <div>
          <div style="text-align: center;padding-top: 18px;   ">
            <p class="pt-1 pr-2" class="alertFontSize  globalFont alertFont"> {{attentionMsz}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: false, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-frame modal-top lablePadding  alerttRadius" role="document">
      <div style="color:black; height:auto;background: #196aa4; font-size: 0px;"
        class="modal-content lableRadius alertCss">
        <div>
          <div style="text-align: center;padding-top: 18px;  padding-left: 25px;">
            <p class="alertFontSize globalFont alertFont"> {{successMsz}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <body class="ptb-90" ng-sidebar-content>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">

      <p class="spinnerText"> {{service.otpMessage}}</p>

    </ngx-spinner>
    <ng-container *ngFor="let menu of menus">
      <section class="course_certificate ptb-90"
        style="background-image: url({{service.baseImageUrl}}{{menu.vendor.businessLandscapeImageUrl}});">

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="course_detailsCer">
                <span class="categoryTag"><i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                  {{menu.vendor.vendorName}}</span>
                <h2> {{menu.name}}</h2>
                <ul>
                  <li><i class="far fa-calendar-alt"></i> {{menu.start_at | date}} - {{menu.end_at | date}}</li>
                </ul>
                <p class="maxDesc"> {{menu.public_description}}</p>
                <div class="banner_BtnSocial d-flex align-items-center">
                  <a *ngIf="alreadyAdded()==false && menus[0]!=undefined && menus[0].price>0 && menu.type!='ON_DEMAND'"
                    (click)="checkandAddToCart(menus[0],menus[0])" class="common_button bg-blue text-white p-coursor ">Enroll Now
                    <img src="./assets/img/Arrow_right.svg" alt="arrow_right" class="img-fluid"></a>

                  <a *ngIf="alreadyAdded()==true" (click)="showOrderSummeryPage()"
                    class="common_button bg-blue text-white"> View cart<img src="./assets/img/Arrow_right.svg"
                      alt="arrow_right" class="img-fluid"></a>
                  <ul>
                    <li>
                      <a class="shareCourseDesk" href="{{whatsAppURL}}" data-action="share/whatsapp/share"
                        ngbTooltip="Share with Whatsapp"
                        onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                        target="_blank" title="Share on whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a ngbTooltip="Share on Facebook" class="shareCourseDesk" href="{{facebookURL}}"
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                        target="_blank" title="Share on Facebook">
                        <i class="fab fa-facebook-f"></i></a>
                    </li>

                    <li> <a ngbTooltip="Share on LinkedIn" class="shareCourseDesk" href="{{linkedInURL}}"
                        target="_blank" title="Share on Linkedin">
                        <i class="fab fa-linkedin-in"></i></a></li>
                    <li>
                      <a ngbTooltip="Share with Mail" class="shareCourseDesk" href="{{mailURL}}"
                        onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                        target="_blank" title="Share on Mail">
                        <i class="fa fa-envelope"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="course_overviewSec ptb-90 bg_grey">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-8 ">
              <div class="couBox_Overview bg-white p-4">
                <h2>Course Overview</h2>
                <p *ngIf="menu.public_description!='null'">
                  {{menu.public_description}}</p>
                <p *ngIf="menu.syllabus_body!='null'" [innerHTML]="menu.syllabus_body">
                </p>
              </div>
            </div>
            <div class="col-md-5 col-lg-4 ">
              <div class="Course_ProfileAmout bg-white p-4">
                <div class="pro_course_Name">
                  <!-- <img src="./assets/img/profile_image.jpg" class="img-fluid" alt="profile_image"> -->
                  <h4>Michael Russell</h4>
                </div>
                <div class="Acctual_Price">
                  <p>Actual Price</p>
                  <h3 *ngIf="this.service.restaurant!=undefined">{{menu.price | currency:
                    this.service.restaurant.currency : 'symbol' : '1.0-0' }}</h3>
                </div>
                <div class="Course_FeaturesSec">
                  <h5>Course Features</h5>
                  <ul>
                    <li><span
                        class="firsrtText">{{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                      <span class="secondText">{{menu.start_at | date}} - {{menu.end_at | date}}</span></li>
                    <li><span class="firsrtText">Course Mode</span> <span
                        class="secondText modecss">{{menu.course_format}}</span></li>
                    <li><span class="firsrtText">Credits</span> <span class="secondText">N/A</span></li>
                    <li><span class="firsrtText">Course Difficulty</span> <span class="secondText">Intermediate</span>
                    </li>
                    <li><span class="firsrtText">Take A Step Ahead</span> <span class="secondText">On Demand Certificate
                        On Completion</span></li>
                  </ul>
                </div>
                <a *ngIf="alreadyAdded()==false && menus[0]!=undefined && menus[0].price>0 && menu.type!='ON_DEMAND'"
                  (click)="checkandAddToCart(menus[0],menus[0])" class="common_button bg-blue text-white p-coursor ">Enroll Now
                  <img src="./assets/img/Arrow_right.svg" alt="arrow_right" class="img-fluid"></a>

                <a *ngIf="alreadyAdded()==true" (click)="showOrderSummeryPage()"
                  class="common_button bg-blue text-white"> View cart<img src="./assets/img/Arrow_right.svg"
                    alt="arrow_right" class="img-fluid"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
    <section class="ptb-90 processEnroll">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-3 text-center">
            <h2>Process to Enroll <span></span></h2>
          </div>
          <div class="col-md-4">
            <div class="enrollBox text-center">
              <div class="contNumber">
                01
              </div>
              <h4>Enroll Course</h4>
              <p>Select Enroll Now! You will be prompted for your email address. This address will be your logon to the CoursEdge site and the Learning Management System for the course you purchased.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="enrollBox text-center">
              <div class="contNumber">
                02
              </div>
              <h4>User Registration</h4>
              <p>Check your email for a message from CoursEdge with a six-digit Registration Code. Enter the code to continue with your registration</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="enrollBox text-center">
              <div class="contNumber">
                03
              </div>
              <h4>Payment</h4>
              <p>Almost done, enter your payment information. It is important to read the institution’s billing policies before agreeing to them. You will be sent a copy of your receipt to the email address you provided. You will receive another email with a link to the Learning Management System for the course you purchased.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-blue course_dgree ptb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="./assets/img/SSBM_DBA_Certificate.png" class="img-fluid" alt="Certificate">
          </div>
          <div class="col-md-6">
            <div class="Certificate_BoxSec">
              <h2 class="text-white">Doctor of Business Administration degree from SSBM Geneva</h2>
              <p class="text-white">Complete all the research phases and your dissertation to receive a Doctor of
                Business Administration in any specialisation of your interest from SSBM Geneva.</p>
              <ul class="text-white">
                <li>Network with professionals of 75+ nationalities</li>
                <li>Receive SSBM Geneva Alumni Status</li>
                <li>Internationally recognised Doctorate Degree</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="Related_Courses ptb-90" *ngIf=" this.service.cuisines!=undefined && this.service.cuisines[0]!=undefined">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-3 text-center">
            <h2>Similar Courses <span></span></h2>
          </div>

          <swiper [config]="config" >
            <ng-container *ngFor="let menu of this.service.cuisines[0].courses">
              <ng-template class="swiper-slide" *ngIf="menus[0]!=undeffined && menu.courseId!=menus[0].courseId"  swiperSlide>

              
                  <div class="course_box_style1">
                    <div class="course_image p-coursor">
                      <img src="{{menu.image_download_url}}" (click)="updateMenuPage(menu)" onError="this.src='./assets/images/testimonials/courses.jpg'" alt="course_image1" class="img-fluid featured_image">
                      <div class="Course_logo p-coursor">
                        <img  src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}" (click)="activateInstitue(menu.vendorId)" alt="partner_logo" class="img-fluid">
                      </div>
                    </div>
                    <div class="content_course">
                      <div class="category_Price d-flex justify-content-between align-items-center">
                        <span class="categoryTag p-coursor"><a  (click)="activateInstitue(menu.vendorId)"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{menu.vendor.vendorName}}</a></span>
                        <h5>{{menu.price | currency:
                          this.service.restaurant.currency : 'symbol' : '1.0-0' }}</h5>
                      </div>
                      <h3><a class="course_name p-coursor" (click)="updateMenuPage(menu)" >{{menu.name}}</a> </h3>
                      <ul>
                        <li><i class="far fa-calendar-alt" aria-hidden="true"></i> {{menu.start_at | date}} - {{menu.end_at | date}} </li>
                        <li><i class="far fa-clock" aria-hidden="true"></i>  {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}} </li>
                      </ul>
                      <div class="Enroll_Button d-flex align-items-center justify-content-between">
                        <div class="button_addBuy" (click)="updateMenuPage(menu)">
                          <a  class="common_button bg-blue p-coursor">View Course</a>
                        </div>
                        <p class="onlineClass modecss">  {{menu.course_format}}</p>
                      </div>
                    </div>
                  </div>
              

              </ng-template>
            </ng-container>
          </swiper>
          
        </div>
      </div>
    </section>

    <app-footer></app-footer>
    <div id="cover" *ngIf="isPopUp==true"> </div>
  </body>
</ng-sidebar-container>