<h3 *ngIf="data.type!='ON_DEMAND'" mat-dialog-title style="padding-top: 20px !important;
letter-spacing: 1px;
line-height: 20px;
font-family: Montserrat-bold !important;
text-align: center;
color: black;
font-size: 20px;">Demo class for <font style="color:#ea6326">{{data.courseName}} </font></h3>

<h3 *ngIf="data.type=='ON_DEMAND'" mat-dialog-title style="padding-top: 20px !important;
letter-spacing: 1px;
line-height: 20px;
font-family: Montserrat-bold !important;
text-align: center;
color: black;
font-size: 20px;">Enquiry for <font style="color:#ea6326">{{data.courseName}} </font></h3>
<div mat-dialog-content style="text-align:center;    padding-top: 15px !important;">
  <mat-form-field style="width: 80% !important;">
    <input matInput [(ngModel)]="data.name" placeholder="Full Name" pattern="[a-zA-Z ]*" required>
  </mat-form-field>
  <mat-form-field style="width: 80% !important;">
  <input matInput type="number" [(ngModel)]="data.phone" placeholder="Phone" required>
  </mat-form-field>
  <mat-form-field style="width: 80% !important;">
    <input  matInput type="text" [(ngModel)]="data.email" placeholder="email"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
  </mat-form-field>
    <input  matInput [(ngModel)]="data.courseId" hidden>

  <mat-form-field *ngIf="data.type!='ON_DEMAND'" style="width: 80% !important;">
              <input  [min]="minDate" [max]="maxDate"  matInput disabled [matDatepicker]="picker"
                  style="letter-spacing: normal !important;
                  text-align: left !important;"
                  placeholder="Estimated date" #date [(ngModel)]="data.date" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions style="text-align: center; padding-right: 24px;">
  <button mat-button style="background: #30beb2;
  color: white;" (click)="onNoClick()">No Thanks</button>  &nbsp;
  <button mat-button style="background: #ff8f5c;
  color: white;" (click)="onOKClick(data)">Submit</button>
</div>