
<mat-nav-list role="dialog" style="background: white;
box-shadow: 0px 0px 1px;padding-bottom:30px !important;
max-width: 100% !important;" hasBackdrop="false" style="text-align:center">
    <!-- <div *ngFor="let item of data"></div> -->
        <a  *ngFor="let item of  data.tempReplacableItems.repListTemp" 
        mat-list-item (click)="openLink($event, data.tempReplacableItems,data.section,item.itemId,data.menuComponent)">
          <span mat-line  [ngClass]="{'fa fa-check':item.itemId==data.tempReplacableItems.itemId}" > {{item.name}}</span>
        </a>   
</mat-nav-list>



