<section style="width: 100%; 
background:#000000
;padding-bottom: 50px;
color: #ffffff;
width: 100%;
padding: 0px;
bottom: 0;
">

    <div style="padding: 20px;">

        <div style="padding-top: 30px;">
            <div style="padding-top: 20px; padding-bottom: 10px;text-align: center;padding: 5px;" fxLayout="row wrap"
                 fxFlexFill>

                <div style="   padding: 5px;"   fxFlex.gt-sm="20%" fxFlex.xs="50%">
                    <p class="section6Head ">CoursEdge</p>

                    <p class="section6Link section6Padding"> <a class="section6Link" [routerLink]="['/about']" target="_blank">
                        About Us</a></p>
                    <p class="section6Link"><a class="section6Link" [routerLink]="['/contact']"  target="_blank"> Contact Us</a></p>
                    <!-- <p class="section6Link"><a class="section6Link" [routerLink]="['/refund_cn']"  target="_blank"> Reviews </a></p>   -->
                    <!-- <p class="section6Link"><a class="section6Link" [routerLink]="['/home']"  target="_blank"> Become an Instructor </a></p>    -->
                    <!-- <p class="section6Link"><a class="section6Link" [routerLink]="['/refund_cn']"  target="_blank"> Sitemap </a></p>    -->
                    <!-- <p class="section6Link"><a class="section6Link" [routerLink]="['/refund_cn']"  target="_blank"> Rescheduling Policy</a></p> -->
                </div>

                <div style="padding: 5px;"  fxFlex.gt-sm="20%" fxFlex.xs="50%">
                    <p class="section6Head ">SUPPORT</p>

                    <p class="section6Link section6Padding" > <a class="section6Link" [routerLink]="['/terms']" target="_blank">Terms of Service</a></p>
                    <p class="section6Link"><a class="section6Link" [routerLink]="['/policies']"  target="_blank"> Privacy Policy</a></p>
                    <!-- <p class="section6Link"><a class="section6Link" [routerLink]="['/refund_cn']"  target="_blank"> Refund Policy </a></p> -->
                    
                </div>

                <!-- <div style="padding: 5px;"  fxFlex.gt-sm="20%" fxFlex.xs="50%">
                    <p class="section6Head">ADDRESS</p>
                    <p class="section6Add section6Padding">326/47,</p>
                    <p class="section6Add">Near Park View Apartments</p>
                    <p class="section6Add">Sector 47, Gurugram (122002) Haryana</p>
                    <p class="section6Add"><a style="color:white !important" href = "mailto: contact@letschalktalk.com">contact@letschalktalk.com</a></p>
                    <p class="section6Add"><a style="color:white !important" href="tel:+919813321009"> +91 9813321009 </a>  </p>
                </div> -->

                <div style="padding: 5px; cursor: pointer;"  fxFlex.gt-sm="40%" fxFlex.xs="50%">
                    <a href="#" style="cursor: pointer;" rel="noopener noreferrer" target="_blank" >
                         <img class="card-img-top rounded-0  section6Img" src="assets/talk/facebook.svg"
                    alt="Card image cap "></a>

                    <a href="#"  style="cursor: pointer;" target="_blank" rel="noopener noreferrer"> 
                    <img class="card-img-top rounded-0  section6Img" src="assets/talk/insta.svg"
                    alt="Card image cap "></a>
                    <a href="#"  style="cursor: pointer;" rel="noopener noreferrer" target="_blank" >
                    <img class="card-img-top rounded-0  section6Img" src="assets/talk/linkedIn.svg"
                    alt="Card image cap "></a>
                </div>
             </div>
        <div style="font-family: Helvetica;
            font-size: 10px;  text-align: center;">© 2020 CoursEdge.Org</div>
        </div>
    </div>
</section>