<section style="    margin-top: 50px;">

    <div  fxLayout="row wrap"  class="cartHead" fxFlexFill>
        <div   fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
          <span class="orderSummery marginLeft">Terms & Conditions</span>
        </div>
        <div  fxFlex="100" fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" style="padding: 0px;    padding-bottom: 10px; "   >
          <img src="./assets/images/terms.svg" alt="Card image cap" class=" desktopVisible summaryImg marginRight">
          <img src="./assets/images/terms.svg" alt="Card image cap" class="mobileVisible summaryImg ">
        </div>
    </div>

<div class="aboutUsText">
<p class="p1"> Kindly read the terms and conditions of CoursEdge to avoid misunderstanding at any later stage. We
sincerely believe that you must go through it thoroughly, understand and clarify the doubts, before
registering with us. It is to be done at the onset of the professional relationship
Your registration as a member of coursedge.org or the use of any of the features and services on
coursedge.org, either as a registered member or as a visitor constitutes automatic acceptance of
these terms and conditions.</p>
<ul>
<li>coursedge.org reserves the right to update the terms, conditions and notices of this agreement
without notice to you. It is your responsibility to periodically review the most current version of this
Agreement.</li>
<li> By accessing or using the Sites, Content, or Services, you agree to be bound by these Terms of Service.
If you do not agree with any of the terms and conditions of coursedge.org, do not register and you
will not be authorized to use CoursEdge services.</li>
<li>
The views expressed on the website are not those of coursedge.org, and any issues in them belong to
the respective contributors.</li>
<li>
Through the use of this site, you agree to hold coursedge.org harmless and its sponsors, owners,
shareholders or employees against any claims.</li>
<li>
You are responsible for safeguarding the password that you use to access the Sites, Content and
Services. You agree not to disclose your password to any third party. You agree to take sole
responsibility for any activities or actions under your password, whether or not you have authorized
such activities or actions.</li>
<li>
Information about the institutes posted on the site is obtained from their official websites, other source
on the internet and in some cases by calling the institutes.</li>
<li>
By uploading the logo of your institute, you give coursedge.org the right to use the logo on our
website as well as on any Let's Chalk Talk marketing material.</li>
<li>
If you enter into correspondence or engage in commercial transactions with third parties in connection
with your use of the Let's Chalk Talk Service, such activity is solely between you and the applicable third
party. Let's Chalk Talk shall have no liability, obligation or responsibility for any such activity. You hereby
release coursedge.org from all claims arising from such activity.</li>
<li>
Let's Chalk Talk makes no warranty regarding the quality of any products,services, accuracy, timelines,
truthfulness, completeness or information purchased or obtained through the sites , content or services.</li>
<li>
In case you have any doubt or query, please drop an email at <a href = "mailto: contact@coursedge.org"><strong>contact@coursedge.org</strong></a>. We’ll get back
to you within 2 working days.</li>
</ul>
</div>
</section>