<ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    <app-cart></app-cart>
  </ng-sidebar>


<!doctype html>
<html lang="en" ng-sidebar-content>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Course Edge University</title>
  </head>
  <body>
  
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
        <p class="spinnerText"> {{service.otpMessage}}</p>
      </ngx-spinner>
  

    <section class="course_University ptb-90" style="background-image: url({{service.baseImageUrl}}{{instImage}});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </section>
    <section class="University_detailsS">
      <div class="container">
        <div *ngIf="this.service.selectedInstData!=undefined" class="row">
          <div class="col-md-3">
            <div *ngIf="this.instLogo!='' && this.instLogo!=null" class="logo_univerSity">
                  <img src="{{service.baseImageUrl}}{{this.instLogo}}" alt="University Img" class="img-fluid">
            </div>
          </div>
          <div class="col-md-9">
            <div class="universityText">
              <h2>{{this.service.selectedInstData.name}}</h2>
              <p [innerHtml]="instDescription"></p>
              <ul>
                <li><i class="fas fa-map-marker-alt text-blue" aria-hidden="true"></i> {{instAddress}}</li>
                <li><i class="fas fa-phone-alt text-blue"></i> {{instPhone | slice:0:3}}-{{instPhone | slice:3:6}}-{{instPhone | slice:6:10}}-{{instPhone | slice:10:15}} 
                    (call or text)</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 University_fillter">
             <div class="fillterAllCourse">
              <h3>Filter By Courses </h3>
              <div class="fiiterfilled">
                <input type="text" name="" [(ngModel)]="term" placeholder="Search course">
                <select  (change)="sortByOptions()" [(ngModel)]="selectedLevel">
                  <option class="sortBySelect" selected="" value="selected">Select Level</option>
                  <option class="sortBySelect" value="Introductory"> Introductory </option>
                  <option class="sortBySelect" value="Intermediate">Intermediate </option>
                  <option class="sortBySelect" value="Advanced">Advanced </option>
                </select>
                <select [(ngModel)]="selectedMode"
                (change)="sortByOptions()">
                  <option class="sortBySelect" selected="" value="selected">Class Mode</option>
                  <option *ngFor="let mode of  this.service.classModes" [value]="mode.mode" >{{mode.mode}} ({{mode.count}})</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <section class="Related_Courses university_couBox ptb-90 bg_grey">
      <div class="container">
        <div *ngIf="this.service.selectedInstData!=undefined" class="row">
          <div class="col-md-12 mb-3 text-center">
            <h2>Courses and Credentials <span></span></h2>
          </div>
          <div   *ngFor="let menu of  this.service.selectedInstData.courses | custFilterInst:term"  class="col-lg-4 col-md-6">
            <div  *ngIf="menu!==-1"  class="course_box_style1">
              <div class="course_image p-coursor">
                 <img src="{{menu.image_download_url}}" (click)="activeCartSection(menu)" onError="this.src='./assets/images/testimonials/courses.jpg'" alt="course_image1" class="img-fluid featured_image">
                 <div class="Course_logo">
                  <img src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"  alt="partner_logo" class="img-fluid">
                 </div>
              </div>
              <div class="content_course">
                <div class="category_Price d-flex justify-content-between align-items-center">
                <h5> {{menu.price | currency: this.service.restaurant.currency :
                    'symbol' : '1.0-0' }}</h5>
              </div>
              <h3 class="course_name p-coursor"><a (click)="activeCartSection(menu)" >{{menu.name}}</a> </h3>
              <ul>
                <li><i class="far fa-calendar-alt" aria-hidden="true"></i> {{menu.start_at | date}} - {{menu.end_at | date}} </li>
                <li><i class="far fa-clock" aria-hidden="true"></i>  {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}} </li>
              </ul>
              <div class="Enroll_Button d-flex align-items-center justify-content-between">                 
                 <div class="button_addBuy" (click)="activeCartSection(menu)">
                  <a class="common_button bg-blue p-coursor">View Course</a>
                 </div>
                 <p class="onlineClass modecss"> {{menu.course_format}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ptb-90 processEnroll univers_process ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-3 text-center">
            <h2>Process to Enroll <span></span></h2>
          </div>
          <div class="col-md-4">
            <div class="enrollBox text-center">
              <div class="contNumber">
                01
              </div>
              <h4>Enroll Course</h4>
              <p>Select Enroll Now! You will be prompted for your email address. This address will be your logon to the CoursEdge site and the Learning Management System for the course you purchased.</p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="enrollBox text-center">
              <div class="contNumber">
                02
              </div>
              <h4>User Registration</h4>
              <p>Check your email for a message from CoursEdge with a six-digit Registration Code. Enter the code to continue with your registration.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="enrollBox text-center">
              <div class="contNumber">
                03
              </div>
              <h4>Payment</h4>
              <p>Almost done, enter your payment information. It is important to read the institution’s billing policies before agreeing to them. You will be sent a copy of your receipt to the email address you provided. You will receive another email with a link to the Learning Management System for the course you purchased.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
        <app-footer></app-footer>
      </section> 
  </body>
</html>

</ng-sidebar-container>