
.fiiterfilled input, .fiiterfilled select{
  margin-right: 10px;
}
.course_name{
height: 65px !important;
overflow: auto  !important;
}


// html {
//   text-align: center;
//   font-family: Montserrat, sans-serif !important;
// }

// .sideImage{
//   width: 100%;
//   height: 350px;
// }
// .phoneCss{
//   white-space: nowrap
// }
// .phoneCss:hover{
//   color:black;
// }
// .course_Spec{
//   font-size: 24px;
//   line-height: 28px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.05em;
//   text-transform: capitalize;
//   font-family: Montserrat;
//   color: #000000;
//   padding-top: 20px;
//   padding-bottom: 20px;

// }

// ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   color: black !important;
// }
// ::ng-deep .mat-form-field-outline-thick {
//   color: black !important;
// }

// ::ng-deep .ng-value-label .ng-star-inserted {
//   white-space: break-spaces !important;
// }
// ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
//   white-space: break-spaces !important;
// }
// ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input > input {
//   color: #58585a !important;
// }
// ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
//   //background-color: #46056a !important;
// }

// ::ng-deep .ng-select .ng-select-container {
//   color: #58585a !important;
//   font-family: Montserrat !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   font-size: 16px;
//   line-height: 20px;
//   min-height: inherit;
//   align-items: center;
//   text-align: center;
// }

// ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
//   width: 239px;
//   height: 27px;
//   opacity: 0.6;
//   font-size: 20px;
//   font-weight: normal;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.35;
//   letter-spacing: normal;
//   text-align: left;
//   color: #58585a;
//   position: static !important;
//   font-family: Montserrat !important;
//   font-size: 15px;
//   font-weight: 600;
//   padding-left: 10px;
//   width: auto !important;
// }


// ngb-carousel img {
//   width: 100%;
//   outline: none;
// }
// .univLogoCol{
//   background: #ffffff;
//     box-sizing: border-box;
//     border-radius: 6px;
//     padding: 0px !important;
//     height: 55px !important;
//     width: 140px !important;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     position: absolute;
// }
// .univTopDiv{
//   position: relative;
// }
// .univLogoTop{
//   width: 175px;
//   height:175px;
//   /* left: 150px; */
//   /* top: 354px; */
//   background: #FFFFFF;
//   border: 1px solid #C0C0C0;
//   box-sizing: border-box;
//   box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
//   border-radius: 3px;
//  // transform: translate(30%);
//   padding: 0px !important;
//   margin-top: -80px;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   position: absolute;
// }
// .colNameCSS{
//   padding-top: 15px;
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 26px;
//   line-height: 32px;
//   /* identical to box height */

//   letter-spacing: 0.03em;
//   text-transform: capitalize;

//   color: #292929;
// }
// .colAddress{
//   font-weight: 500 !important;

// }
// .colAboutCss{

//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   margin-bottom: 20px;
//   line-height: 24px;
//   /* or 150% */
  
//   letter-spacing: 0.03em;
  
//   color: #5A5A5A;
// }

//   .backgroundHome {
//     // height: 370px !important;
//     height: 350px !important;
//     min-height: auto !important;
//     background: linear-gradient(89.98deg, #ecedee 2.67%, #edf3ff 31.14%, #f3f3f3 52.36%);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   }

//   .backgroundCollDettails {
//     // height: 370px !important;
//     height: 270px !important;
//     min-height: auto !important;
//     background: linear-gradient(89.98deg, #ecedee 2.67%, #edf3ff 31.14%, #f3f3f3 52.36%);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     padding: 20px;
//     padding-top: 0px;
//     padding-bottom: 0px;
//   }

// .section2Padding{
//   padding-top: 50px;
//   padding-left: 40px;
//   padding-right: 40px;
//   padding-bottom: 50px;
// }
// .selectFiltter{
//   border: solid #80808047 1px;
//   font-family: Montserrat !important;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 20px;
//   text-transform: capitalize;
//   color: #000000;
//   background: white;
// }
// .customLocationWidth {
//   font-family: Montserrat;
//   width: 100% !important;
//   height: 40px !important;
//   padding-left: 20px;
//   color: black !important;
//   border: #80808026 1px solid !important;
//   border: #80808026 1px solid !important;
//     border-radius: 6px !important;
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.5);

// }
// .sortBySelect{
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 20px;
//   /* identical to box height */

//   text-transform: capitalize;

//   color: #000000;
// }
// .marginTop {
//   padding-top: 65px;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
// }
// .filterMargin {
//   padding-top: 0px;
// }
// .filtterBox {
//   font-family: Montserrat;
//     text-transform: capitalize;
//     color: #000000;
//     background: none;
//     // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
//     padding: 5px;
//     padding-bottom: 0px;
//     padding-top: 0px;
//     box-shadow: none;
//     border-radius: 6px;
//     // top: 0;
//     // bottom: 0;
//     // left: 0;
//     // right: 0;
//     // margin: auto !important;
// }


// .fa {
//   padding-right: 2px;
//   background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
//   background-size: 100%;
//   -webkit-background-clip: text;
//   -moz-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   -moz-text-fill-color: transparent;
//   padding-right: 4px;
//   font-size: 16px;
// }

// //don't delete using it internally
// ::ng-deep .owl-item {
//   //margin-right: 30px !important ;
//   margin-left: 50px;
// }

// .univLogo {
//   background: #ffffff;
//   box-sizing: border-box;
//   border-radius: 6px;
//   padding: 0px !important;
//   height: 35px !important;
//   width: 110px !important;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   position: absolute;
// }

// .univLogoDiv {
//   position: relative;
//   background: #ffffff;
//   border: 1px solid #e5e5e5;
//   box-sizing: border-box;
//   border-radius: 6px;
//   width: 130px !important;
//   transform: translate(50%);
//   padding: 0px !important;
//   height: 58px;
//   margin-top: -43px;
// }

// .featureCont {
//   padding: 10px;
//   width: 100% !important;
//   margin-top: 0px;
//   height: 182px;
//   background: #f9f9f9;
//   border-radius: 0px 0px 8px 8px;
// }
// .featureSubCont {
//   // width: 46px;
//   // height: 24px;
//   //margin: 0 35.5px 4px 0;
//   font-family: Poppins;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 18px;
//   line-height: 1.33;
//   letter-spacing: normal;
//   text-align: left;
//   text-transform: capitalize !important;
//   color: rgba(88, 88, 90, 0.8);
// }
// .courseName {
//   height: 57px !important;
//   font-family: Poppins;
//   font-style: normal;
//   font-weight: 500;
//   overflow: overlay;
//   font-size: 16px;
//   line-height: 27px;
//   text-transform: capitalize;
//   color: #0068b1;
// }

// .Rectangle-8 {
//   // width: 500px;
//   height: 370px;
//   width: 260px !important;
//   margin: 0px 0px 0px 0px;
//   padding: 0 0 19px;
//   box-shadow: 0px 0px 8px -2px #bdbdbe;
//   border: solid 0.5px #e3e3e3;
//   background: #f9f9f9;
//   max-width: 100% !important;
// }

// .Rectangle-198 {
//   padding: 0px !important;
//   width: 100%;
//   height: 150px;
//   //background-color: rgba(88, 88, 90, 0.08);
// }


// .topDiv {
//   height: 100%;
//   min-height: 100%;
//   min-width: 100%;
//   width: 100%;
//   flex-direction: row;
//   box-sizing: border-box;
//   display: initial !important;
// }

// .searchPadding {
//   padding-right: 50px;
//   padding-left: 30px;
//   padding-top: 10px;
// }



// .Power-Your-Learning-with-Coursedge {
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 30px;
//   line-height: 39px;
//   /* identical to box height */
//   padding-top: 40px;
//   padding-left: 30px;
//   text-transform: capitalize;

//   color: #004070;
// }

// .mb-2 {
//   margin-bottom: 0.1rem !important;
// }

// .featureCom {
//   padding-right: 70px;
//   padding-bottom: 40px;
//   // box-shadow: 1px 1px 1px 1px #e9ecef !important;
//   // padding-left: 20px;
//   // width: 260px !important;
// }

// .instImag {
//   // max-height: -webkit-fill-available;
//   width: 260px;
//   height: 100%;
// }

// .actualPrice {
//   font-family: Montserrat;
//   font-size: 16px;
//   font-weight: 600;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.35;
//   letter-spacing: normal;
//   text-align: left;
//   color: #003b8d;
// }

// a {
//   border: none !important;
// }

// .homeSection {
//   /* height: 520px !important;  */
//   min-height: 50% !important;
//   height: 50% !important;
//   background-size: 100%;
//   margin-top: 0px !important;
//   padding-left: 0px;
//   padding-right: 0px;
//   padding-top: 62px;
//   z-index: 2;
//   display: initial !important;
// }

// .mobileVisible {
//   display: none;
// }

// .desktopVisible {
//   display: initial;
// }

// :-ms-input-placeholder {
//   color: white !important;
//   padding: 5px;
//   font-family: Montserrat !important;
//   padding-left: 10px;
//   font-size: 16px;
//   font-style: normal;

//   text-align: left;
// }

// @media screen and (max-device-width: 480px) {

//   .sideImage{
//     width: 100%;
//     height: 220px;
//   }

//   .course_Spec{
//     font-size: 18px;
//     line-height: 28px;
//     display: flex;
//     align-items: center;
//     letter-spacing: 0.05em;
//     text-transform: capitalize;
//     font-family: Montserrat;
//     color: #000000;
//     padding-top: 10px;
//     padding-bottom: 10px;
  
//   }

//   .colNameDiv{
//     padding-top: 50px;
//   }
  
//   .univLogoTop{
//     width: 150px;
//     height: 90px;
//     background: #FFFFFF;
//     border: 1px solid #C0C0C0;
//     box-sizing: border-box;
//     box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
//     border-radius: 3px;
//     transform: translate(0%);
//     padding: 0px !important;
//     margin-top: -50px;
//     position: absolute;
//   }
//   .colNameCSS{
//     padding-top: 15px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 21px;
//     line-height: 32px;
//     /* identical to box height */
  
//     letter-spacing: 0.03em;
//     text-transform: capitalize;
  
//     color: #292929;
//   }
  
//   .colAboutCss{
  
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 24px;
//     /* or 150% */
    
//     letter-spacing: 0.03em;
    
//     color: #5A5A5A;
//   }

//   .backgroundCollDettails {
//     // height: 370px !important;
//     height: 100% !important;
//     min-height: auto !important;
//     background: linear-gradient(89.98deg, #ecedee 2.67%, #edf3ff 31.14%, #f3f3f3 52.36%);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     padding: 10px;
//     padding-top: 0px;
//     padding-bottom: 20px;
//   }

// .backgroundHome {
//   height: 220px !important;
//   min-height: auto !important;
//   background: linear-gradient(89.98deg, #ecedee 2.67%, #edf3ff 31.14%, #f3f3f3 52.36%);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

// .section2Padding{
//   padding-top: 50px;
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-bottom: 50px;
// }
// .selectFiltter{
//   border: solid #80808047 1px;
//   font-family: Montserrat !important;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 13px;
//   line-height: 20px;
//   text-transform: capitalize;
//   color: #000000;
//   background: white;
// }
// .customLocationWidth {
//   top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//   font-family: Montserrat;
//   width: 100% !important;
//   font-size: 14px;
//   padding-left: 10px;
//   color: black !important;
//   border: #80808026 1px solid !important;
//   border-radius: 6px !important;
//   // height: 100% !important;
//   box-shadow: none;

// }
// .sortBySelect{
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 20px;
//   /* identical to box height */

//   text-transform: capitalize;

//   color: #000000;
// }
// .marginTop {
//   padding-top: 65px;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
// }
// .filterMargin {
//   padding-top: 30px;
// }
// .filtterBox {
//   font-family: Montserrat;
//     text-transform: capitalize;
//     color: #000000;
//     background: none;
//     //box-shadow:0px 1px 1px rgba(0, 0, 0, 0.15);
//     border-radius: 6px;
//     padding: 0px;
//     padding-bottom: 0px;
//     padding-top: 0px;
//     box-shadow: none;

// }


// .fa {
//   padding-right: 2px;
//   background-image: linear-gradient(90deg, #24c6dc 0%, #514a9d 100%);
//   background-size: 100%;
//   -webkit-background-clip: text;
//   -moz-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   -moz-text-fill-color: transparent;
//   padding-right: 4px;
//   font-size: 16px;
// }

// //don't delete using it internally
// ::ng-deep .owl-item {
//   //margin-right: 30px !important ;
//   margin-left: 50px;
// }

// .univLogo {
//   background: #ffffff;
//   box-sizing: border-box;
//   border-radius: 6px;
//   padding: 0px !important;
//   height: 42px !important;
//   width: 120px !important;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
//   position: absolute;
// }

// .univLogoDiv {
//   position: relative;
//   background: #ffffff;
//   border: 1px solid #e5e5e5;
//   box-sizing: border-box;
//   border-radius: 6px;
//   width: 130px !important;
//   transform: translate(50%);
//   padding: 0px !important;
//   height: 58px;
//   margin-top: -43px;
// }

// .featureCont {
//   padding: 10px;
//   width: 100% !important;
//   margin-top: 0px;
//   height: 182px;
//   background: #f9f9f9;
//   border-radius: 0px 0px 8px 8px;
// }
// .featureSubCont {
//   // width: 46px;
//   // height: 24px;
//   //margin: 0 35.5px 4px 0;
//   font-family: Poppins;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 18px;
//   line-height: 1.33;
//   letter-spacing: normal;
//   text-align: left;
//   text-transform: capitalize !important;
//   color: rgba(88, 88, 90, 0.8);
// }
// .courseName {
//   height: 57px !important;
//   font-family: Poppins;
//   font-style: normal;
//   font-weight: 500;
//   overflow: overlay;
//   font-size: 16px;
//   line-height: 27px;
//   text-transform: capitalize;
//   color: #0068b1;
// }
// .courseList{
//   position: relative !important;
// }
// .courseDiv{
//   top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
// }
// .Rectangle-8 {
//   // width: 500px;
//   height: 370px;
//   width: 270px !important;
//   margin: 0px 0px 0px 0px;
//   padding: 0 0 19px;
//   box-shadow: 0px 0px 8px -2px #bdbdbe;
//   border: solid 0.5px #e3e3e3;
//   background: #f9f9f9;
//   max-width: 100% !important;
// }

// .Rectangle-198 {
//   padding: 0px !important;
//   width: 100%;
//   height: 150px;
//   //background-color: rgba(88, 88, 90, 0.08);
// }


// .topDiv {
//   height: 100%;
//   min-height: 100%;
//   min-width: 100%;
//   width: 100%;
//   flex-direction: row;
//   box-sizing: border-box;
//   display: initial !important;
// }

// .searchPadding {
//   padding-right: 10px;
//   padding-left: 10px;
//   padding-top: 10px;
// }



// .Power-Your-Learning-with-Coursedge {
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 39px;
//   /* identical to box height */
//   padding-top: 40px;
//   padding-left: 10px;
//   text-transform: capitalize;

//   color: #004070;
// }

// .mb-2 {
//   margin-bottom: 0.1rem !important;
// }

// .featureCom {
//   padding-right: 0px;
//   padding-bottom: 40px;
//   // box-shadow: 1px 1px 1px 1px #e9ecef !important;
//   // padding-left: 20px;
//   // width: 260px !important;
// }

// .instImag {
//   // max-height: -webkit-fill-available;
//   width: 270px;
//   height: 100%;
// }

// .actualPrice {
//   font-family: Montserrat;
//   font-size: 16px;
//   font-weight: 600;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.35;
//   letter-spacing: normal;
//   text-align: left;
//   color: #003b8d;
// }

// a {
//   border: none !important;
// }

// .homeSection {
//   /* height: 520px !important;  */
//   min-height: 50% !important;
//   height: 50% !important;
//   background-size: 100%;
//   margin-top: 0px !important;
//   padding-left: 0px;
//   padding-right: 0px;
//   padding-top: 62px;
//   z-index: 2;
//   display: initial !important;
// }

// .mobileVisible {
//   display: initial;
// }

// .desktopVisible {
//   display: none;
// }

// }
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
//   .colNameDiv{
//     padding-left: 80px;
//   }
// }

// @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
//   .colNameDiv{
//     padding-left: 100px !important;
//   }
// }

// @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
//   .colNameDiv{
//     padding-left: 80px !important;
//   }
// }
