<section style=" margin-top: 50px;">

    <div fxLayout="row wrap" class="cartHead" fxFlexFill>
        <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="orderSummeryDiv">
            <span class="orderSummery marginLeft">Contact Us</span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%"
            style="padding: 0px;    padding-bottom: 10px; ">
            <img src="./assets/images/contact.svg" alt="Card image cap" class=" desktopVisible summaryImg marginRight">
            <img src="./assets/images/contact.svg" alt="Card image cap" class="mobileVisible summaryImg ">
        </div>
    </div>

    <div class="aboutUsText">
        <p class="p1">A product of Sanguine Informatics LLC.</p>
        <p class="p1"><strong>SANGUINE INFORMATICS™</strong></p>

        <p>Sanguine Informatics™ is a leading managed IT and cloud services company that collaborates with clients to
            drive strategic growth, ignite innovation and navigate constant change. Through a combination of strategy,
            expertise and creativity, we help clients accelerate operational, digital and cultural transformation,
            enabling the change they need to own their future. By embracing diverse perspectives, encouraging new ideas
            and challenging the status quo, we create sustainable results for the organizations we serve.</p>

        <p class="p1"><strong>Our Services</strong></p>

        <ul>
            <li>Managed IT Services</li>
            <li> IT Staff Augmentation</li>
            <li> Security Services</li>
            <li> ERP & CRM & LMS Support.</li>

        </ul>
        <span class="p1"><strong>Email</strong></span> <br/>
        <a href = "mailto: contact@coursedge.org">contact@coursedge.org</a><br/><br/>
        
        <span class="p1"><strong>Phone</strong></span><br/>
     
        <p> 774-277-8666 </p>
        
        

        <!-- <p> -->

<!-- 
            <a href="https://www.instagram.com/lets_chalktalk/" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top rounded-0   iconCss" src="assets/talk/ins.png" alt="Card image cap "></a>
            <a href="https://www.linkedin.com/company/letschalktalk/" rel="noopener noreferrer" target="_blank">
                <img class="card-img-top rounded-0   iconCss" src="assets/talk/in.png" alt="Card image cap "></a>

            <a href="https://www.facebook.com/joinchalktalk/" rel="noopener noreferrer" target="_blank">
                <img class="card-img-top rounded-0  iconCss" src="assets/talk/fa.png" alt="Card image cap "></a>
 -->

             <!-- <a href="whatsapp://send?text=The text to share!" data-action="share/whatsapp/share">Share via Whatsapp</a>  -->


            <!-- <a href="https://www.facebook.com/joinchalktalk/" style="padding: 20px;
        size: 24px;
        font-size: 20px;
        width: 50px;
        border-radius: 5px;
        height: 48px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        text-align: center;
        text-decoration: none;" class="fa fa-facebook" target="_blank" rel="noopener noreferrer"></a>

        <a href="https://www.instagram.com/lets_chalktalk/" target="_blank" rel="noopener noreferrer"> 
        <span class="fa fa-instagram" style="    padding-top: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1px !important;
        margin: 5px;"> </span></a>

        <a href="https://www.linkedin.com/company/letschalktalk/" target="_blank" class="fa fa-linkedin" style="    padding-top: 17px;
        font-size: 24px;
        height: 50px;
        width: 57px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px; 
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        background: #007bb5;
        color: white;" rel="noopener noreferrer"></a> -->
        <!-- </p> -->
    </div>
</section>