
// @import '../menu/menu.component.scss';

.featureSubCont{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(88, 88, 90, 0.8);

  
}
.couponCss{
  font-size: 14px !important;
}
.alertLabel{
  z-index: 5 !important;
}
.subCartDetails{
  padding-top: 0px !important;
}
.faCss{
  color: grey !important;
  font-size: 16px;
}
.cHeaderPad{
  padding-top: 20px !important;
  //margin-bottom: 60px ;
}

.radioMode{
  text-align: left;
  justify-content: left;
  display: flex;
}
.radioButton{
  height: 20px !important;
  width: 30px !important;
  padding: 10px !important;
}
.radioSpan{
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color:#5D6068;
}
.cartHead{
  width: 100%;
  height: 234px;
  // background: linear-gradient(180deg, #AF71FE 0%, rgba(224, 79, 248, 0.6875) 31.25%, rgba(234, 104, 255, 0.375) 62.5%, rgba(255, 255, 255, 0) 100%), #44059D;
}

.repSpan:hover{
  /* background: grey; */
  transform: scale(1); 
  
  box-shadow: 0px 0px 0px 4px #ffd800;
  
  /* background: #f7b92c; */
}

.toolTipUl{
  padding-left: 20px;
}
.toolTipText{
  width: 100%;
  height: 100%;
  margin-left: 0px !important;
  padding-left: 0px !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 17px;
  color: #58585a;
}

.alertFont{
  font-family: Montserrat !important;
}

.formOutLine{
  background: #FFFFFF;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 100%;
}
.orderSummery{
  width: 233px;
  height: 34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;

}
.desktopVisible{
  display:flex;
}

.couponRemove{
  float: right;
}
.couponCode{
  // color: #EE6C00;
  font-family: Montserrat !important;
  text-align: center !important;
}
.borderBototmCss{
    
  // width: 639px;
  height: 0px;
  border: 1px dashed #D1D1D1;
  box-sizing: border-box;
}

.subText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #58585a;
  float: left;

}

.subAmount{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  float:right;
  line-height: 22px;
  letter-spacing: 0.01em;

  color: #58585a;
}
.tokenAmount{
  // width: 53px;
  // height: 22px;
  // font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  float:right;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #EE6C00;
}
.couponButtonDiv{
  padding-right: 0px !important;

}

.couponDiv{
  padding-right: 0px;
  justify-content: center;
  display: flex;
  padding-right: 0px;

}
.tokenAmountText{
 // position: absolute;
  // width: 197px;
  // height: 20px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: #58585a;

}

.noteText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #5D6068;
}

.noteCss{
//   position: absolute;
// width: 43px;
// height: 17px;
// left: 145px;
// top: 934px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #58585a;

}

.otpText{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #58585a;
}


.fieldDiv{
  text-align: center;
  width: 100%;
}
.fieldDivOTP{
  padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  width: 100%;
}

.buttonText{
  width: 115px;
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* idefntical to box height */


  color: #FFFFFF;
}
:host ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color:transparent !important;
} 
:host ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  color: transparent !important;
  background-color: transparent !important;;
 }


// ::ng-deep .tooltip-inner{border: 1px solid red} 
// .tooltip-inner{font-style: italic}

.applyCoupon{
    width: 20%;
    font-size: 14px;
    border: none;
    height: 42px !important;
    background: #1075bc;
    border-radius: 0px 4px 4px 0px;
}
.couponFiled{
  width: 80% !important;
  height: 42px;
  padding-left: 20px;
  border: 1px solid #CACACA; //#44059D;
  box-sizing: border-box;
  border-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.leftWidth{
  widows: 100%;;
}

::ng-deep.tooltip{
  position: absolute;
  top: 5px !important; 
  left: 35px !important;
  will-change: transform;
  transform: translate(289px, 268px);
}
.toolTipCart{
  width: 100%;
  background: #E9D8FF;
  border-radius: 10px;
 
}
.courseDivPadding{
  padding-left: 40px;
  padding-bottom: 70px;
  padding-right: 40px;
}

.rightWidth{
  float: right;
  width: 100%;
}

.instruction{
  width: 100%;
  height: 50px;
  padding-left: 20px;
  color:rgb(82, 83, 87);
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 4px;
}
.addresArea{
  padding-left: 20px;
  width: 100%;
  background: white;
  height: 69px;
  color:rgb(82, 83, 87) !important;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 4px;
}
::ng-deep .ng-placeholder .placeholder{
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5D6068;
  // padding-left: 15px;
  opacity: 1; 
}

.placeForm{
  padding-right: 0px !important;
  padding-left: 0px !important;
}


.inputField{
  // position: absolute;
  width: 100%;
  font-family: Montserrat;
  padding-left: 20px;
  height: 46px;
  // left: 836px;
  // top: 458px;
  color:rgb(82, 83, 87);
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 4px;
}

.loginDiv{
  text-align:center
}
.loginButton{
  // width: 386px;
   height: 45px;
   width: 100% ;
  // left: 836px;
  // top: 870px;
   margin-top: 10px;
  background: #1075bc;
  border: none;
  color:white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.courseImgCart {
  width: 90%;
    float: left;
    height: 80px;
    box-sizing: border-box;
    border-radius: 10px;
}
.orderSummeryDiv{
  justify-content: left;
  display: flex;
  align-items: center;
}
.summaryImg{
  width: 250px;
  height: 191.96px;
  float: right;
  // margin-right: 70px;
}
.courseCountHead{
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
  // width: 157px;
  // height: 22px;
  font-family:Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;;

}

.mb-2 {
  margin-bottom: 0px !important;
  text-align: left;
  padding-bottom: 5px;
}

.backgroundCart{
  margin-top: 0px;
  box-shadow: 0px 0px 11px 0px #f8f9fa;
  background: #ffffff ;//#E5E5E5;
  height: 100% !important;
}
.itemAdded{
  font-size: 18px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.01em;
  // text-transform: uppercase;
  // color: #58585a;
  font-family: Montserrat;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #0676bd;
}
.offPrice{
//   width: 66px;
// height: 20px;
// left: 217px;
// top: 505px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #58585a;
}

.offAge{
  // position: absolute;
  // width: 46px;
  // height: 15px;
  // left: 294px;
  // top: 509px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #59595b;
}

.actualPrice{
  // position: absolute;
  // width: 54px;
  // height: 22px;
  // left: 231px;
  // top: 686px;

  font-family: Montserrat;
  font-style: normal;
  //font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #5D6068;
}
.packageIncludes{
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
    line-height: 12px;
    letter-spacing: 0.01em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #5D6068;
}

.addOnIncluded{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  line-height: 12px;
  letter-spacing: 0.01em;
  // -webkit-text-decoration-line: underline;
  // text-decoration-line: underline;
  color: #5D6068;
}

.remove{
  // width: 52px;
  // height: 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 157%;
  /* identical to box height, or 19px */
  text-align: center;
  letter-spacing: 0.01em;
  text-decoration-line: underline !important  ;
  text-transform: capitalize;
  justify-content: flex-end;
  color: #1075bc !important;
}
.removeDiv{
  display: flex !important;
  text-align: left;
  justify-content: center;
}


.coursePaddingCart{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right:0px;;
}

.textPaddingCart{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 30px;
  width: 100%;
}

.textPaddingOTPBox{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.textPaddingOTP {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px; 
  padding-right: 20px;
  width: 100%;
}

.marginLeft{
  margin-left: 70px;
}
.marginRight{
  margin-right: 70px;
}

.paddingTop2section{
  margin-top: 50px;
}

.mobileVisible{
  display:none;
}
.otpHeader{
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
}

@media screen
and (max-device-width : 360px) {
.cHeaderPad{
  padding-top: 20px !important;
  margin-bottom: 100px ;
}
}
@media screen
and (max-device-width : 480px) {

  .fieldDivOTP{
    padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    width: 100%;
  }
  .textPaddingOTPBox{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .cHeaderPad{
    padding-top: 20px !important;
    margin-bottom: 50px ;
  }

  .radioButton{
    height: 15px !important;
    width: 30px !important;
    padding: 8px !important;
  }
  .radioSpan{
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    color:#5D6068;
  }

  .otpHeader{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
  }
 

  ::placeholder{
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5D6068;
  }

  // .applyCoupon{
  //   // width: 100px;
  //     width: 29%;
  //     font-size: 14px;
  //     // float: left;
  //     height: 42px !important;
  //     background: #44059D;
  //     border-radius: 0px 4px 4px 0px;
  // }
  // .couponFiled{
  //   width: 68%;
  //   // float: left;
  //   height: 42px;
  //   padding-left: 20px;
  //   border: 1px solid #CACACA; //#44059D;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  // }

  .loginButton{
    width: 100%;
    border: none;
    height: 40px;
    background: #1075bc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  .buttonText{
    width: 102px;
    height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .instruction{
    width: 100%;
    padding-left: 20px;
    height: 50px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .addresArea{
    width: 100%;
    height: 69px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .inputField{
    width: 100%;
    height: 42px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
  }

  .rightWidth {
    float: right;
    width: 100%;
  }

  .noteCss {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #58585a;
  }

  .noteText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;

    color: #5D6068;
  }

  .tokenAmountText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #58585a;
  }

  .tokenAmount{

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #EE6C00;

  }
  .subText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #58585a;

  }
  .textPaddingCart {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px; 
    padding-right: 10px;
    width: 100%;
}

.textPaddingOTP {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px; 
  padding-right: 0px;
  width: 100%;
}

.subAmount{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #58585a;
}
  .coursePaddingCart {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .desktopVisible{
    display:none;
  }
  .mobileVisible{
    display:flex;
}
  .cartHead{
    width: 100% !important;
    height: 138px !important;
    background: linear-gradient(180deg, #AF71FE 0%, rgba(224, 79, 248, 0.6875) 31.25%, rgba(234, 104, 255, 0.375) 62.5%, rgba(255, 255, 255, 0) 100%), #44059D;
  }

  .orderSummery{
    //position: absolute;
    // width: 150px;
    // height: 22px;
    // left: 20px;
    // top: 103px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

  }


  .courseDivPadding{

  }
  .summaryImg{
    //position: absolute;
    // width: 375px;
    // height: 138px;
    // left: 0px;
    // top: 45px;
    width: 132px;
    margin-top: 25px;      
    height: 109.53px;

  }

  .marginLeft{
    margin-left: 20px;;
  }

  .marginRight{
    margin-right: 20px;;
  }

  .formOutLine{
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 4px;
    width: 100%;

  }


  .courseCountHead{
    margin-top: 15px;
    padding-left: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
  }

  .courseDivPadding{
    padding-left: 10px;
    padding-bottom: 70px;
    padding-right: 10px;
}



.courseImgCart{
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.itemAdded{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  letter-spacing: 0.01em;
   color: #0676bd !important;

}
.packageIncludes{
  // position: absolute;
  // width: 91px;
  // height: 12px;
  // left: 72px;
  // top: 286px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;

  color: #5D6068;

}

.addOnIncluded{

  font-family: Montserrat;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  // text-decoration-line: underline;
// 
  color: #5D6068;
}

.offPrice{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-decoration-line: line-through;

  color: #58585a !important;

}

.offAge{
  

  // position: absolute;
  // width: 39px;
  // height: 12px;
  // left: 139px;
  // top: 313px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;

  color: #59595b;

}

.mb-2 {
  margin-bottom: 0px !important;
  text-align: left;
  padding-bottom: 0px;
}

.actualPrice{
  // position: absolute;
  // width: 42px;
  // height: 17px;
  // left: 83px;
  // top: 336px;

  font-family: Montserrat-bold;
  font-style: normal;
  //font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #5D6068;
}
.backgroundCart{
  margin-top: 0px;
  box-shadow: 0px 0px 11px 0px #f8f9fa;
  background: white; //#E5E5E5;
  height: 100% !important;
  
}
.toolTipText{
  width: 111px;
  height: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 14px;
  /* identical to box height */
  color: #58585a;
}
::ng-deep.tooltip{
  position: absolute;
  top: 5px !important; 
  left: 2px !important;
  will-change: transform;
  transform: translate(289px, 268px);
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
 
  .courseDivPadding{
    padding-left: 20px;
    padding-bottom: 70px;
    padding-right: 0px;
}
.loginButton{
  width: 100%;
  border: none;
  height: 40px;
  background: #1075bc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
}