<ng-sidebar-container>
    <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">

        <app-cart></app-cart>
    </ng-sidebar>

    <html lang="en" style="
top: 0;
/* left: 25%; */
bottom: 0;
width: 100%;" ng-sidebar-content>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CoursEdge</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="src/../../../assets/css/main.css" />
        <noscript>
            <link rel="stylesheet" href="src/../../../assets/css/noscript.css" />
        </noscript>
    </head>

    <body class="globalColor marginTop">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true">
            <p class="spinnerText" > {{service.otpMessage}}</p>
        </ngx-spinner>

        <div fxLayout="row" fxLayout.xs="row" fxFlexFill class="topDiv">

            <section class="homeSection  ">


                <div fxLayout="row wrap" fxLayout.xs="column wrap" fxFlexFill class="backgroundHome">
                    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
                        <img *ngIf="this.instImage!='' && this.instImage!=null" src="{{service.baseImageUrl}}{{instImage}}" class="homeImg  sideImage" alt="avatar">
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayout.xs="column wrap" fxFlexFill class="backgroundCollDettails">
                    <div fxFlex.gt-sm="20%" fxFlex.gt-xs="20%" fxFlex.xs="100%">
                        <div class="univTopDiv">
                        <div class="univLogoTop" >
                                                
                            <img *ngIf="this.instLogo!='' && this.instLogo!=null"class="univLogoCol"src="{{service.baseImageUrl}}{{this.instLogo}}"
                                alt="avatar">
                        </div>
                    </div>
                    </div>
                    <div fxFlex.gt-sm="80%" fxFlex.gt-xs="80%" fxFlex.xs="100%" class="colNameDiv">
                        <p class="colNameCSS" *ngIf="this.service.selectedInstData!=undefined">{{this.service.selectedInstData.name}} </p>
                        <p class="colAboutCss">{{instDescription}}</p>
                        <p *ngIf="instAddress!=null && instAddress!=''" class="colAboutCss colAddress"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                             &nbsp;{{instAddress}}
                             &nbsp; <a *ngIf="instPhone!='' && instPhone!=null" href="tel:{{instPhone}}" class="phoneCss"> 
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                &nbsp;{{instPhone | slice:0:2}}-{{instPhone | slice:2:5}}-{{instPhone | slice:5:8}}-{{instPhone | slice:8:15}} 
                                (call or text) </a>  </p>
                        <div fxLayout="row wrap" fxLayout.xs="row wrap" style="display: initial !important;">
                            <div fxLayout="row wrap"  fxFlex="100%">
        
                                <div  fxFlex="100%" fxLayout.xs="column">
                                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%" class="filtterBox" style="    padding-left: 0px;">
                                        <input type="search" class="customLocationWidth"
                                            placeholder="Search course" [(ngModel)]="term">
                                        <em class="fa search"></em>
            
                                        <input type="search" class="customLocationWidth"
                                        placeholder="Search course" hidden="true" [(ngModel)]="selectedLevel">
                                    </div>
                                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%" fxLayout.xs="row" class="filtterBox">
                                    <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="50%" class="filtterBox">
                                        <select class=" selectFiltter" [(ngModel)]="selectedLevel"
                                            (change)="sortByOptions()">
                                            <option value="selected" class="sortBySelect" selected >Select Level</option>
                                            <option value="RLtoH" class="sortBySelect">  Introductory
                                            </option>
                                            <option value="RHtoL" class="sortBySelect">Intermediate
                                            </option>
                                            <option value="PLtoH" class="sortBySelect">Advanced
                                            </option>
                                          
                                        </select>
                                    </div>
                                  
                                    <div fxFlex.gt-sm="50%"  fxFlex.gt-xs="50%" fxFlex.xs="50%" class="filtterBox" style=" margin-right: 0px;">
                                        <select class="selectFiltter" [(ngModel)]="selectedMode"
                                            (change)="sortByOptions()">
                                            <option value="selected" class="sortBySelect" selected >Class Mode</option>
                                            <option *ngFor="let mode of  this.service.classModes" [value]="mode.mode" class="sortBySelect">{{mode.mode}}  <span style="    color: #1075bc;">({{mode.count}})</span>
                                            </option>
                                        </select>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

              
                </div>

                
            </section>

            <section class="section2Padding">
                <div>
                    <p class="course_Spec">Courses and Specializations</p>
                </div>
                <div *ngIf="this.service.selectedInstData!=undefined" class="row">

                    <div fxFlexFill class="courseList" fxLayout="row wrap">

                        <div *ngIf="(this.service.selectedInstData.courses.length)<1" class="desktopPanCss courseDiv">
                            <div fxLayout="row wrap" fxFlexFill>
                                <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex.xs="30%" class="instImageDiv">
                                    <div class="imageDiv">
                                        <img class="instImag" src="./assets/images/swimming2.png" alt="avatar">
                                    </div>
                                </div>

                                <div fxFlex.gt-sm="50%" fxFlex.gt-xs="70%" fxFlex.xs="70%" class="courseDetails">
                                    <div>
                                        <p class="mb-2 courseH ">Sorry we don't have any course for this criteria
                                        </p>
                                        <p class="mb-2">
                                            <!-- <span   [innerHTML]="getVedorRaiting(menu.rating)"></span> -->
                                        </p>

                                        <p class="mb-2">
                                            <span class="offPrice">
                                                <!-- {{menu.displayprice|  currency: this.service.restaurant.currency :  'symbol' : '1.0-0'}} -->
                                            </span> &nbsp;
                                            <span class="offAge">
                                                <!-- ({{service.calculateOffPrice(menu.price ,menu.displayprice)}})% off -->

                                            </span>

                                        </p>
                                        <p class="mb-2 instName">
                                            But! I'd swim the ocean for you to bring the Course

                                        </p>
                                        <p class="mb-2">
                                            <span class="offPrice">
                                                LOL, Just kidding
                                            </span> &nbsp;
                                        </p>
                                        <p class="mb-2 ">
                                            <span class="actualPrice"> There are sharks in there. </span>
                                        </p>
                                    </div>


                                    <div class="mobileVisible mobileDetalsView">
                                        <button class="viewDetails">
                                            <p class="viewDetailsCss" [routerLink]="['/home']">
                                                <i class="fa fa-chevron-left" style="color: white; font-size: 10px;"
                                                    aria-hidden="true"></i>
                                                Back Home

                                            </p>
                                        </button>
                                    </div>

                                </div>

                                <div class="desktopVisible" fxFlex.gt-sm="20%" fxFlex.gt-xs="30%" fxFlex.xs="30%" style="
                       
                        justify-content: center;">
                                    <button class="viewDetails">
                                        <p class="viewDetailsCss" [routerLink]="['/home']">
                                            <i class="fa fa-chevron-left" style="color: white; font-size: 10px;"
                                                aria-hidden="true"></i>
                                            Back Home

                                        </p>
                                    </button>
                                </div>

                            </div>

                        </div>

                        <div *ngFor="let menu of  this.service.selectedInstData.courses | custFilterInst:term" class="courseDiv">
                            <div *ngIf="menu!==-1" fxLayout="row wrap">

                                <div class="featureCom" (click)="activeCartSection(menu)">
                                    <div class="Rectangle-8">
                                        <div fxLayout="row wrap" fxFlexFill>
                                            <div class="Rectangle-198">
                                                <img class="instImag" src="{{menu.image_download_url}}"
                                                    onError="this.src='./assets/images/testimonials/courses.jpg'"
                                                    alt="avatar">
                                            </div>
                                        <div class="univLogoDiv" >
                                                
                                            <img class="univLogo"src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"
                                                alt="avatar">
                                        </div>
                                            <div class="featureCont">
                                                <p class="mb-2 courseName " >
                                                    <a>{{menu.name}}</a>
                                                </p>

                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                                                </p>
                                                <p class="mb-2" *ngIf="menu.course_format!=null">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>

                                                        {{menu.course_format}}</span>
                                                </p>
                                                <p class="mb-2 ">
                                                    <span class="actualPrice"
                                                        *ngIf="this.service.restaurant!=undefined && menu.price >0">
                                                        <i class="fa fa-money" aria-hidden="true"></i>  {{menu.price | currency: this.service.restaurant.currency :
                                                        'symbol' : '1.0-0' }} </span>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="searchDiv" style="display: none;">
                    <input style="color:black;    border-color: #29c3e7;" type="text" [(ngModel)]="term">
                </div>
               
            </section>
            <section>
                <app-footer></app-footer>
            </section>
        </div>
    </body>

    </html>
</ng-sidebar-container>