
.publicDesc{
  height: 96px;
  overflow: hidden;
}
.carousel-item {
    position: relative;
    display: block !important;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}  
 .carousel-caption {
    width: auto !important;
    // left: 0;
    // padding: 0 20px;
}
.course_name{
  height: 35px !important;
   overflow: auto  !important;
}
* {
  box-sizing: border-box;
}
.marginTop{
  padding-top: 12px;
}

.UniversitiesBox {
  height: auto !important;

}

@media screen and (max-device-width: 480px) {

  .marginTop{
    padding-top: 40px;
  }

}
