<ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    <app-cart></app-cart>
  </ng-sidebar>
  <!doctype html>
  <html lang="en" ng-sidebar-content>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course Edge</title>
  </head>

  <body class="marginTopGlobal">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
      <p class="spinnerText"> {{service.otpMessage}}</p>
    </ngx-spinner>
    <!-- Slider Banner -->
    <section class="banner_slider marginTop ">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <swiper [spaceBetween]="20" [centeredSlides]="true" [effect]="'fade'" [pagination]="{
            clickable: true
          }" [autoplay]="{
            delay: 6500,
            disableOnInteraction: false
          }">
            <ng-container *ngFor="let menu of  this.featureCourses">
              <ng-template class="swiper-slide" swiperSlide>

                <div class="carousel-item ">
                  <img src="./assets/img/banner3.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>{{menu.name}}</h5>
                    <p class="maxDesc"> {{menu.public_description}}</p>
                    <p> {{menu.start_at | date}} - {{menu.end_at | date}}</p>
                    <p class="modecss"> {{menu.course_format}}</p>
                    <!-- <p *ngIf="this.service.restaurant!=undefined">{{menu.price | currency:
                  this.service.restaurant.currency : 'symbol' : '1.0-0' }} </p> -->
                    <div class="rating_star">
                      <ul>
                        <li class="star_active"><i class="fas fa-star"></i></li>
                        <li class="star_active"><i class="fas fa-star"></i></li>
                        <li class="star_active"><i class="fas fa-star"></i></li>
                        <li class="star_active"><i class="fas fa-star"></i></li>
                        <li class=""><i class="fas fa-star"></i></li>
                      </ul>
                      <p></p>
                    </div>
                    <a (click)="activeCartSection(menu)" class="common_button bg-blue p-coursor">Get Course</a>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </swiper>
        </div>
      </div>
    </section>
    <!-- End Slider Banner -->
    <!-- Our Top University Partners -->
    <section class="University_Partners ptb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb-4">
            <h2 class="mainHeading">Our Top University Partners <span class="borderBlue bg-blue"></span></h2>
          </div>
          <ng-container *ngFor="let item of service.vendorList">
            <div class="col">
              <div class="logo_Partners p-coursor" (click)="activateInstitue(item.vendorId)">
                <img src="{{service.baseImageUrl}}{{item.businessPortraitImageUrl}}" alt="client_logo1"
                  class="img-fluid">
              </div>
            </div>
            <div class="col">
              <div class="logo_Partners p-coursor">
                <img src="./assets/img/client_logo2.jpg" alt="client_logo2" class="img-fluid">
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </section>
    <!-- End Our Top University Partners -->
    <!-- Featured Courses  -->
    <section class="featuredCourse ptb-60">
      <div class="container">
        <div class="row ">
          <div class="col-md-12 text-center mb-4">
            <h2 class="mainHeading">Featured Courses To Get You Started <span class="borderBlue bg-blue"></span></h2>
            <p class="font18 mt-4">Get An Edge On Your Career With These Courses.</p>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let menu of  this.featureCourses">
            <div class="col-lg-4 col-md-6">
              <div class="course_box_style1">
                <div class="course_image  p-coursor">
                  <img src="{{menu.image_download_url}}" (click)="activeCartSection(menu)" onError="this.src='./assets/images/testimonials/courses.jpg'"
                    alt="course_image1" class="img-fluid featured_image">
                  <div class="Course_logo p-coursor">
                    <img (click)="activateInstitue(menu.vendorId)"
                      src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}" alt="partner_logo"
                      class="img-fluid">
                  </div>
                </div>
                <div class="content_course">
                  <div class="category_Price d-flex justify-content-between align-items-center">
                    <span class="categoryTag p-coursor"> <a (click)="activateInstitue(menu.vendorId)"><i class="fas fa-map-marker-alt"></i> {{menu.vendor.vendorName}}</a></span>
                    <h5 *ngIf="this.service.restaurant!=undefined">{{menu.price | currency:
                      this.service.restaurant.currency : 'symbol' : '1.0-0' }}</h5>
                  </div>
                  <h3 class="course_name p-coursor"><a  (click)="activeCartSection(menu)"> {{menu.name}} </a> </h3>
                  <ul>
                    <li><i class="far fa-calendar-alt"></i> {{menu.start_at | date}} - {{menu.end_at | date}} </li>
                    <li><i class="far fa-clock"></i>
                      {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}} </li>
                  </ul>
                  <div class="Enroll_Button d-flex align-items-center justify-content-between"
                    (click)="activeCartSection(menu)">
                    <div class="button_addBuy">
                      <a (click)="activeCartSection(menu)" class="common_button bg-blue p-coursor">View Course</a>
                    </div>
                    <p class="onlineClass modecss"> {{menu.course_format}}</p>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>

        </div>
      </div>
    </section>
    <!-- End Featured Courses  -->
    <!-- Popular Courses  -->
    <section>
    </section>
    <section class="Popular_Courses bg_grey ptb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb-4">
            <h2 class="mainHeading">Popular Courses <span class="borderBlue bg-blue"></span></h2>
          </div>
        <ng-container *ngFor="let item of popularCourses">
          <div class="col-md-4">
            <div class="course_box_style2">
              <div class="course_image">
                <img src="{{item.image_download_url}}" (click)="activeCartSection(item)" onError="this.src='./assets/images/testimonials/courses.jpg'" alt="course_image1" class="img-fluid featured_image p-coursor">
                <div class="Course_logo p-coursor">
                  <img (click)="activateInstitue(item.vendorId)"
                  src="{{service.baseImageUrl}}{{item.vendor.businessLogoImageUrl}}" alt="partner_logo" class="img-fluid ">
                </div>
              </div>
              <div class="content_course">
                <h3 class="course_name p-coursor"><a  (click)="activeCartSection(menu)">{{item.name}} </a></h3>
                <p class="publicDesc">{{item.public_description}} 
                </p>
                <div class="view_programme d-flex justify-content-between align-items-center">
                  <a (click)="activeCartSection(item)"   class="text-blue p-coursor">View Course <img src="./assets/img/Arrow_right.svg" alt="arrow_right"
                      class="img-fluid"></a>
                  <h6 *ngIf="this.service.restaurant!=undefined">{{item.price | currency:
                    this.service.restaurant.currency : 'symbol' : '1.0-0' }}</h6>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
          
         
        </div>
      </div>
    </section>
    <section>



    </section>
    <section class="Universities_Innovating ptb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb-5">
            <h2 class="mainHeading">Member Institutions Innovating with CoursEdge <span class="borderBlue bg-blue"></span></h2>
          </div>
          <swiper [config]="config">
            <ng-container *ngFor="let item of service.vendorList;">
              <ng-template class="swiper-slide" swiperSlide>

                <div class="UniversitiesBox p-coursor" (click)="activateInstitue(item.vendorId)">
                  <div class="logo_nameUni d-flex align-items-center">
                    <div class="logo_imageUni">
                      <img src="{{service.baseImageUrl}}{{item.businessPortraitImageUrl}}" alt="Hudson_University"
                        class="img-fluid">
                    </div>
                    <div class="Universities_nameBox">
                      <h5>{{item.businessName}}</h5>
                      <div class="rating_star">
                        <ul>
                          <li class="star_active"><i class="fas fa-star" aria-hidden="true"></i></li>
                          <li class="star_active"><i class="fas fa-star" aria-hidden="true"></i></li>
                          <li class="star_active"><i class="fas fa-star" aria-hidden="true"></i></li>
                          <li class=""><i class="fas fa-star" aria-hidden="true"></i></li>
                          <li class=""><i class="fas fa-star" aria-hidden="true"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <p> {{item.introduction}}</p>
                </div>

              </ng-template>
            </ng-container>
          </swiper>
        </div>
      </div>
    </section>

    <!-- FOR LEARNERS -->
    <section class="for_leanerSec bg-blue">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="./assets/img/for_leaner.png" alt="for_leaner" class="img-fluid">
          </div>
          <div class="col-md-6">
            <div class="for_pointlist">
              <div class="box_leaner">
                <div class="cout_lerner">1</div>
                <div class="lernerDetails">
                  <h6 class="text-white"><span></span> FOR LEARNERS</h6>
                  <h3 class="text-white">Propel your career, get a degree, or expand your knowledge at any level.</h3>
                  <a href="#" class="arrow_iconbtn"><img src="./assets/img/Arrow_right.svg" alt="arrow_right"
                      class="img-fluid"></a>
                </div>
              </div>
              <div class="box_leaner">
                <div class="cout_lerner">2</div>
                <div class="lernerDetails">
                  <h6 class="text-white"><span></span> FOR BUSINESSES</h6>
                  <h3 class="text-white">Upskill employees and build a culture of learning.</h3>
                  <a href="#" class="arrow_iconbtn"><img src="./assets/img/Arrow_right.svg" alt="arrow_right"
                      class="img-fluid"></a>
                </div>
              </div>
              <div class="box_leaner">
                <div class="cout_lerner">3</div>
                <div class="lernerDetails">
                  <h6 class="text-white"><span></span> For Institutions</h6>
                  <h3 class="text-white">Expand your market reach through a partnerships driven by modern technologies.</h3>
                  <a href="#" class="arrow_iconbtn"><img src="./assets/img/Arrow_right.svg" alt="arrow_right"
                      class="img-fluid"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <app-footer></app-footer>
    </section>
  </body>

  </html>
</ng-sidebar-container>