<ng-sidebar-container>
    <ng-sidebar [(opened)]="cartService.isOpen"      position="right" showBackdrop="true" closeOnClickBackdrop="true">

        <app-cart></app-cart>
    </ng-sidebar>

    <div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
            <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
                class="modal-content  alertCss">
                <div>
                    <div style="text-align: center;padding-top: 18px;">

                        <p class="pt-1 pr-2 " class=" alertFontSize globalFont"> {{attentionMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
            <div style="color:black;  height:auto; background: #196aa4;     font-size: 0px;"
                class="modal-content alertCss">
                <div>
                    <div style="text-align: center;padding-top: 18px;">
                        <p class="pt-1 pr-2" class="alertFontSize globalFont"> {{errorMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="10"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
            <div style="color:black; height:auto;background: #196aa4; " class="modal-content  alertCss">
                <div>
                    <div style="text-align: center;padding-top: 18px;">
                        <p class="alertFontSize globalFont">{{successMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <html lang="en"  ng-sidebar-content>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chalk Talk</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="src/../../../assets/css/main.css" />
        <noscript>
            <link rel="stylesheet" href="src/../../../assets/css/noscript.css" />
        </noscript>
    </head>
   
    <body  class="globalColor marginTop">

        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>
        <div fxLayout="row" fxLayout.xs="row" fxFlexFill class="topDiv">

            <section *ngIf="homeSection==true" class="homeSection  ">
              
                <div fxLayout="row wrap" *ngIf="service.restaurant!=undefined" fxLayout.xs="column wrap" fxFlexFill class="backgroundHome" 
                [style.background]="'url('+service.baseImageUrl+''+service.restaurant.businessLandscapeImageUrl+')'"> 
                
                <div fxLayout="row wrap" fxLayout.xs="column wrap" style="background: rgb(0 0 0 / 41%);    width: 100%;"> 
                    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%" style="height: 345px;">
                        
                        <div fxLayout="row wrap" fxLayout.xs="row wrap"  style="display: initial !important;" >
                            <div class="wow fadeIn" fxFlex="100%" 
                                fxFlexFillstyle="margin-left: 15px;display: contents !important;">
                                <p class="Power-Your-Learning-with-Coursedge " >
                                    {{service.restaurant.businessName}} 
                                </p>
                            </div>
                            <div class="wow fadeIn" fxFlex="100%"  
                                fxFlexFillstyle="margin-left: 15px;display: contents !important;">
                                <p class="-Top-courses-to-choose-from " >
                                   <!-- SCHOOL OF BUSINESS -->
                                </p>
                            </div>
                            <div fxLayout="row"fxFlex="100%"  fxFlex="0 1 calc(100% -75px)"
                                fxFlex.lt-md="0 1 calc(100% -75px)" fxFlex.lt-sm="100%" fxLayout.xs="row wrap" class=" md-form "
                                class="searchPadding">

                                <div style="width: 100%;" fxFlex.xs="100%" >
                                    <ng-select style="width: 100%;" [items]="this.service.courseTypeList"
                                        bindLabel="name" bindValue="cuisineTypeId" [multiple]="true" size="30"
                                        placeholder="{{myPlaceHolder}}" (click)="onSearch($event)"
                                        [(ngModel)]="this.service.selectedCityIds" style="font-weight: 500 !important;
                                                font-style: normal;
                                                font-stretch: normal;
                                                font-family: OpenSans;
                                                font-size: 16px !important;
                                                letter-spacing: normal;" class="customLocationWidth ">
                                    </ng-select>
                                </div>

                                <div fxFlex.xs="100%" >

                                    <input type="button" (click)="activeCuisineDivSection()" mdbInput
                                        class="submitButton desktopVisible" value="Go">

                                </div>

                            </div>

                        </div>
                    </div>
                    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex.xs="100%">
                        <!-- <p class="camoustext unviDivE">Explore our campus</p> -->
                        <div fxLayout="row wrap" fxLayout.xs="row wrap" style="justify-content: center;"   >
                            <ng-container *ngFor="let item of service.vendorList">
                              
                                    <div class="picsum-img-wrapper" style="padding: 15px;">
                                        <button class="buttonCss" (click)="activateInstitue(item.vendorId)">
                                          <span class="unviDivE">  {{item.businessName}}</span>
                                            <div class="button__horizontal"></div>
                                            <div class="button__vertical"></div>
                                        </button>
                                    </div>
                          
                        </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            </section>

            <section class="featureDiv">
                <p class="Curated-Feature-Courses-To-Get-You-Started padding-leftMob">
                Featured Courses  To Get You Started </p>
                <p class="bestCourse">The best courses on CoursEdge mapped to your
                    learner needs.</p>

                <div class="mobileVisible">
                    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000"
                        [keyboard]="true" [pauseOnHover]="true" [wrap]="true">
                        <ng-container *ngFor="let menu of  this.featureCourses">
                            <ng-template ngbSlide style="margin: 20px !important; ">
                                <div fxLayout="row wrap" class="featureCom" fxFlexFill
                                    (click)="activeCartSection(menu)">
                                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="40%" fxFlex.xs="40%" class="Rectangle-8">
                                        <div fxLayout="row wrap" fxFlexFill style="    padding: 5px;">
                                            <div class="Rectangle-198">
                                                <img class="instImag" src="{{menu.image_download_url}}"
                                                    onError="this.src='./assets/images/testimonials/courses.jpg'"
                                                    alt="avatar">
                                            </div>
                                            <div class="univLogoDiv" >
                                                
                                            <img class="univLogo" (click)="activateInstitue(menu.vendorId)"  src="{{service.baseImageUrl}}{{menu.vendor.businessPortraitImageUrl}}"
                                                onError="this.src='./assets/images/testimonials/lasell_lu.png'"
                                                alt="avatar">
                                            </div>
                                            <div class="featureCont">
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        {{menu.vendor.vendorName}}</span>
                                                </p>
                                                
                                                <p class="mb-2 courseName " >
                                                    <a>{{menu.name}}</a>
                                                </p>
                                                <p class="mb-2 instP" style="cursor: pointer;">

                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                                                </p>
                                                <p class="mb-2" *ngIf="menu.course_format!=null">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>

                                                        {{menu.course_format}}</span>
                                                </p>
                                                <p class="mb-2 " style="padding-top: 5px;"
                                                    *ngIf="this.service.restaurant!=undefined && menu.price >0">
                                                    <span class="actualPrice"> <i class="fa fa-money " aria-hidden="true"></i> {{menu.price | currency:
                                                        this.service.restaurant.currency : 'symbol' : '1.0-0' }} </span>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ngb-carousel>
                </div>
                <div class="desktopVisible">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let menu of  this.featureCourses">
                            <ng-template carouselSlide style="margin: 20px !important;margin-left: 40px;">
                                <div fxLayout="row wrap" class="featureCom" fxFlexFill
                                    (click)="activeCartSection(menu)">
                                    <div fxFlex.gt-sm="30%" fxFlex.gt-xs="40%" fxFlex.xs="40%" class="Rectangle-8">
                                        <div fxLayout="row wrap" fxFlexFill>
                                            <div class="Rectangle-198">
                                                <img class="instImag" src="{{menu.image_download_url}}"
                                                onError="this.src='./assets/images/testimonials/courses.jpg'"
                                                    alt="avatar">
                                            </div>
                                            <div class="univLogoDiv" >
                                            <img class="univLogo"  (click)="activateInstitue(menu.vendorId)" src="{{service.baseImageUrl}}{{menu.vendor.businessLogoImageUrl}}"
                                              
                                                alt="avatar">
                                            </div>

                                            <div class="featureCont">

                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                        {{menu.vendor.vendorName}}</span>
                                                </p>
                                                

                                                <p class="mb-2 courseName ">
                                                    <a>{{menu.name}}</a>
                                                </p>
                                                <p class="mb-2 instP" style="cursor: pointer;">

                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{menu.start_at | date}} - {{menu.end_at | date}}</span>
                                                </p>
                                                <p class="mb-2">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {{service.calculateDuration(menu.duration,menu.courseDurationInHr)}}</span>
                                                </p>
                                                <p class="mb-2" *ngIf="menu.course_format!=null">
                                                    <span class="featureSubCont">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>

                                                        {{menu.course_format}}</span>
                                                </p>
                                                <p class="mb-2 "
                                                    *ngIf="this.service.restaurant!=undefined && menu.price >0">
                                                    <span class="actualPrice"> <i class="fa fa-money" aria-hidden="true"></i> {{menu.price | currency:
                                                        this.service.restaurant.currency : 'symbol' : '1.0-0' }} </span>
                                                </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>

            </section>

            <section style="width: 100% !important; background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);;">
                <p class="sectionH">
                    {{service.restaurant.businessName}} Campus </p>
                    
                <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000"
                    [keyboard]="true" [pauseOnHover]="true" [wrap]="true" class="univPanel">
                    <ng-container *ngFor="let item of service.vendorList">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper univTemp">
                            <div class="testimonImgDiv">
                                <img class="card-img-top rounded-0 testimonImgCss "
                                src="{{service.baseImageUrl}}{{item.businessPortraitImageUrl}}" alt="Card image cap ">

                            </div>
                          
                            <div class="section5Para">
                               {{item.introduction}}
                            </div>
                            <div class="section5_1Para">{{item.businessName}}</div>
                            <div class="viewDetailsBtn">
                                <button class="Rectangle-6-1">
                                    <span class="viewDetailsBtnTxt" (click)="activateInstitue(item.vendorId)"> View Courses</span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                </ngb-carousel>
          
            </section>

            <!-- <section style="width: 100% !important; ">
                <div class="Rectangle-27">

                    <p class="sectionI">Become A Partner</p>
                    <p class="Transform-Your-University-With-Coursedge" style="text-align: center">
                        Transform Your University With CoursEdge
                    </p>
                    <div style="text-align: center;">
                        <button class="Rectangle-6-1" (click)="openInstructorModel()">
                            <span class="viewDetailsBtnTxt">Enquire</span>
                        </button>
                    </div>

                </div>
            </section> -->


            <section class="footer">
                <app-footer></app-footer>
            </section>

        </div>
    </body>

    </html>
</ng-sidebar-container>