


<div mat-dialog-content style="
    margin: 0px;
    padding: 25px;
    background: white;
    border-radius: 10px;">
    <p class="pt-1 pr-2" style="padding-top: 20px !important;
    letter-spacing: 1px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    ">
     Please enter 6 digit Registration Code</p>
    <form class="md-form form-sm" >
        <input type="number" id="form19" maxlength="6" name="otp" id="otp" #otp  class="form-control"
          style="border-color: #1c5b68; color:black;text-align:center"  placeholder="Enter Registration Code">
        <button mat-dialog-actions class="btn btn-info mb-2 waves-light" style="width: 100%;
        color: white !important;
        font-family: Montserrat;
        text-align: center;
        margin-top: 20px;
        background: #0f75bc;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 37px; " (click)="confirm(otp.value)">Submit 
        <i class="fa fa-send ml-1"></i></button>
      </form>
</div>
