
/* .padding-zero{
    padding: 0;
}
.select-options{
    margin: 3px 0px 8px 0px;
}
.panel-options{
    background-color: rgba(212, 212, 212, 0.63);
    padding: 8px 0px 32px 3px;
}
.orderChkbox{
    margin-right: 10px !important;
} */

@media (min-width:768px) {
    #wrapper {
        padding-left: 0 !important;
    }
    .app-modal-window .modal-dialog {
        width: auto;
    }
   .app-modal-window .modal-content {
        height: 80%;
        overflow-x: scroll;
        margin: 15px;
    }
}
.ful-selector{
    background-color: transparent;
    border: 0;
}
.table {
    font-size: small;
}

/* @media (min-width: 1024px) {
    .table > thead > tr > th, .table > tbody > tr > th,
    .table > tfoot > tr > th, .table > thead > tr > td,
    .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 2px !important;
    }
}

.table {
    //margin-bottom: 3px;
    font-size: medium;
}

.cursor-table{
    cursor: pointer;
    background-color: rgba(66, 139, 202, 0.19);
    margin-bottom: 10px;
    padding: 6px;
}
.dashboard-icon{
    height: 23px;
    margin-left: 7px;
    cursor: pointer;
}
 */
/* .ful-selector{
    background-color: transparent;
    border: 0;
}
.fulfillment-dropdown{
    margin: 41px 0px 0px 10px;
    min-width: 145px;
}
.menu-category, .menu-item{
    padding: 0;
}
.category-name, .item-detail{
    border: solid #DDDDDD 2px;
    margin: 4px;
    height: 14%;
    font-size: small;
    text-align: center;
    padding-top: 2%;
    cursor: pointer;
}
.item-single-line{
    padding-top: 11% !important;
}
.customer-info{

}
.phone-search-box, .deliver-area-select-box{
    width: 196px !important;
}
.phone-search-btn+
{
    margin-top: 0;
}
.input-group {
    margin-bottom: 3px;
}
span.badge{
    background-color: #5CA3E1;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}
.table > thead:first-child > tr:first-child > td{
    font-weight: bold;
}

.pos-discount-field{
    width: 71px !important;
}
.discount-options{
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(218, 240, 228);
}
.align-right{
    text-align: right !important;
}
.line-seperator{
    border-top: solid 1px #C0C0C0;
    margin: 2px;
}
.error-msg{
    color: red;
    font-size: small;
}
#allowEditBtn .btn.active{
	background:#2C6491;
} */