<ng-sidebar-container>
  <ng-sidebar [(opened)]="cartService.isOpen" position="right" showBackdrop="true" closeOnClickBackdrop="true">
    <app-cart></app-cart>
  </ng-sidebar>

  <div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
    <div class="modal-dialog modal-frame modal-top lablePadding alertLabel" role="document">
        <div style="color:black;     height:auto; background: #fb081d;" class="modal-content">
            <div>
                <div style="text-align: center;padding-top: 18px;">
                    <p class="pt-1 pr-2" style="font-size:16px;color:white !important;">{{errorMsz}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  [config]="{backdrop: false, ignoreBackdropClick:false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alertLabel"  role="document">
            <div style="color:black; height:auto;background: #46d846;" class="modal-content">
                <div>
                    <div style="text-align: center;padding-top: 18px;">
                        <p style="font-size:16px;color:white !important;">{{successMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top lablePadding alertLabel" role="document">
            <div style="color:white;  height:auto;" class="modal-content globalThemeBG">
                <div>
                    <div style="text-align: center;padding-top: 18px;">
                        <p class="pt-1 pr-2" style="font-size:16px;color:white !important;">{{attentionMsz}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!doctype html>
<html lang="en" ng-sidebar-content>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Course Edge About Us</title>
  </head>
  
  <body class="marginTopGlobal ">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true">

      <p class="spinnerText" > {{service.otpMessage}}</p>

    </ngx-spinner>
    <!-- Breadcrum -->
      <section class="breadcrum_wrapper ptb-90" style="background-image: url(./assets/img/about-us.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="bread_details">
                <h1>My Profile</h1>
                <ul>
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li>My Profile</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- End Breadcrum -->
    <section class="profile_sec bg_grey ptb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="PersonalIconse bg-dark-grey">
              <img src="./assets/img/user_icon.svg" alt="user_icon">
            </div>
          </div>
          <div  *ngIf="this.service.isLogin==false" class="col-md-10">
            <div class="profileDetails">
              <div class="profileTophead d-flex justify-content-between align-items-center">
                <h2><span></span>Registration Email</h2>
              </div>
              <form [formGroup]="customerFromInfoProfile">
                
             <div *ngIf="customerLogin!=undefined">
              
                <input type="text" class="inputField "    placeholder="Email address to use for course registration"  #phoneNumber required>
                <button (click)="loginCustomer(phoneNumber)"  class="loginBtn loginButton bg-blue text-white common_button">
                  <span class="buttonText "> Login </span> </button>
              
             </div>
              <!-- <ul>
                <li *ngIf="customerLogin!=undefined" class="searchInput" >
                  <input type="text"  placeholder="Email address to use for course registration"  #phoneNumber required>
                </li>
                <li >
                   <button (click)="loginCustomer(phoneNumber)" class="bg-blue text-white common_button">Login</button>
                </li>
                 <li><span>Phone</span>
                  <input type="email" id="email" placeholder="Phone Number" formControlName="mobile" class="textBox" disabled>
                </li>
              </ul> -->
            </form>
          </div>
          </div>

          <div  *ngIf="this.service.isLogin==true" class="col-md-10">
            <div class="profileDetails">
              <div class="profileTophead d-flex justify-content-between align-items-center">
                <h2><span></span>Personal Details</h2>
                <button class="bg-blue text-white common_button"><i class="far fa-edit"></i> Profile Edit</button>
              </div>
              <form [formGroup]="customerFromInfoProfile">
                
             
              <ul>
                <li ><span>Name</span>
                  <input type="text"  id="username" placeholder="Your Name" formControlName="username" class="textBox" disabled>
                </li>
                <li formControlName="email"><span>E-Mail</span>
                  <input type="email" id="email" placeholder="Email address" formControlName="email" class="textBox" disabled>
                </li>
                <!-- <li><span>Phone</span>
                  <input type="email" id="email" placeholder="Phone Number" formControlName="mobile" class="textBox" disabled>
                </li> -->
              </ul>
            </form>
            </div>
          </div>
        </div>
      </div>      
    </section>

    <section class="Course_details ptb-90"  *ngIf="this.service.isLogin==true" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="profileTophead">
              <h2><span></span>Course Details</h2>
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <div class="accordion" id="accordionExample">
              <ng-container *ngFor="let order of orderHistory">
                <div  class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" >
                      <ul class="Course_name">
                        <li class="C_Name"><span>Course Name</span>
                          <a href="{{this.service.baseUrl}}{{invoiceLinkPrefix}}{{order.invoiceNo}}">Invoice</a></li>
                        <li><span>Amount</span>$700.00</li>
                        <li><span>Date</span>  {{order.openTime | date:'MM.dd.yyyy ' }}</li>
                      </ul>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul class="Course_Grades">
                        <li><span>Course Grades : </span>A+</li>
                        <li><span>Course Credits : </span>$700.00</li>
                        <li><span>Course Levels : </span>12-May-2021</li>
                        <li><span>Course Status : </span>In Progress</li>
                      </ul>
                      <div class="col-md-12 Request_btn text-center">
                        <button class="btn"><img src="./assets/img/request-certificate.svg" />Request Certificate</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
                <!-- <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <ul class="Course_name">
                        <li class="C_Name"><span>Course Name</span>Capstone Course in Financial Planning</li>
                        <li><span>Amount</span>$652.00</li>
                        <li><span>Date</span>28-March-2021</li>
                      </ul>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul class="Course_Grades">
                        <li><span>Course Grades : </span>A+</li>
                        <li><span>Course Credits : </span>$700.00</li>
                        <li><span>Course Levels : </span>12-May-2021</li>
                        <li><span>Course Status : </span>In Progress</li>
                      </ul>
                      <div class="col-md-12 Request_btn text-center">
                        <button class="btn"><img src="./assets/img/request-certificate.svg" />Request Certificate</button>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <ul class="Course_name">
                        <li class="C_Name"><span>Course Name</span>Online master of computer science</li>
                        <li><span>Amount</span>$700.00</li>
                        <li><span>Date</span>12-May-2021</li>
                      </ul>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul class="Course_Grades">
                        <li><span>Course Grades : </span>A+</li>
                        <li><span>Course Credits : </span>$700.00</li>
                        <li><span>Course Levels : </span>12-May-2021</li>
                        <li><span>Course Status : </span>In Progress</li>
                      </ul>
                      <div class="col-md-12 Request_btn text-center">
                        <button class="btn"><img src="./assets/img/request-certificate.svg" />Request Certificate</button>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <app-footer></app-footer>
    </section>
  </body>
</html>
</ng-sidebar-container>