.textBox{
  border: none;
  color:black !important;
  width: 100%;
}
.loginBtn{
  margin-top:10px;
}
// #headrer_dvi{
// background-color:black;
// }

// .cartHead{
//     width: 100%;
//     height: 234px !important    ;
//     background: linear-gradient(89.75deg, #6bb3e8 0.42%, #0368b4 52.47%), #0368b4;
//     // background: linear-gradient(180deg, #AF71FE 0%, rgba(224, 79, 248, 0.6875) 31.25%, rgba(234, 104, 255, 0.375) 62.5%, rgba(255, 255, 255, 0) 100%), #44059D;
//   }

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }
// .ng-invalid:not(form)  {
//   border-left: 5px solid #0268b2; /* red */
// }
// ::ng-deep mat-ink-bar{
//   background: #0268b3 !important;
// }
// .profileLogo{
//     width: 200px;
//     padding-top: 4px;
//     height: 60px;
//     color: black;
//     font-weight: bold;
//     text-align: center;
// }
// .profileHeader {
//     height: 72px;
//     /* background-image:linear-gradient(45deg,#18b1a8 20%,#a2f9f3 60%,#18b1a8); */
//     position: fixed;
// }

// .lablePadding{
//     padding-right: 25px;
//     padding-top: 10px;
//     padding-left: 25px;
// }
// .lableRadius{
//     border-radius: 0px;
//   }

//   .orderSummeryDiv{
//     justify-content: left;
//     display: flex;
//     align-items: center;
//   }

//   .mobileVisible{
//     display:none;
//   }
//   .desktopVisible{
//     display:block;
//   }

//   .summaryImg{
//     width: 250px;
//     height: 191.96px;
//     float: right;
//     padding-top: 20px;
//     // margin-right: 70px;
//   }

//   .marginRight{
//     margin-right: 70px;
//   }
//   .marginLeft{
//     margin-left: 70px;;
//   }
//   .orderSummery{
//     width: 233px;
//     height: 34px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 28px;
//     line-height: 34px;
//     color: #FFFFFF;
  
//   }

//   .courseCountHead{
//     margin-top: 20px;
//     margin-bottom: 30px;
//     text-align: left;
//     // width: 157px;
//     // height: 22px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 22px;
//     color: #000000;
  
//   }

//   .formOutLine{
//     background: #FFFFFF;
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 4px;
//   }

//   .coursePaddingCart{
//     padding-top: 0px;
//     padding-bottom: 20px;
//     padding-left: 20px;
//     padding-right: 20px;;
//   }

  .inputField{
    // position: absolute;
    width: 100%;
    font-family: Montserrat;
    padding-left: 20px;
    height: 42px;
    // left: 836px;
    // top: 458px;
    background: #f8f9fa;
    color:rgb(82, 83, 87);
    border: 0px solid white;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #b1cee7 !important;
  }


  .buttonText{
    width: 115px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* idefntical to box height */
  
  
    color: #FFFFFF;
  }
  
// .loginDiv{
//     text-align:center
//   }
//   .leftWidth{
//     widows: 100%;;
//   }

//   .rightWidth{
//     float: right;
//     width: 500px;
//   }

//   .loginButton{
//     // width: 386px;
//      height: 52px;
//      width: 100% ;
//     // left: 836px;
//     // top: 870px;
//      margin-top: 10px;
//      border: none;
//      background: #0268b3;
//     color:white;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
//     border-radius: 4px;
//   }

//   .tabHeader{
//     //position: absolute;
//     height: 17px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 17px;
//     /* identical to box height */
//     letter-spacing: 0.01em;
//     text-transform: capitalize;
//     color: #000000;
//     text-align: center !important; 
//     padding: 15px !important;

//   }

//   .tabDiv{
//     // position: absolute;
//     // width: 639px;
//     height: 412px;
//    // left: 262px;
//    // top: 392px;
    
//     background: #FDFDFD;
//     border: 1px solid #E5E5E5;
//     box-sizing: border-box;
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 4px;
//   }

//   .tabWidth{
//     height: auto !important;
//     min-height: auto !important;
//     min-width: 100% !important;
//     width: auto !important;
//     display: flex;
//   }

//   ::ng-deep .mat-tab-label {
//     height: 48px;
//     padding: 0 24px;
//     cursor: pointer;
//     box-sizing: border-box;
//     opacity: .6;
//     min-width: 160px;
//     text-align: center;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     white-space: nowrap;
//     position: relative;
//     width: 50% !important;
// }
// .statusCss{
// height: 17px;
// font-family: Montserrat;
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// line-height: 17px;
// letter-spacing: 0.01em;
// text-transform: capitalize;
// color: #3F9205;
// }

// .viewCss{
// height: 17px;
// font-family: Montserrat !important;
// font-style: normal;
// font-weight: 600;
// font-size: 14px;
// line-height: 17px;
// letter-spacing: 0.01em;
// text-decoration-line: underline;
// text-transform: capitalize;
// color: #1075bc !important;

// }

// .dateCss{
//     height: 17px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 17px;
//     /* identical to box height */

//     letter-spacing: 0.01em;
//     text-transform: capitalize;

//     color: #58585a;

// }

// ::ng-deep .mat-tab-label-content{
//     height: 40px !important;
//     font-family: Montserrat !important;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px !important;
//     line-height: 20px !important;
//     letter-spacing: 0.01em !important;
//     text-transform: capitalize !important;
//     color: #5D6068 !important;
// }

// .courseBorder{
//     padding-bottom: 20px;
//     border-bottom: 1px dashed #CACACA;
//     padding-top: 15px;
// }

// .customerDetails{
//     text-align: center !important;  
//     height: 22px;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 22px;
//     /* identical to box height */
//     color: #000000;
// }

// .willVisibleHere{
//   text-align: center !important;  
//   height: 22px;
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 600;
//   padding-top: 70px;
//   font-size: 18px;
//   line-height: 22px;
//   /* identical to box height */
//   color: #929292ab;
// }

// .customerDivCss{
//     width: 550px !important;
//     float: right !important;
// }

// .inputMargin{
//     margin-top: 15px;
//     margin-bottom: 15px;
// }

// ::ng-deep .mat-tab-label-content{
//     font-size: 16px !important;
//     color:#5D6068 !important
// }

@media screen
and (max-device-width : 480px) {

//     .customerDetails{
//         // width: 123px;
//         height: 17px;
//         font-family: Montserrat ;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         padding-top: 20px !important;
//         padding-bottom: 10px;
//         margin-bottom: 20px !important;
//         /* identical to box height */

//         text-align: center !important;
//         color: #000000;
//     }

    .inputField{
        width: 85px;
        height: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        background: #f8f9fa;
        /* identical to box height */


        color: #000000;
    }

//     ::ng-deep .mat-tab-label-content{
//         font-size: 12px !important;
//         color:#5D6068 !important
//     }

//     .tabHeader{
//         width: 38px;
//         height: 12px;
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 10px;
//         line-height: 12px;
//         letter-spacing: 0.01em;
//         text-transform: capitalize;

//         color: #000000;
//     }

//     .customerDivCss {
//         width: 100% !important;
//         float: right !important;
//     }

//     .statusCss{
//         height: 11px;
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 9px;
//         line-height: 11px;
//         /* identical to box height */

//         letter-spacing: 0.01em;
//         text-transform: capitalize;

//         color: #3F9205;

//         }
        
//         .viewCss{
//             // width: 24px;
//             height: 11px;
           
//             font-family: Montserrat;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 9px;
//             line-height: 11px;
            
//             letter-spacing: 0.01em;
//             text-decoration-line: underline;
//             text-transform: capitalize;
            
//             color: #1075bc;
        
//         }
        
//         .dateCss{
           
//             width: 94px;
//             height: 11px;
//             font-family: Montserrat;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 9px;
//             line-height: 11px;
//             /* identical to box height */
            
//             letter-spacing: 0.01em;
//             text-transform: capitalize;
            
//             color: #58585a;
        
//         }

//     .tabDiv{
//         // position: absolute;
//         width: 100%;
//         height: 412px;
//        // left: 262px;
//        // top: 392px;
        
//         background: #FDFDFD;
//         border: 1px solid #E5E5E5;
//         box-sizing: border-box;
//         box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
//         border-radius: 4px;
//       }

//     .courseDivPadding{

//         padding: 10px !important;
//     }

//     .rightWidth {
//         float: right;
//         width: 100%;
//       }
    
//     .loginButton{
//         width: 100%;
//         height: 52px;
//         border: none;
//      background: #0268b3;
//         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
//         border-radius: 4px;
//       }

    .buttonText{
        width: 102px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }

    .inputField{
        width: 100%;
        height: 42px;
        border: 0px solid white;
        box-sizing: border-box;
        border-radius: 4px;
      }

//     .coursePaddingCart {
//         padding-top: 0px;
//         padding-bottom: 20px;
//         padding-left: 0px;
//         padding-right: 0px;
//       }

//     .formOutLine{
//             background: #FFFFFF;
//             box-shadow: none;
//             border-radius: 4px;
        
//     }

//   .courseCountHead{
//     margin-top: 15px;
//     padding-left: 10px;
//     margin-bottom: 10px;
//     text-align: left;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 17px;
//     color: #000000;
//   }
    
//   .orderSummery{
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 22px;
//     /* identical to box height */


//     color: #FFFFFF;

//   }
    
//     .marginRight{
//         margin-right: 20px;;
//       }
//       .marginLeft{
//         margin-left: 20px;;
//       }

//     .mobileVisible{
//         display:flex;
//       }
//       .desktopVisible{
//         display:none;
//       }

//       .summaryImg{
//         width: 132px;
//         margin-top: 25px;      
//         height: 109.53px;
//         padding-top: 0px;
    
//       }

//     .cartHead{
//         width: 100% !important;
//         height: 138px !important;
//         // left: 0px;
//         // top: 45px;
//         background: linear-gradient(89.75deg, #6bb3e8 0.42%, #0368b4 52.47%), #0368b4;
//       //  background: linear-gradient(180deg, #AF71FE 0%, rgba(224, 79, 248, 0.6875) 31.25%, rgba(234, 104, 255, 0.375) 62.5%, rgba(255, 255, 255, 0) 100%), #44059D;
//       }

//     .lablePadding{
//         padding-right: 10px !important;
//         padding-top: 10px !important;
//         padding-left: 10px !important;
//     }
   
//     .profileLogo{
//         width: 132px !important;
//         padding-top: 4px;
//         height: 52px !important;
//         color: black;
//         font-weight: bold;
//         text-align: center;
//     }

//     .profileHeader {
//         height: 65px !important;
//         /* background-image:linear-gradient(45deg,#18b1a8 20%,#a2f9f3 60%,#18b1a8); */
//         position: fixed;
//     }
// }
// .form-container {
//     display:block;
//     padding:2em;
//     margin: 2em auto;
//     background:#fff;
// }
// .badge_inner{
//     display: inline-block;
//     padding: .25em .4em;
//     font-size: 75%;
//     font-weight: 700;
//     line-height: 1;
//     white-space: nowrap;
//     vertical-align: baseline;

//     color: orange;
//     position: absolute;
//     height: 1.5rem;
//     top: 12px;
//     right: 21px;
//     width: 2rem;
//     text-align: center;
//     line-height: 2rem;
//     font-size: 2rem;
//     border-radius: 20%;
//     background-color: transparent;
// }
// .compCart{
//     margin-left: auto;
//     padding-right: 0px;
// }
// .customCart {
//     position: relative;
// }
// #item-counter {
//     top: -.75em;
//     left: .75rem;
// }
// .navbar_internal {
   
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     padding: .5rem 1rem;
//     padding-left: 0.5rem;
//     box-shadow: none;
    

// }
// #compHeader-Title {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     color:white;
//     display: flex;
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     -webkit-box-pack: end;
//     -ms-flex-pack: end;
//     justify-content: flex-end;
   
// }

// .alert {
//     background: #f2edda;
//     padding: 7px;
//     font-size: .9em;
//     margin-bottom: 20px;
//     display: inline-block;
//     animation: 2s alertAnim forwards;
// }

// .button {
//     margin-top: 3rem;
// }
// h1 {
//     margin-bottom: 2rem;
//     font-weight:bold;
//     font-family:'Muli';
//     font-size: 2em;
// }


// @keyframes alertAnim {
//     from {
//         opacity:0;
//         transform: translateY(-20px);
//     }
//     to {
//         opacity:1;
//         transform: translateY(0);
//     }
}


