
<div mdbModal #onlyAttentionMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
[config]="{backdrop: false, ignoreBackdropClick: false}">
<div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
    <div style="color:black;  height:auto; background: #196aa4; font-size: 0px;"
        class="modal-content  alertCss">
        <div>
            <div style="text-align: center;padding-top: 18px;">

                <p class="pt-1 pr-2 " class=" alertFontSize globalFont"> {{attentionMsz}}</p>
            </div>
        </div>
    </div>
</div>
</div>


<div mdbModal #onlyErrorMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
[config]="{backdrop: false, ignoreBackdropClick: false}">
<div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
    <div style="color:black;  height:auto; background: #196aa4;     font-size: 0px;"
        class="modal-content alertCss">
        <div>
            <div style="text-align: center;padding-top: 18px;">
                <p class="pt-1 pr-2" class="alertFontSize globalFont"> {{errorMsz}}</p>
            </div>
        </div>
    </div>
</div>
</div>

<div mdbModal #onlySuccessMsz="mdb-modal" class="modal fade top alertLabel" id="frameModalBottom" tabindex="10"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
[config]="{backdrop: false, ignoreBackdropClick: false}">
<div class="modal-dialog modal-frame modal-top lablePadding alerttRadius" role="document">
    <div style="color:black; height:auto;background: #196aa4; " class="modal-content  alertCss">
        <div>
            <div style="text-align: center;padding-top: 18px;">
                <p class="alertFontSize globalFont">{{successMsz}}</p>
            </div>
        </div>
    </div>
</div>
</div>


   
 <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true">
    <p class="spinnerText" > {{service.otpMessage}}</p>
</ngx-spinner>
<mat-toolbar position="right" style="    background:white;
color: black;
width: 100%;
padding: 0px;
position: fixed;
top: 0;
height: 62px;
z-index: 2;">

<header class="main_header">
  <div class="header_wapper">
    <div class="d-flex align-items-center justify-content-between">
      <div [routerLink]="['/home']" class="logo_and_menu d-flex  col-md-3 p-coursor">
        <div class="mainlogo">
          <a ><img src="../../assets/img/logo.png" alt="logo" class="img-fluid"></a>
        </div>
      </div>
      <div class="SearchBox  col-md-7">
        <div class="searchInput">
          <i class="fas fa-search"></i>
          <input type="search" name="search" [(ngModel)]="inputSearch" placeholder="Search Course" list="itemList"> 
          <datalist id="itemList">
            <option *ngFor="let item of this.service.courseTypeList" value="{{item.name}}"> 
          </datalist>
          <button  (click)="getSearchInput()" class="bg-blue text-white common_button">Search</button>
        </div>
        
      </div>
      <div class="rightCart d-flex">
        <div class="cart_button"  *ngIf="cartService.getBadgeCount()<=0" >
          <img src="../../assets/img/shopping-cart.svg" alt="shopping-cart">
         <span class="badge bg-blue">{{cartService.getBadgeCount()}}</span>
        </div>
        <div class="cart_button" *ngIf="cartService.getBadgeCount()>0" (click)="_toggleOpened()">
          <img src="../../assets/img/shopping-cart.svg" alt="shopping-cart">
         <span class="badge bg-blue">{{cartService.getBadgeCount()}}</span>
        </div>
        <div class="login_button">
          <button [matMenuTriggerFor]="menu"   *ngIf="this.service.isLogin" class="bg-dark-grey text-white">
            <img src="../../assets/img/user_icon.svg" alt="user_icon">
           <ng-container *ngIf="this.service.userName!=undefined && this.service.customerInfo==undefined">
            <div>{{this.service.userName}}</div>
           </ng-container>
           <ng-container *ngIf="this.service.userName!=undefined && this.service.customerInfo!=undefined">
            <div>{{this.service.userName}}</div>
           </ng-container>
           <ng-container *ngIf="this.service.customerInfo!=undefined && this.service.userName==undefined">
            <div *ngIf="this.service.customerInfo.customers!=undefined && this.service.customerInfo.customers[0].firstName!=''">{{this.service.customerInfo.customers[0].firstName}}</div>
            <div *ngIf="this.service.customerInfo.customers!=undefined && this.service.customerInfo.customers[0].firstName==''&& this.service.customerInfo.customers[0].lastName!=''"> {{this.service.customerInfo.customers[0].lastName}}</div>
           </ng-container>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile']" >
              <p class=" navLink dropList" style=" padding-right: 20px;color:#58585a;"> Your Orders <span class="caret"></span></p>
            </button>
            <button [routerLink]="['/profileSignout']" mat-menu-item >
              <p class=" navLink dropList myyAccountt" style=" padding-right: 20px;color:#58585a;" >
                 Logout<span class="caret"></span>
              </p>
            </button>
          </mat-menu>

          <button [routerLink]="['/profile']"  *ngIf="!this.service.isLogin" class="bg-dark-grey text-white">
            <img src="../../assets/img/user_icon.svg" alt="user_icon">
            <div  ><a>Sign In</a></div>
          </button>
        </div>
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile_searchSec d-none">
    <div class="nav-search-field">
      <input type="text" class="nav-input" [(ngModel)]="inputSearch" placeholder="Search Course" data-aria-clear-label="Clear search keywords" 
      list="itemList" name="k" autocomplete="off" autocorrect="off" autocapitalize="off" dir="auto" value="" id="nav-search-keywords">
      <datalist id="itemList">
        <option *ngFor="let item of this.service.courseTypeList" value="{{item.name}}"> 
      </datalist>
    </div>
      <div class="nav-search-submit">
        <button (click)="getSearchInput()"><i class="fas fa-search"></i></button>
      </div>
  </div>
</header>
</mat-toolbar>