
// .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {

//     line-height: 1.5 !important;
// }

// button, input, optgroup, select, textarea {
//     margin: 0;
//     font-family: inherit;
    
//     line-height: inherit;
// }

// .searchInput{
//     font-size: 1rem;
// }